[2016-06-29 12:27] martinholmer commented on #789
Issue #789 has been resolved by the merger of pull request #796 into the master branch.

[2016-06-29 12:27] #789 closed

[2016-06-29 12:30] martinholmer commented on #793
Issue #793 still needs to be resolved after pull request #796 has been merged into the master branch.

@MattHJensen

[2016-06-29 15:40] martinholmer commented on #780
Closing issue #780 because T.J. added more decorator tests in merged pull request #799.
Thanks, @talumbau.

[2016-06-29 15:40] #780 closed

[2016-06-30 19:34] MattHJensen opened #811 "exception handling"
A side discussion in #786 concerned exception handling. Looking back, #768/#754 touched on related issues. As a relative newcomer to Python and programming more generally, I am wondering if @zrisher, @talumbau, @martinholmer, or anyone else could provide any resources or background information that could help Tax-Calculator and other OSE  contributors think about how to handle exceptions in these

[2016-07-08 19:52] martinholmer opened #821 "Last chance to express concerns about #818-#820"
Pull requests #818, #819, and #820, are ready for review.  If no concerns are raised, these three pull requests will be merged into the master branch sometime on Tuesday, July 12th.  These changes simplify the tax-calculating code without any changes in the results from the unit tests, validation tests, or reform comparisons.

@MattHJensen @feenberg @talumbau @Amy-Xu @GoFroggyRun @zrisher

[2016-07-12 19:34] martinholmer commented on #821
Pull requests #818, #819, and #820, have been merged into the master branch.

[2016-07-12 19:34] #821 closed

[2016-07-20 21:34] martinholmer commented on #299
Both the `_cmp` and `puf` variables were removed from Tax-Calculator in a series of pull requests merged in late June and July, 2016.  These pull requests are in the range from #803 to #820.  So, this issue has been resolved in a different way than @mmessick envisioned, but her view that there was no need to have two separate variables for the same concept was accurate.

[2016-07-20 21:34] #299 closed

[2016-07-20 21:43] martinholmer commented on #152
@talumbau said on February 26, 2015:

The `puf` variable was removed from both Tax-Calculator function definitions and decorators in a series of pull requests merged in late June and July, 2016. These pull requests are in the range from #803 to #813.  So, the legitimate concern raised in this issue #152 is no longer relevant.

[2016-07-20 21:43] #152 closed

[2016-07-20 22:35] martinholmer commented on #292
Given the recent enhancements made by @talumbau to make Tax-Calculator 'runnable' without the numba package (merged pull request #799), it would seem as if issue #292 has been resolved.  If there are no remaining unresolved issues, #292 should be closed with a big thank-you to T.J.

@MattHJensen @feenberg @Amy-Xu @GoFroggyRun @zrisher

[2016-07-20 22:46] martinholmer commented on #659
Martin Holmer said on May 27:

T.J.'s work in merged pull request #799 --- plus no comments on this issue over the past two months --- suggests that this issue #659 has been resolved.

[2016-07-20 22:46] #659 closed

[2016-07-24 18:12] martinholmer commented on #272
Merged pull request #837 resolved issue #272 by showing that the current tax-calculating code handles changing CALCULATED_VARS correctly from one call of Calculator.calc_all() to the next.

[2016-07-24 18:12] #272 closed

[2016-07-24 21:14] martinholmer commented on #173
@MattHJensen said on March 10, 2015:

As of July 23, 2016, the calculation of `c62100` does use `c18300` and does not use either `_sit` or `e18500` as seen in the `AMTI()` code fragment below:
[code]
So, it would seem that this issue #173 has been resolved.

[2016-07-24 21:14] #173 closed

[2016-07-25 17:04] martinholmer commented on #282
@MattHJensen said during April 2016 in issue #282:

And @GoFroggyRun responded:

So where do we stand on this issue #282?  Is it resolved as @GoFroggyRun suggests in his response?  Or do we need to do something to resolve it?  I'd be willing to work on this but need some guidance.  It seems important to address this issue given that it is labeled as a bug.

@feenberg @Amy-Xu @zrisher

[2016-07-25 17:16] martinholmer commented on #487
@MattHJensen said during November 2015 in issue #487:

This bug has been fixed as shown in [these results](http://www.ospc.org/taxbrain/4725/) generated by TaxBrain version 0.6.5.

[2016-07-25 17:16] #487 closed

[2016-07-25 17:31] martinholmer commented on #207
@talumbau and @MattHJensen had a brief conversation during April 2015 in issue #207 about setting the Tax-Calculator start_year.

Is this really a live issue?  It would seem as if in all the changes since April 2015 have settled the question about how best to specify the start_year.  If so, shouldn't issue #207 be closed?  If not, shouldn't a new issue (that reflects the current logic of Tax-Calcu

[2016-07-25 17:41] talumbau commented on #207
Yep, this issue is stale. Closing.

[2016-07-25 17:41] #207 closed

[2016-07-25 18:22] martinholmer commented on #207
@talumbau said:

Thanks for the help.

[2016-07-25 19:07] martinholmer commented on #145
@MattHJensen discussed the `s006` weight variable read in from the `puf.csv` file in issue #145 during the February-March, 2015, period, and he suggested some changes to the Tax-Calculator code.

In the current `Records` class code, the `s006` variable is divided by 100 in every year.  So, it would seem that the correct weights are being used in Tax-Calculator. I suppose it would speed Tax-Calcula

[2016-07-25 19:09] Amy-Xu commented on #145
Personally feel this issue not relevant anymore w/ current master of Tax-Calculator.

[2016-07-25 19:31] martinholmer commented on #787
Sorry for the delay, but here are my major enhancements between release 0.6.3 and release 0.6.4:
[code]

[2016-07-25 19:45] martinholmer opened #840 "Release 0.6.5 changes"
Major changes I have contributed between release 0.6.4 (#794) and release 0.6.5 (#820):
[code]

[2016-07-25 19:50] martinholmer opened #841 "Release 0.6.6 changes"
I'm having trouble remembering my contributions from one release to another, so I'm opening an issue that I can add to as I work and hopefully others will add to it as their contributions are merged into the master branch.

The last commit included in release 0.6.5 was #820.

[2016-07-25 19:58] martinholmer commented on #841
Since release 0.6.5 (#820) I have contributed the following enhancements to Tax-Calculator.
[code]

[2016-07-25 20:01] martinholmer commented on #724
How about adding to the release change log as we go?  See issue #841.

[2016-07-25 21:37] MattHJensen commented on #724
That makes sense to me.

Where do you think it would make sense to document this procedure for other contributors?

[2016-07-25 21:55] MattHJensen commented on #145
Thanks @martinholmer and @Amy-Xu. Agreed that this should be closed and closing.

[2016-07-25 21:55] #145 closed

[2016-07-25 21:59] MattHJensen commented on #282
It looks like I missed @GoFroggyRun's response that this is resolved. Closing. Thanks @martinholmer and @GoFroggyRun.

[2016-07-25 21:59] #282 closed

[2016-07-25 22:01] martinholmer commented on #724
Martin said:

Matt responded:

Well, a few months ago I would have said the Contributor Guide, but now I'm not so sure.  There isn't much evidence that new users are reading it.  See, for example, open pull request #824 submitted by codykallen.  First of all, this person is not even a GitHub user --- at least, that name does not come up when I type `@cod`.  And, he doesn't seem to have read the Ta

[2016-07-25 22:04] martinholmer commented on #145
@Amy-Xu and @MattHJensen,  Thanks for your quick responses.

[2016-07-25 22:06] martinholmer commented on #282
@MattHJensen, Thanks for the quick response.

[2016-07-26 18:53] martinholmer commented on #752
For a more up-to-date discussion of the `puf.csv` filing unit discussed during May 2016 in issue #752, see the discussion surrounding pull request #842.

[2016-07-26 18:53] #752 closed

[2016-07-26 19:01] martinholmer commented on #753
After investigating the "corner" unit discussed in #752, my opinion is that maintaining a catalogue of unusual tax filing units is a very low priority project.  There are many other projects related to Tax-Calculator that would have a much higher return on staff effort.

But maybe I'm missing something.  What do others think about this proposed project?

@MattHJensen @feenberg @Amy-Xu @GoFroggyRun

[2016-07-26 19:15] martinholmer commented on #710
This issue #710 has been resolved as well as possible by adding a warning to the Policy.implement_reform method docstring in commit 0d2887e on June 20, 2016.

[2016-07-26 19:15] #710 closed

[2016-07-26 23:55] martinholmer commented on #160
@MattHJensen, issue #160 from March 2015 seems to be out-of-date.  As far as I can see, there are no print statements in the calculate.py file other than the optional:
[code]
And, again as far as I can see, there is no "logging module" anywhere in Tax-Calculator.
Can we close issue #160?  Or does something useful need to be done with the current code?

[2016-07-27 00:23] MattHJensen commented on #160
@martinholmer, this issue is referencing the optional print statements you have highlighted:
[code]

When I committed those print statements in #147, @talumbau [suggested](https://github.com/open-source-economics/Tax-Calculator/pull/147#issuecomment-77450139) refactoring them with Python's built in [logging module](https://docs.python.org/3/library/logging.html).

I remember that T.J. explained th

[2016-07-27 01:18] MattHJensen commented on #753
I've been thinking of this issue, #753, and @GoFroggyRun's accompanying pull request, #764, as an attempt to document oddities we've found in the tax code. We wouldn't be storing corner units for the sake of storing corner units, rather, we would be using corner units to illustrate the oddities.

Sean brings up a good example of one of these oddities by referencing #555. There we encountered some

[2016-07-27 02:39] talumbau commented on #160
Sure. The built-in Python logging module is quite powerful. The [documentation](https://docs.python.org/3/library/logging.html) is quite extensive and, in my view, the module might suffer a bit from overdesign. But there are two basic ideas that are really great:

 - log *levels*: sometimes I want very verbose logs, perhaps if I am debugging a potential problem. Sometimes I only want to see events

[2016-07-27 12:46] martinholmer commented on #171
Issue #171 has been resolved by the merger into the master branch of pull request #839.

[2016-07-27 12:46] #171 closed

[2016-07-27 12:54] martinholmer commented on #304
Issue #304 has been (partially) resolved by merging pull request #843 into the master branch.  The resolution of this issue was to warn users against reusing Policy and Records objects in different Calculator objects in the docstring for the Calculator constructor.

The original issue --- no deepcopy of the Policy and Records objects passed to the Calculator constructor --- remains and is a potent

[2016-07-27 22:58] martinholmer commented on #793
Closing issue #793 because @codykallen is developing in pull request #824 a new iPython notebook that presumably will replace the obsolete `Behavioral_example.ipynb` notebook.

@MattHJensen @codykallen @Amy-Xu

[2016-07-27 22:58] #793 closed

[2016-07-29 13:00] martinholmer commented on #488
Issue #488 has been resolved by pull request #842.

[2016-07-29 13:00] #488 closed

[2016-07-29 13:24] MattHJensen commented on #319
A great deal has been completed on this issue since it was opened in 18-Jul 2015.

The first objective was completed:

- We can now input TAXSIM formatted data and we regularly conduct extensive validation testing against internet TAXSIM using that capability.

Relatedly:
- We can now input any data that contains a subset of variables in `VALID_READ_VARS`.

John O'Hare are working on the second ob

[2016-07-29 13:27] martinholmer commented on #277
Issue #277 has been resolved by merged pull request #845.

[2016-07-29 13:27] #277 closed

[2016-07-29 13:35] martinholmer commented on #319
@MattHJensen, Thanks for the useful progress report on issue #319.

[2016-07-29 14:04] martinholmer commented on #292
Issue #292 has been resolved by merged pull request #799, which was developed by @talumbau.  Thank you @talumbau for adding this flexibility to Tax-Calculator.

[2016-07-29 14:04] #292 closed

[2016-07-29 14:19] zrisher commented on #319
@MattHJensen @martinholmer If you like, I'm happy to create a new issue for:

There's a lot of related info floating around in this repo's issues. It would be good to link it from one place, centralize the discussion, and get this issue one step closer to being closed.

[2016-07-29 14:27] martinholmer commented on #319
@zrisher said:

This sounds like a good idea to me.  What do you think, @MattHJensen?

[2016-07-29 17:38] zrisher commented on #811
[PEP 8](https://www.python.org/dev/peps/pep-0008) mentions some exception handling and raising rules that are already enforced and we should of course follow:

1) If the exception handler will be printing out or logging the traceback; at least the user will be aware that an error has occurred.
2) If the code needs to do some cleanup work, but then lets the exception propagate upwards with raise .

[2016-07-29 18:52] feenberg commented on #811
What exceptions can be raised by this software? Is this about debugging or
do we contemplate exceptions occurring during normal use?

dan

On Fri, 29 Jul 2016, zrisher wrote:

[2016-07-29 19:06] zrisher commented on #811
do we contemplate exceptions occurring during normal use?

This project can throw lots of customized errors during normal use. I think a great example is [this line ](https://github.com/open-source-economics/Tax-Calculator/blob/0f811c9cb2f2a9be3682c57decfc5fd8d11f279e/taxcalc/records.py#L400)that checks to ensure that `MUST_READ_VARS` are available in the data passed to a `Records` object. If we d

[2016-07-29 19:19] martinholmer commented on #811
@zrisher provides in issue #811 a good example of where Tax-Calculator raises an exception and stops running: if the variables in the `MUST_READ_VARS` set are not present in the input data file.   He provides the code that checks for that and here is the definition of the `MUST_READ_VARS` set:
[code]
So, there are only two required input variables: a `RECID` variable to identify each filing unit a

[2016-07-29 21:29] feenberg commented on #811
On Fri, 29 Jul 2016, zrisher wrote:

I see. It wouldn't happen on taxbrain but might happen to a user who was
supplying their own data or modifying programs.

dan

[2016-07-29 23:43] MattHJensen commented on #319
That makes sense to me too.

[2016-07-30 21:50] zrisher opened #851 "Tax-Calculator should accept common formats of individual tax data"
This issue is created to track a portion of the functionality discussed in #319:

The motivation here is that the dependency on the PUF data may prevent many potential users or contributors from getting involved with the project, and this would make taxcalc interesting to anyone who cares about his own finances but not necessarily about the national implications of tax policy.

All US taxpayers mu

[2016-07-30 21:53] zrisher commented on #319
Ok, Point 3 has been moved to #851:

All that remains tracked under this issue is Point 2:

[2016-07-30 23:02] feenberg commented on #851
I don't think we should be parsing PDF files..

A much more important, and also work-intensive task is to allow more
general tax reforms - specified by formulas rather than check boxes. I
already have run in to people with reforms they would like to score, but
couldn't fit into the existing boxes on our web form. As far as I know we
haven't talked to the programmers about this yet.

dan

On Sat, 3

[2016-07-30 23:30] zrisher commented on #851
general tax reforms - specified by formulas rather than check boxes.

@feenberg It seems that is covered by #429, correct?

[2016-07-31 00:14] zrisher commented on #429
@martinholmer said:

That would ease the problem of form field proliferation on webapp, but doesn't accommodate the custom logic that @feenberg proposes.

Obviously anyone using the tax calculator locally can just extend the existing calculation classes and methods. But for webapp users, providing fully customizable logic requires two things:

* hooks in each of the relevant areas (e.g. before and

[2016-07-31 07:44] MattHJensen commented on #319
@zrisher and @martinholmer, would you suggest I edit the [original comment ](https://github.com/open-source-economics/Tax-Calculator/issues/319#issue-95820440) by deleting Point 3?

[2016-07-31 08:12] MattHJensen commented on #429
This is my understanding as well.

[2016-07-31 08:29] MattHJensen commented on #429
I agree. John O'Hare has called this the "Holy Grail" of tax modeling user interfaces.

As @zrisher suggests above, and @talumbau has suggested before also, the way we would probably do this is two steps:

I've been thinking that a good first step might be to start with the first step. Then we could see how we like it before doing the hard part.

I believe this would entail building hooks into the

[2016-07-31 17:56] zrisher commented on #319
@MattHJensen I would suggest you create a new issue for Point 2 and close this one. :smile:

[2016-07-31 18:05] martinholmer commented on #429
It is good to see some discussion of issue #429 after a hiatus of eight months.

@zrisher said on July 30, 2016:

The above exchange highlights a number of issues that we should be keeping in mind.

First, policy reforms can be parametric reforms or structural reforms.  Parametric reforms are those that can be simulated with the current-version of Tax-Calculator by specifying alternative values fo

[2016-08-01 00:50] martinholmer commented on #633
@Amy-Xu said on March 4, 2016, in issue #633:

@zrisher has "cleaned this [`e_variable_info.csv`] file up" to some extent in pull request #853, but there is still much more to do with respect to issue #633.  For example, there are many variable in the `e_variable_info.csv` file that are no longer in the Tax-Calculator `VALID_READ_VARS` set.  For a listing of those variable, see the `var_labels.txt

[2016-08-01 01:04] zrisher commented on #633
The columns that tell us which Tax Form / Line / Section each variable relates to are also missing some data, which will be included in my Luca PR. Because some of the mappings are not 1-1, documenting them in the TaxForm classes I propose may be a better option than in this file. That will be easier to discuss once my PR is actually opened, though. :smile:

[2016-08-01 02:03] zrisher commented on #304
In my opinion, there's more work we could do to truly resolve this issue. I think it would be useful to

or really w.r.t. anything that's reading from them for a few reasons:

* From a modeling perspective, it feels strange that the `Parameter` objects store the state in which some other object (the `Calculator`) is referencing them. Conceptually, a new user would think of a `Policy` set or `Growt

[2016-08-01 09:16] martinholmer commented on #633
@zrisher said:

Sounds good.  We're all looking forward to your Luca contributions.

[2016-08-01 09:20] martinholmer commented on #304
@zrisher has recently made substantive comments on issue #304, so this issue is being re-opened to facilitate a continuing discussion.

[2016-08-01 17:57] martinholmer commented on #213
Issue #213 has been resolved by pull requests #848 and #852.

[2016-08-01 17:57] #213 closed

[2016-08-04 07:26] MattHJensen commented on #226
Resolved via #526 and improved via #854 and #855.

[2016-08-04 07:26] #226 closed

[2016-08-04 07:27] MattHJensen commented on #227
This was resolved by @amy-xu and the Python code now resides in www.github.com/open-source-economics/taxdata

[2016-08-04 07:27] #227 closed

[2016-08-04 08:06] MattHJensen commented on #24
Closing this issue. The idea of English-descriptive variable names may come up again in the future --especially as we add variables to our datafile that are not available on the IRS PUF --  but the issue is not specific or actionable now.

[2016-08-04 08:06] #24 closed

[2016-08-04 08:09] MattHJensen commented on #132
This has not proven to be high-priority. @GoFroggyRun will need to add a tax bracket as part of his work on https://github.com/open-source-economics/plot_concepts/issues/3, but there is not a need right now for user-defined numbers of taxbrackets in Tax-Calculator and TaxBrain right now.

[2016-08-04 08:09] #132 closed

[2016-08-04 08:09] MattHJensen commented on #295
@zrisher, do you think this issue can be closed now?

[2016-08-04 08:11] MattHJensen commented on #851
Thanks @zrisher, looking forward to your WIP PR.

[2016-08-04 08:26] MattHJensen commented on #230
I have moved this issue https://github.com/open-source-economics/taxdata/issues/32. @GoFroggyRun recently took on this project and I have asked him to provide an update on his work there.

@GoFroggyRun, could you think about whether there will need to be any modifications to the taxcalc package in order to accomodate the new data file you are preparing? If so, could you open a new issue in the tax

[2016-08-04 08:26] #230 closed

[2016-08-04 08:35] MattHJensen commented on #254
Our datasets can not handle these reforms yet. I am closing this issue until they can. See https://github.com/open-source-economics/taxdata/issues/33 for an issue on the data work.

[2016-08-04 08:35] #254 closed

[2016-08-04 08:55] MattHJensen commented on #254
This is a meta-note on workflow.

I closed this issue because we do not currently have data to simulate the specific reforms to the mortgage interest deduction that this issue requested. It seemed noisy to leave an issue open on Tax-Calculator that has been waiting on data for over a year.

That said, after Zach finishes his work in #851, tax-calculator users will be able to simulate how tax polic

[2016-08-04 13:01] feenberg commented on #132
On Thu, 4 Aug 2016, Matt Jensen wrote:

It is certainly easy enough to use fewer brackets - just repeat the last
bracket info. But additional brackets are not possible. We could just add
an extra bracket that repeats the currentl last bracket to the standard
web page if we wanted to give the opportunity to add an additional bracket
without spending a lot of time developing a mechanism for an arbit

[2016-08-04 14:25] MattHJensen commented on #132
@gofroggyrun, could you keep this in mind when you are adding an extra bracket to tax-calculator fpr the plot work--that the default should be set to duplicate the existing top rate? Also, once the functionality is in tax-calculator, could you open an issue on webapp-public requesting that it be added to TaxBrain as well?

[2016-08-04 15:04] GoFroggyRun commented on #753
Resolved in PR #764.

[2016-08-04 15:04] #753 closed

[2016-08-04 15:35] GoFroggyRun commented on #132
@feenberg:

We could just add an extra bracket that repeats the currentl last bracket to the standard web page if we wanted to give the opportunity to add an additional bracket without spending a lot of time developing a mechanism for an arbitrary number of brackets.

Thanks for your thoughtful suggestion on dealing with extra tax brackets. I'll add such feature to tax-calculator.

@MattHJensen:

[2016-08-06 04:32] MattHJensen commented on #840
It looks like the only other major change between 0.6.4 and 0.6.5 was @talumbau's

`Remove Numba dependency` from #799.

Closing this issue and adding changes to the change log.

[2016-08-06 04:35] #840 closed

[2016-08-06 04:45] MattHJensen commented on #787
@martinholmer, I was two slow closing this issue and you posted the list twice.

Recent:

https://github.com/open-source-economics/Tax-Calculator/issues/787#issuecomment-235059040

[code]

Earlier:

https://github.com/open-source-economics/Tax-Calculator/issues/787#issuecomment-225878544

[code]

I will use the most recent list. Please let me know if you would like me to add any information from t

[2016-08-06 04:47] MattHJensen commented on #787
Release published https://github.com/open-source-economics/Tax-Calculator/releases/tag/0.6.4. Closing this issue.

[2016-08-06 04:47] #787 closed

[2016-08-06 04:53] MattHJensen commented on #841
@talumbau, because of this change, we need a new version of TC on TB soon. Would you like to finish work on #844 first?

@talumbau and @zrisher, do you think any of your work since #820 should be included in the changelog?

[2016-08-06 04:56] MattHJensen commented on #317
After more thought, I don't think this deserves TC-team maintained docs. Given that no one else has expressed interest in this issue and I opened it, I'll close it.

[2016-08-06 04:56] #317 closed

[2016-08-06 05:10] MattHJensen commented on #724
This is because I haven't added Cody to the Open-Source-Economics organization. I will do that now.

[2016-08-06 05:11] MattHJensen commented on #724
The content in these documents have been very helpful for new contributors and TC users in the past, but I have the same sense as you that people aren't finding it by themselves. If we agree that the content in these docs is helpful and that there is, in fact, even more content we want contributors to see, then I see three options:

1. Do a better job of manually pointing people to the content.
2.

[2016-08-06 05:21] MattHJensen commented on #583
I believe that this issue is resolved via #788, which enables TC users to specify tax-units' marginal propensity to consume deductible expenses.

Related work, to identify deductible expenses for standard deduction files, is covered by https://github.com/open-source-economics/taxdata/issues/32.

@GoFroggyRun, if you agree with my assessment, could you close this issue?

[2016-08-06 05:30] MattHJensen commented on #244
This issue overwhelming and hasn't proven to be constructive. Since I opened it and no one else has chimed in, I'll take the prerogative to close it.

[2016-08-06 05:33] #244 closed

[2016-08-06 05:40] MattHJensen commented on #30
@martinholmer, do you think this issue should be closed?

[2016-08-06 10:32] feenberg commented on #724
On Fri, 5 Aug 2016, Matt Jensen wrote:

The documentation needs a web page, github won't do. In fact, the project
needs a couple of web pages and should not depend on github for anything
other than source code control and ticketing. It isn't a good interface
for users of the software to learn about it.

dan

[2016-08-06 12:24] #583 closed

[2016-08-08 14:25] talumbau commented on #841
@MattHJensen I pinged appropriate parties on #844. Yes, I would like to get it merged before releasing new version. Also, I looked at any of my commits that got merged in after #820. The main thing was just some fixes when running w/o numba. Probably not worth including in release notes.

[2016-08-08 20:06] MattHJensen commented on #841
Ok. Thanks. I think #844 is good to go, too. I did leave a few comments on the PR, but I don't think they need to hold it up.

[2016-08-09 22:25] MattHJensen commented on #224
Moving this to https://github.com/open-source-economics/taxdata/issues/34 and closing here.

[2016-08-09 22:25] #224 closed

[2016-08-09 22:28] MattHJensen commented on #222
probability of have employer sponsored health insurance by income class
marital status and presence of children, and shows the average value of
the insurance. It doesn't have a distribution about the mean, though, and
I don't know if I can get an updated set of figures.

@feenberg, is there a paper that described Gruber's methodology for this?

[2016-08-09 22:29] MattHJensen commented on #222
Closing and reopening in TaxData: https://github.com/open-source-economics/taxdata/issues/35

[2016-08-09 22:29] #222 closed

[2016-08-10 12:33] feenberg commented on #222
On Tue, 9 Aug 2016, Matt Jensen wrote:

No paper, but this description was provided by Jon:

Professor Gruber divided the Current Population Survey into cells by
income, marital status and whether or not the household had children.
Using the Medical Expenditure Panel Study data, he calculated for each
household the probability that that household had employer based insurance
and, conditional on ha

[2016-08-11 16:07] talumbau opened #859 "Moving dropq code into Tax-Calculator"
We've had issues keeping `dropq` and `taxcalc` in sync recently. Martin made the suggestion recently in this comment in the drop-q repo:

https://github.com/open-source-economics/drop-q/issues/4#issuecomment-233747542

that we might be better off moving the dropq code assets into Tax-Calculator. Now that the drop-q repo is publicly available, I am inclined to agree. The benefits would be:
- change

[2016-08-12 14:10] GoFroggyRun opened #860 "Deviation from CBO baseline issue"
As discussed in the web application [#300](https://github.com/OpenSourcePolicyCenter/webapp-public/issues/300#issuecomment-239453057), a user added 50% to the baseline CBO growth rate and generated very odd results. A few other modest options do not work either.

So it seems that there might be some bug in our growth capabilities. This issue will be further investigated.

[2016-08-12 19:11] MattHJensen commented on #860
- [ ] Once things get figured out over here, let's open an issue on webapp-public to rethink the user interface of the growth parameters and reinstate them.

[2016-08-12 19:22] MattHJensen opened #861 "Combine CG/DIV rates from AMT and Reg Tax into one set of params?"
Many TC and TB users have been extremely confused when they reduce the LT capital gains/dividends rates and end up losing very little revenue since almost everything is captured back by the AMT.

I wonder if we should link the AMT LT CG/DIV rates to the regular tax CG/DIV rates. Alternatively, we might want to provide some warning message if a user changes the Regular Tax CG/DIV rates but not the

[2016-08-12 19:34] MattHJensen commented on #724
What do you see as the high priorities as far as content go?

[2016-08-12 20:15] feenberg commented on #861
On Fri, 12 Aug 2016, Matt Jensen wrote:

They have been linked in the law for some years now, people might be
expecting this. How about a checkbox for "AMT rates same as regular rates"
that would be on by default.

I can understand that.

dan

[2016-08-12 22:31] MattHJensen opened #862 "Parameterize a "Buffet Rule""
Clinton's tax plan includes a Buffet Rule.

All I can find from Clinton's [own documents](https://www.hillaryclinton.com/briefing/factsheets/2016/01/12/investing-in-america-by-restoring-basic-fairness-to-our-tax-code/) is this:

TPC implemented something much more complicated in [their analysis](https://www.hillaryclinton.com/briefing/factsheets/2016/01/12/investing-in-america-by-restoring-basic-f

[2016-08-12 22:33] MattHJensen commented on #862
@andersonfrailey, could you take this one?

[2016-08-13 11:26] MattHJensen commented on #841
Closing and opening an issue for our next release, 0.6.7. Congrats everyone on the new release and thanks @martinholmer for all of the improvements in this one.

[2016-08-13 11:26] #841 closed

[2016-08-13 11:28] MattHJensen opened #863 "Release 0.6.7 changes"
Please update this issue with your significant contributions as they are merged to master.

The last PR included in 0.6.6 was #857. The notes issue for tracking release 0.6.6 was #841.

[2016-08-13 11:29] MattHJensen commented on #841
Here is a link to the release notes. https://github.com/open-source-economics/Tax-Calculator/releases/tag/0.6.6

[2016-08-14 14:01] MattHJensen commented on #861
that would be on by default.

Thanks @feenberg. This could be a solution on the webapp, but it wouldn't help users of the Tax-Calculator package.

[2016-08-15 14:43] MattHJensen opened #865 "personal refundable credit and non-filers"
When I add a personal refundable credit, the number of returns presented on TaxBrain does not change. http://www.ospc.org/taxbrain/5064/

I would have expected some of the non-filers -- whom we have from the CPS match -- to start to file.

@amy-xu or @andersonfrailey, could you help me understand why this is?

[2016-08-15 16:02] Amy-Xu commented on #865
If the table is linked to the diagnostic table in TC, then I think the total returns here is the number of everyone in the dataset who has positive AGI, which includes the non-filers from the beginning. If you sum up standard deducters and itemizers, the total 157 million is 13m aways from the 170 million in total.

If this indeed is what's happening, it wouldn't be too surprising to see no change

[2016-08-15 16:13] MattHJensen commented on #865
I see. Could you verify that the personal refundable credit is available to non-filers -- and thereby increases the number of filers -- by looking to see how many new filers there are w/ a new personal refundable credit and no other changes to current law? Say $1000 for every tax unit.

[2016-08-15 16:56] Amy-Xu commented on #865
You mean keep personal exemption and standard deduction the same, and just add a refundable credit?

[2016-08-15 16:57] MattHJensen commented on #865
That's right. Current law + refundable personal credit.

[2016-08-15 17:07] Amy-Xu commented on #865
In 2013, a reform giving everyone $1000 refundable credit

`reform = {2013: {"_II_credit": [[1000, 1000, 1000, 1000, 1000, 1000]]}}`

increases non-filer with non-zero IIT liabilities from .85 million to 15.66 million, a net increase of 14.81 million.

Do you need the number for 2016 or all ten years on budget window?

[2016-08-15 17:24] MattHJensen commented on #865
@Amy-Xu, thanks a lot. The discussion in this issue confirms that the personal refundable credit would bring tax filers onto the tax rolls. This is distinct from the personal refundable credit proposed by 2016 election candidate Rubio, who wanted to limit the availability of the personal refundable credit to only tax units who would otherwise file. I will open a PR adding documentation to current_

[2016-08-15 18:26] feenberg commented on #865
On Mon, 15 Aug 2016, Matt Jensen wrote:

Do we have all wage earners between 25 and 65 filing, even if they owe no
taxes, to obtain the EIC? What about other workers that may have had wages
withheld? So the change in # filers would be small. I recall that in the
past there was a year when a tax credit was made available to many that
would otherwise not file, the SOI counted those returns separatel

[2016-08-15 18:36] feenberg commented on #865
On Mon, 15 Aug 2016, Amy Xu wrote:

That is an odd criteria. Most with negative AGI would be required to file,
and some with positive AGI (retirees on social security) wouldn't have any
need to file.

We could use non-zero tax liability or even addincome above filing
threshold (which I think is person exemption plus standard deduction) if
we wanted to do that extra work.

There might be a good cas

[2016-08-15 18:36] #865 closed

[2016-08-16 21:14] andersonfrailey commented on #862
@MattHJensen I'm a little confused by differences between the example in the Treasury document and the Clinton tax plan.

From what I'm understanding Clinton wants a 30% tax on those making above $1 million (e.g. a person making $1.25 million will pay $375,000).

The Treasury seems the define the FST as a proportion of the difference between 30% of a person's income and their regular taxes where i

[2016-08-16 21:19] MattHJensen commented on #862
@andersonfrailey, the second is closer -- except for the phase in over the 1-2 million range, I also think that also describes what Clinton has proposed.

The tentative fst (buffet tax) is the 30%. The final fst is the 30% - what they have already paid.

[2016-08-17 03:41] GoFroggyRun commented on #860
I tried using a [notebook](https://github.com/GoFroggyRun/Notebook/blob/master/Growth.ipynb) to replicate the issue some users are experiencing on TB, which I wasn't able to do so.

Based on the reform listed [here](http://www.ospc.org/taxbrain/edit/4900/?start_year=2016), I assumed two different growth rate under this reform, one of 0.05 and the other of 0.5, and compared them with our baseline.

[2016-08-17 16:03] talumbau commented on #860
We are hiding Growth Parameters on TaxBrain right now due to this bug, but I checked the database and it is true that Taxbrain run 4900 that @GoFroggyRun links above does have a _factor_adjustment value of 0.5, so if that is wildly different from the notebook above, then there is likely a bug on TaxBrain side.

[2016-08-18 01:36] GoFroggyRun commented on #860
I have updated the notebook, which adds an identical reform as shown [here] (http://www.ospc.org/taxbrain/edit/4900/?start_year=2016).

Since the growth rate option is being removed from TB temporarily, I was trying to see whether the remaining reform options would yield identical result in TB and TC.

Based on the result [here](http://www.ospc.org/taxbrain/5148/) and the updated notebook [here](h

[2016-08-18 11:08] MattHJensen commented on #429
@martinholmer, would you mind opening an issue in the webapp-public repo describing the JSON reform uploading capability, including a description of how it could be included in the TaxBrain user interface?

I agree that the JSON reform capability doesn't solve the core issue raised by @feenberg in this issue -- the desire for users to be able to make structural reforms without needing to interact

[2016-08-18 20:22] talumbau commented on #860
@GoFroggyRun , I am continuing to track this down, but even if I ignore the growth adjustment parameters, I'm not getting results on TaxBrain or local runs of Tax-Calculator that align with the results that you show in the notebook. I'm wondering if you are either running an earlier or later version of Tax-Calculator than what I'm running. To track this issue, lets' run the latest release of Tax-C

[2016-08-19 18:17] GoFroggyRun commented on #860
@talumbau Thanks for your comments on the notebook TJ!

I have switched to the latest release of Tax-calculator, and included an additional cell which shows the version info.
The first diagnostic table and the very last diagnostic table in my updated [notebook](https://github.com/GoFroggyRun/Notebook/blob/master/Growth.ipynb) shall align with the difference on this [page](http://www.ospc.org/taxbr

[2016-08-19 21:09] martinholmer commented on #30
@MattHJensen asked:

Yes.
I think enforcing PEP8 guidelines (as we have been doing for many months), and allowing optional use of pylint, is a good solution for this project.

@feenberg @talumbau @Amy-Xu @GoFroggyRun @zrisher @codykallen

[2016-08-19 22:40] talumbau commented on #860
Ok, thanks! I think we are now in a place where I can begin to understand if anything is wrong with the Growth assumptions section. As a baseline for this discussion, we know that if you just run the reform by itself (with no growth parameters), you will get nearly identical results (identical results are not expected due to the disclosure avoidance mechanism). So, to be specific, you can see that

[2016-08-19 22:51] talumbau commented on #860
@GoFroggyRun I have investigated further and I don't see significant differences between [TaxBrain #4900](http://www.ospc.org/taxbrain/4900/) and `calcreform2` in the latest version of your notebook (which I can duplicate when I run your notebook locally). I didn't exhaustively compare every value, but when I look at AGI, Combined tax liability, Standard Deduction, and a few others for the years 2

[2016-08-19 23:20] GoFroggyRun commented on #860
@talumbau said:

but when I look at AGI, Combined tax liability, Standard Deduction, and a few others for the years 2016 and 2020, I see substantially similar values in both tables

Yes, right. When comparing the third table (`calcreform2` with 0.5 growth rate) with [TaxBrain #4900](http://www.ospc.org/taxbrain/4900/) alone, I do not see any significant difference as well.

When I am, however, loo

[2016-08-19 23:32] talumbau commented on #860
Ah, yes this came up in the original implementation. I don't have the issue number handy, but when  growth and behavioral assumptions were added to TaxBrain, I recall asking @MattHJensen and @Amy-Xu what the definition of "baseline" is in this case: is it "no reform and *with* the assumptions" or "no reform and no growth/behavior assumptions." The answer that I recall getting is that "baseline" is

[2016-08-20 00:31] MattHJensen commented on #860
For growth this is correct. The purpose of these growth parameters is allow for non-standard baselines. This allows us to answer questions like, "what would the revenue loss of this reform be if baseline growth were higher than CBO expects?" It would make sense to use this parameter in a few scenarios 1) you think that CBO is just wrong. 2) you have some other reform that you are proposing-- say a

[2016-08-20 00:51] MattHJensen commented on #30
Thanks @martinholmer. That makes sense to me too. Closing.

[2016-08-20 00:51] #30 closed

[2016-08-20 00:55] MattHJensen commented on #861
The forthcoming discussion in #868 of how to deal with an optional pass thru rate schedule that is separate from the ordinary income rate schedule may be relevant to this issue (#861).

[2016-08-20 01:09] talumbau commented on #860
OK, if that interpretation is correct, then I think we still need more detail on how [TaxBrain #4900](http://www.ospc.org/taxbrain/4900) differs from the notebook, or maybe more description in this issue:

https://github.com/OpenSourcePolicyCenter/webapp-public/issues/300

on the "odd results"

[2016-08-20 01:25] GoFroggyRun commented on #860
Thanks @MattHJensen and @talumbau  for your explanations. I added the baseline that has ''no reform and with the assumptions'' in the [notebook](https://github.com/GoFroggyRun/Notebook/blob/master/Growth.ipynb). It turns out that there's no essential difference between results in TC and results in TB.

I'll further investigate the odd results we are having.

[2016-08-22 19:46] martinholmer commented on #859
@talumbau said after mentioning several advantages to moving drop-q logic into Tax-Calculator:

There is plenty already in Tax-Calculator that most new users will have no interest in, so I agree that a little more to ignore would not be an issue.

@talumbau then said:

Let me see if I understand your suggestion?
There would be a new tax-calculator/dropq directory, right?
And that new directory wou

[2016-08-24 12:21] martinholmer opened #873 "Net Investment Income Tax (NIIT) logic"
After reviewing the NIIT logic, I have some questions.  In a development branch I'm working on, the calculation of the NIIT is as follows:
[code]
The above code produces exactly the same results as the code on the master branch.

I have two questions about the above calculation of net investment income (NII):

(1) Why is it that `e02000 - e26270`, which is Schedule E income less partnership and S

[2016-08-24 13:55] feenberg commented on #873
On Wed, 24 Aug 2016, Martin Holmer wrote:

In the sas calculator there is also a zero constraint on the Medicare tax
on unearned income.

c85190 = e00300+e00600+max(0,c01000)+max(0,e02000-e26270-e85180+e85070+e85080);

This is same. The sas code is probably the source of this notion.

Because this part of the code has never been compared to actual returns,
it hasn't been tested, and is probably wr

[2016-08-24 15:09] martinholmer commented on #873
Dan @feenberg said:

There is some other evidence that is consistent with your notion that the current logic is wrong.
Here is how I'm considering changing the code:
[code]
Does that make sense?

If this change is made, the validation tests against Internet TAXSIM will fail because Internet TAXSIM appears to have the same NIIT logic as in the taxcalc.sas program.

@MattHJensen @feenberg @Amy-Xu @G

[2016-08-24 15:33] GoFroggyRun commented on #873
@martinholmer:

After looking at the instructions for Form 8960, I do not see anything to indicate that `e02000 - e26270` or `c01000` should be non-negative in NIIT's calculation as well.

And thus the follow code-line change
[code]
makes sense to me.

[2016-08-24 15:43] martinholmer commented on #873
Sean Wang (@GoFroggyRun), Thanks for your feedback on NIIT logic.

[2016-08-24 22:42] GoFroggyRun commented on #860
After investigating the odd results, I don't think there's any bug in the tax logic. I have also updated the [notebook](https://github.com/GoFroggyRun/Notebook/blob/master/Growth.ipynb) that yields this conclusion.

Let me present them in the following table (of combined lability):

![image](https://cloud.githubusercontent.com/assets/13324931/17950109/1d85f912-6a27-11e6-8254-2f2220fe6ad4.png)

![i

[2016-08-25 12:08] MattHJensen commented on #860
@GoFroggyRun, great idea to split out the two reforms. I find this evidence compelling. Closing the issue after opening an issue to reactivate and rename the Growth section on TB: https://github.com/OpenSourcePolicyCenter/webapp-public/issues/314

[2016-08-25 12:08] #860 closed

[2016-08-26 10:28] martinholmer commented on #873
Issue #873 has been resolved by pull request #874.

[2016-08-26 10:28] #873 closed

[2016-08-27 22:57] zrisher commented on #295
@MattHJensen I believe there is a substantial amount of tax information available on individual IRS forms that `tax-calc` doesn't take as input. This project currently simulates actual tax calculation with a subset of individual tax data because:
* we only have a subset of actual tax data for the general populace (`puf.csv`)
* mirroring the entirety of actual tax calculation is a lot of work, espe

[2016-08-27 23:17] zrisher commented on #724
needs a couple of web pages and should not depend on github for anything
other than source code control and ticketing. It isn't a good interface
for users of the software to learn about it.

@MattHJensen @feenberg I actually disagree, github was designed to facilitate easy contribution by people unfamiliar with a software project (just look at [their About page](https://github.com/about)). Github

[2016-08-27 23:17] feenberg commented on #295
On Sat, 27 Aug 2016, zrisher wrote:

taxcalc.sas uses much more data, any internal government user of the
python calculator would have that additional data.

It isn't so hard to add additional variables, but without data to test
them  it might be foolish. It is possible one agency might take an
interest in the calculator and allow testing on the real data.

Also, taxcalc.sas has been tested, and I

[2016-08-27 23:35] zrisher commented on #851
@MattHJensen regarding your two addendum:

1. Yep, and I think we can aggregate all that data into a single custom form for now.
2. I would definitely like to have a naming convention with a basis in what people are using. At the same time, if the existing schemes are used by a small number of people and are difficult to follow (as I expect may be the case), I would recommend taking the opportunit

[2016-08-28 12:38] feenberg commented on #724
On Sat, 27 Aug 2016, zrisher wrote:

Personally, I find github very off-putting and not something that
economsits or policy types will be familiar with, or want to learn about.
In practice, they may think "Oh, this sofrware is still in early stages of
development - maybe I'll come back when they are far enough along to have
a web page."

It is one thing to go to github to download a .tar.gz of a b

[2016-08-28 21:10] feenberg commented on #851
On Sat, 27 Aug 2016, zrisher wrote:

I continue to feel that there are advantages in adopting the names
(E-codes) used by SOI for taxpayer data. They are not going to adopt our
names, and any names we make up will (1) require explanation (2) cause
users to wonder if they are equivalent to similarly defined E-codes and
(3) will put off users that are already used to the SOI names, or are
hoping to

[2016-08-28 23:08] martinholmer commented on #851
Dan @feenberg said:

But what about the fact that all the E-codes that are not used in the IRS-SOI PUF are not public.  At least this is my understanding of the situation after discussions with @MattHJensen.  Matt even said that IRS-SOI had refused to make all of the E-codes public.  I'm not talking about the data, I'm talking about the definitions of the E-codes.

So, if this is an accurate view

[2016-08-29 10:51] feenberg commented on #851
On Sun, 28 Aug 2016, Martin Holmer wrote:

My understanding with Michael Weber has always been that I may distribute
taxcalc.sas with the ecodes mentioned in it. If that isn't the case, we
have a problem. I think Mike Jensen should confirm this with him.

dan feenberg

[2016-08-29 13:43] MattHJensen opened #880 "Calculate MTR w.r.t currently "invalid" income types"
Over in B-Tax, @jdebacker asked:

To which @Amy-Xu replied:

To which @jdebacker responded:

[2016-08-29 14:13] martinholmer commented on #851
Dan @feenberg said:

But that is not anywhere close to being the same as IRS making them public and documenting them as they do for the E-code in the IRS-SOI PUF.

I'm still not convinced about the merit of your idea to use undocumented E-codes for variable names that do not appear in the IRS-SOI PUF documentation.

@MattHJensen @feenberg @zrisher @Amy-Xu @GoFroggyRun

[2016-08-29 14:29] martinholmer commented on #880
@jdebacker said:

The limitation has everything to do with the fact that different income types have different MTR logic associated with them as the Calculator.mtr() method shows.  We will never be able to allow any income type to be passed to the mtr() method.

So, do you what to request another valid income type for the Calculator.mtr() method?  If so, which one?

@jdebacker @Amy-Xu @MattHJensen

[2016-08-29 14:40] jdebacker commented on #880
@martinholmer thanks for the quick follow up.

The MTR logic looks fairly straightforward.  I do see that some variable use a different named variable from which to calc the finite difference.  Could one set up a dictionary to map the relation between any 1040 variable and the appropriate variable from which to calc a finite difference?  Then this logic would use that dictionary to make the mappin

[2016-08-29 14:57] martinholmer commented on #880
@jdebacker said:

For those who do not have E-codes fully memorized, here is how `var_labels.txt` defines these:
[code]
I'm confused about your request, which is the expand the following list:
[code]
But the list contains types of INCOME, not types of itemized deduction expenses.
What sense does it make to compute a marginal tax rate on an itemized expense?

@jdebacker @Amy-Xu @MattHJensen @feenbe

[2016-08-29 15:03] jdebacker commented on #880
@martinholmer, there is a MTR associated with any income and deduction item.  Just as $1 more in wages increase AGI and tax burden, $1 more in mtg interest affects AGI (potentially) and therefore tax burden.

[2016-08-29 15:04] MattHJensen commented on #851
@martinholmer said:

I made another request this summer, and Barry Johnson indicated that SOI might provide the naming convention that is used to generate E-codes, but probably not the tax forms with the E-codes filled in. We would have to generate that documentation ourselves. That said, I have been waiting several weeks for a followup after an initial round of emails.

[2016-08-29 21:06] feenberg commented on #851
On Mon, 29 Aug 2016, Matt Jensen wrote:

I have a spreadsheet with e-code definitions.  However, anyone inside the
government will have the same document, so we could simply depend upon the
user to provide their own dictionary file.

dan

[2016-08-31 18:39] martinholmer commented on #880
Are there more aspects of Calculator.mtr() that people would like to discuss in issue #880?
If not, should issue #880 be closed?

[2016-08-31 18:40] martinholmer commented on #880
Martin Holmer said:

Sorry.  Forgot to list any addressees.

@MattHJensen @Amy-Xu @jdebacker

[2016-08-31 20:07] martinholmer commented on #880
@jdebacker said:

OK, let's close #880 and we'll look forward (sometime in the future) for your pull request that generalizes the logic of the Calculator.mtr() method.

[2016-08-31 20:07] #880 closed

[2016-09-01 03:59] zrisher opened #891 "Improve taxcalc documentation for contributors"
This issue is opened as a continuation of the discussion on our documentation needs started on issue #724, replicated below:

@martinholmer said:

@MattHJensen said:

@martinholmer said:

@MattHJensen said:

@feenberg said:

@MattHJensen said:

@zrisher said:

@feenberg said:

[2016-09-01 04:01] zrisher commented on #891
economsits or policy types will be familiar with, or want to learn about.
In practice, they may think "Oh, this sofrware is still in early stages of
development - maybe I'll come back when they are far enough along to have
a web page."

@feenberg Ok, this makes sense! I see two very different consumers of documentation (/users) then:

1. economists / policy analysts - people who are primarily fami

[2016-09-01 04:04] zrisher opened #892 "Taxcalc mailing list needs more usage"
In #724 @feenberg said:

[2016-09-01 04:06] zrisher commented on #724
Since the discussion on our general documentation needs and mailing list are complex and not entirely instructive on "how should we track changes to the repo?", I've moved them to #891 and #892 respectively. @MattHJensen I hope that's OK.

[2016-09-01 11:27] feenberg commented on #891
I think we need to decide who our pioneer users will be. Are they the tax
policy crowd, who will use TB for what it already does, and then later
recruit CS types to enhance it, or do we mean to find our initial users
among programmers who will then show the package to their employers? I
think the answer is obvious - tax policy first, then depend upon them to
engage the programmers.

The TP folk wi

[2016-09-02 21:13] zrisher commented on #891
@MattHJensen Can I close this in favor of https://github.com/OpenSourcePolicyCenter/webapp-public/issues/318?

[2016-09-02 21:20] MattHJensen commented on #891
@zrisher, I just left this open for a discussion of the original problem that was raised by @martinholmer, which is about Tax-Calculator documentation for contributors, not TaxBrain documentation for policy users. In particular, I had asked where he recommended that we put the change log procedures and he lamented that not everyone reads our contributor guide.

@MattHJensen said:

@martinholmer sa

[2016-09-08 09:35] #698 closed

[2016-09-15 14:59] MattHJensen commented on #861
Now that #913 is merged, separating the rate structures applied to pass through income and other taxable income, this discussion is even more important. Now there are two opportunities for users to make mistakes:

1. Modify _CG_rt and _CG_thd parameters without knowing about _AMT_CG_rt and _AMT_CG_thd parameters.
2. Modify _II_rt and _II_brk parameters without knowing about _PT_rt and _PT_brk para

[2016-09-15 20:55] martinholmer opened #922 "Differential taxation of pass-through income"
Recently pull request #913 was merged into the master branch.  But I don't understand several lines of the new code.  Here is how the `XYZD` function begins:
[code]
The very first line is puzzling.  Why is `e00900 + e26270` constrained to be non-negative?
We know that there are filing units in the `puf.csv` file that have very large pass-though **losses**.  Here are the raw 2009 values:
[code]
The

[2016-09-16 02:25] martinholmer commented on #922
Answered my own questions.

[2016-09-16 02:25] #922 closed

[2016-09-16 17:32] MattHJensen opened #927 "cleanup from separate PT params"
#913 breaks tax-calculator's backwards compatibility.

@GoFroggyRun, could you please open a PR if possible or if not post an issue to www.github.com/opensourcepolicycenter/webapp-public that makes it so that TaxBrain's regular tax rate and bracket parameters modify both II and PT rt and brk parameters? This must be done before a new version of TC is deployed to TB.

Alternatively, we would need t

[2016-09-16 19:12] GoFroggyRun commented on #927
@MattHJensen
Got you. I'll start with an issue to www.github.com/opensourcepolicycenter/webapp-public first to describe our strategy.

[2016-09-19 11:01] martinholmer opened #928 "Bug in personal (refundable) credit calculation"
For some time now, Tax-Calculator has included the option to specify a personal (refundable) credit reform.  The nature of such a reform is specified by three policy parameters: (1) `_II_credit`, the maximum amount of the credit, which is indexed by MARS; (2) `_II_credit_ps`, the MARS-specific level of taxable income after which the `_II_credit` amount is phased out; and (3) `_II_credit_prt`, the

[2016-09-19 11:37] feenberg commented on #928
Number (2) seems most likely to be of interest to policy makers.

dan

On Mon, 19 Sep 2016, Martin Holmer wrote:

[2016-09-19 13:50] Amy-Xu commented on #928
I personally lean toward either (2) or (3) as some users might still need this functionality at some point. (3) might be tricky as this credit was originally designed as a replacement for standard deduction and personal exemption. If this credit is computed after taxable income, I'm not quite sure whether it will still do the same job. So (2) might be the most useful and realistic one.

[2016-09-19 17:52] martinholmer commented on #862
Merge of pull request #904 resolves issue #862.

Tax-Calculator estimates of the extra revenue added by such a reform are noticeably larger than the estimates generated by other models.  These differences are being investigated and the results of those investigations will be reported in another issue.

@MattHJensen @feenberg @Amy-Xu @GoFroggyRun @andersonfrailey

[2016-09-19 17:52] #862 closed

[2016-09-19 20:48] martinholmer commented on #863
Here is my notion of "significant contributions" since the version 0.6.6:

| Contributor         | PR# | Description |
| :---------------- | :--- | :----------- |
| Sean Wang | #858 | add extra income tax brackets and rates |
| Martin Holmer | #874 | correct Net Investment Income Tax (NIIT) calculation |
| Martin Holmer | #898 | correct Schedule R credit calculation |
| Anderson Frailey | #904 | a

[2016-09-20 14:17] andersonfrailey opened #931 "Fair Share Tax producing excessive revenues"
PR #904 added a Fair Share Tax function to the tax calculator to resolve issue #862, however the revenue estimates (in billions) from taxcalc are significantly larger than other models:

|            Model            | 2016  | 2017  | 2018  | 2019  | 2020  | 2021  | Total  |
|-----------------------------|-------|-------|-------|-------|-------|-------|--------|
| [TPC](http://www.taxpolicycenter.

[2016-09-20 15:28] martinholmer commented on #931
@andersonfrailey,  Thanks for all the work comparing other estimates of the revenue effects of a Fair Share Tax in issue #931.

So, is it a fair summary of your findings to say that we have not found any other estimate for the effect of just adding a Fair Share Tax without any other reforms?

[2016-09-20 21:09] andersonfrailey commented on #931
@martinholmer the estimates from the Joint Committee on Taxation are focused solely on the addition of a Fair Share Tax, but so far that is the only one I've found.

[2016-09-21 13:28] martinholmer commented on #931
@MattHJensen said in merged pull request #904:

Give this finding, it would seem likely that the FairShareTax differences when comparing with other estimates are caused by multiple reform provisions and/or behavioral effects and/or dynamic scoring.

@MattHJensen @feenberg @Amy-Xu @GoFroggyRun @andersonfrailey

[2016-09-23 22:27] martinholmer opened #942 "Agenda for improving TaxForm and child classes"
@zrisher said:

This list looks good to me. To me items (2) and (4) could be solved using the same approach as used by TurboTax: a non-IRS form called Personal Information (or some such name) that includes ages of everyone (adults and children) in the filing unit along with other info needed to fill out the IRS forms.

**Pull request #893 was merged into the master branch on 23-Sep-2016 where it w

[2016-09-23 23:19] zrisher commented on #851
An update on this issue:

We just merged PR #893 which introduces the `TaxForm` base class and a child class for each form to help convert raw tax form field data into evars.

The next steps I see towards the objective of this issue "Allow for individuals to enter their own detailed tax information and see how their taxes would change under various reform proposals" are:

* #942 - improving the `T

[2016-09-24 15:08] MattHJensen opened #943 "Should the BenefitSurtax() rate be set at 0 or 1 under current law?"
Over at #867, @feenberg asked:

the credit also as 1.0) in the "Surtax on Itemized Deduction Beefit"
section. Surely the surtax rate should be .0.

The reason why I set the surtax rate to 1 is that many (all) reforms in the news that use this feature have a surtax rate of 1. I'm talking about reforms along the lines of Feldstein, Feenberg, and Macguineas where the value of itemized deductions is l

[2016-09-24 19:34] feenberg commented on #943
On Sat, 24 Sep 2016, Matt Jensen wrote:

But doesn't the default raise a little revenue? Aren't there taxpayers
with negative AGI and itemized deductions? (They would be using the
itemized deductions on the AMT). I just checked - and it doesn't raise any
revenue, so perhaps it is ok. But still it is misleading - it suggests
there is a current surtax, when there isn't. Having a zero rate might be
t

[2016-09-24 21:43] MattHJensen commented on #943
I said:

 through exactly what the rate and credit parameters mean in order to specify their
 intended reform . Perhaps that would be better. What do you think @feenberg?

To which @feenberg replied:

Ok. I just opened a PR to make this change. I'll merge it tomorrow if no one objects. The update will appear on TaxBrain once we have our next release of TC to TB.

[2016-09-25 11:22] zrisher opened #946 "Provide style guidelines in the developer docs"
I believe the developer documentation (e.g. `README.md`, `contributor_guide.rst`) should discuss the style guidelines for the repository.

In the past (https://github.com/open-source-economics/Tax-Calculator/issues/30) we decided to enforce PEP8 and optionally allow developers to run pylint locally. However, PEP8 only offers guidance on a subset of all possible style questions, and our lack of pyl

[2016-09-26 12:37] #943 closed

[2016-09-29 15:38] MattHJensen commented on #863
Thanks @martinholmer. Here is the release: https://github.com/open-source-economics/Tax-Calculator/releases/tag/0.6.7.

[2016-09-29 15:38] #863 closed

[2016-09-29 15:39] MattHJensen opened #949 "Release 0.6.8"
Please update this issue with your significant contributions as they are merged to master.

The last PR included in 0.6.7 was #945. The notes issue for tracking release 0.6.7 was #863.

Here's an example

[code]

Which will be rendered like this

| Contributor | PR# | Description |
| :-- | :-- | :-- |
| Sean Wang | #858 | add extra income tax brackets and rates |

[2016-10-03 14:31] MattHJensen opened #954 "Reform in notebooks w //-comment stripping and param:year format?"
Many users interact with TC  through a Jupyter Notebook, such as our [10_min_to_tax-calculator](https://github.com/open-source-economics/Tax-Calculator/blob/master/docs/notebooks/10_Minutes_to_Tax-Calculator.ipynb) starting guide. These users are exposed to the [year:param](https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/tests/test_policy.py#L130) style for implementing

[2016-10-03 22:09] martinholmer commented on #954
@MattHJensen said he thought it would be much better for Jupyter Notebook users of the taxcalc package if "JSON reform files" (as read currently read by the `Policy.read_json_reform_file(filename)` static method) could be read from a string specified in a Notebook.

This makes a lot of sense to me; the only question is how best to provide this capability.

In many other taxcalc methods a parameter

[2016-10-03 22:26] talumbau commented on #954
I think [explicit is better than implicit](https://www.python.org/dev/peps/pep-0020/). I would suggest: `Policy.read_json_reform(json_input)` always takes a string-like object. Then, I would add:

[code]

[2016-10-03 22:40] martinholmer commented on #954
@talumbau said he favored creating **two** different methods to read JSON reforms: one from a file and one from a string.

I'm OK with that, but it goes against the prior approach that I described above.  Just curious why you suggest a different approach in this case when you were the author of the earlier code that takes different action depending on the type of parameter passed to *one* method.

[2016-10-04 10:57] martinholmer commented on #949
Significant contributions to Tax-Calculator release 0.6.8 include:

| Contributor | PR# | Description |
| :----------- | :--- | :----------- |
| Matt Jensen | #867 | add ability to simulate reforms that limit benefit of itemized deductions |

[2016-10-04 11:22] martinholmer commented on #946
@zrisher began a thoughtful comment with the following statement:

I agree with you.

I would favor leaving the already-lengthy [Contributor Guide](http://taxcalc.readthedocs.io/en/latest/contributor_guide.html) unchanged and adding the coding-style documentation to a new `CODING.md` file, which would be referenced in the `README.md` file in the same way as the existing `TESTING.md` file is.

Then

[2016-10-04 11:38] martinholmer commented on #931
It would seem as if issue #931 has been resolved, so I am closing it.

[2016-10-04 11:41] martinholmer commented on #927
Issue #927 has been resolved in the new version of TaxBrain, which assumes that the PT and II tax brackets and tax rates are the same.

[2016-10-04 11:41] #927 closed

[2016-10-04 11:54] martinholmer commented on #861
It has been almost twenty days since the last comment was added to open issue #861.

Isn't it true that the potential confusion for TaxBrain users has been eliminated in TaxBrain version 0.6.7?  (See the discussion of [TaxBrain issue 340](https://github.com/OpenSourcePolicyCenter/webapp-public/issues/340).)

Can we close issue #861?

@MattHJensen @talumbau @feenberg

[2016-10-04 11:56] talumbau commented on #946
I think it would be worthwhile to explore the use of a tool to handle these style issues:

https://github.com/google/yapf

`yapf` has been around for a while now and I think a lot of people are happy with it. We could agree on a set of knobs/options on this tool and then it would automatically format the code according to those rules. @zrisher do you think `yapf` could handle the issues you mentio

[2016-10-04 12:14] martinholmer commented on #946
@talumbau said:

Frankly, I think this is a very bad idea.  It just adds yet another tool that you have to understand and is likely to promote sloppy coding, not all of which may be reformatted by `yapf`.  Editors can use `pep8` and `pylint` to quickly find style warnings in an interactive way that makes it very easy to find and correct coding-style problems.  If contributors are not using such ed

[2016-10-04 14:11] martinholmer commented on #954
@MattHJensen,  Does merged pull request #958 meet the needs of Notebook users?

[2016-10-04 19:13] MattHJensen commented on #954
Yes. Thank you very much @martinholmer. I will update the 10-min notebook to take advantage of this feature.

[2016-10-04 19:13] #954 closed

[2016-10-04 19:14] MattHJensen opened #964 "use Policy.read_json_reform_text with 10-min notebook"

[2016-10-07 18:58] MattHJensen opened #974 "Activating the new _CG_nodiff parameter generates unanticipated results"
These reforms generate different results. We should understand why and either adjust how _CG_as_II works or document the difference.

p_yy = Policy()
reform1 = {2016: {
'_II_rt2': [0.1],
'_PT_rt2': [0.1],
'_II_rt4': [0.25],
'_PT_rt4': [0.25],
'_II_rt5': [0.25],
'_PT_rt5': [0.25],
'_II_rt6': [0.25],
'_PT_rt6': [0.25],
'_CG_as_II': [1],
}
}

$ -23.4 B

reform2 = {2016: {
'_II_rt2': [0.1],
'_PT_rt2':

[2016-10-08 22:13] martinholmer commented on #974
@MattHJensen,  Do you get expected results using pull request #975?

[2016-10-11 15:18] codykallen opened #977 "GainsTax taxes all of taxable non ltcg or qdiv income at one rate"
If the II_rt values do not equal the pt_rt values, the tax filers with positive pass-through income will have their taxable income taxed at two different rate schedules. If that filer also has long-term capital gains or qualified dividends, then their ltcg+qdiv income is subtracted from their taxable income, and is taxed at the CG_rt rate schedule. However, the GainsTax function passes their taxab

[2016-10-11 15:39] martinholmer commented on #977
@codykallen said:

I don't understand what the point of your above statement is.  You are raising an issue.  Can you explain what your issue is?

[2016-10-11 15:51] codykallen commented on #977
Suppose we do the following reform:

reform1 = {
    2017: {
        '_II_rt7': [0.4],
        '_PT_rt7': [0.35]
    }
}

Suppose an individual has $300k taxable income, with $150k pass-through income. Suppose this filer has no deductions. The top tax rate on this individual is 35%.

When calculating the MTR on long term gains, the calculator.mtr function adds 0.01 to p23250 and recalculates. Sinc

[2016-10-11 17:00] codykallen commented on #977
Correction: this only applies if the PT rates are greater than the II rates.

[2016-10-11 19:13] martinholmer commented on #977
@codykallen,  Thanks for a more complete bug report.  I'm starting to work on this issue by adding your test case to the suite of unit tests and then seeing if your proposed code change eliminates the new test failure and that all the old unit tests continue to pass.

[2016-10-11 23:39] martinholmer commented on #977
@codykallen,  I'm working on your bug report under the assumption that the correct result is for marginal tax rates on LTCG (`p23250`) to be the same before and after a reform that makes PT tax rates different from II tax rates.  Is that the correct assumption?

[2016-10-12 11:32] feenberg commented on #977
On Tue, 11 Oct 2016, Martin Holmer wrote:

I haven't seen the details for the PT tax, but it is unlikely you could
change the tax rate on some things without affecting the tax rate on
others, since (for example) each non-refundable credit will depend on the
amount of tax available to credit against, and (for another example) the
tax on LTCG depends on the amount of tax paid on non-gain income.

da

[2016-10-12 14:06] martinholmer commented on #977
Dan @feenberg said:

Yes, but it would seem that in other simple cases one would expect the mtr on LTCG to be the same before and after a reform that made PT tax rates different from II tax rates.

Please look at the conversation about pull request #981 to see if in that simple case the mtr on LTCG are very much different because of bug (which is fixed in #981).

@MattHJensen @codykallen

[2016-10-12 17:32] martinholmer commented on #974
@MattHJensen, Given your issue #974, do you have any concerns with pull request #975?  I'm planning on merging #975 into master just after merging #981 into master, hopefully later today.

[2016-10-12 19:06] MattHJensen commented on #974
@martinholmer, I'll check this out right now.

[2016-10-12 19:22] MattHJensen commented on #974
@martinholmer, when AMT is in the baseline, I am getting -$23.3 for reform 1 and -$28.2 for reform 2 with PR 975.

reform1 = {2016: {
'_II_rt2': [0.1],
'_PT_rt2': [0.1],
'_II_rt4': [0.25],
'_PT_rt4': [0.25],
'_II_rt5': [0.25],
'_PT_rt5': [0.25],
'_II_rt6': [0.25],
'_PT_rt6': [0.25],
'_CG_nodiff': [1],
}
}

reform2 = {2016: {
'_II_rt2': [0.1],
'_PT_rt2': [0.1],
'_II_rt4': [0.25],
'_PT_rt4': [0.25],

[2016-10-12 19:47] martinholmer commented on #974
@MattHJensen said:

reform1 = {2016: {
'_II_rt2': [0.1],
'_PT_rt2': [0.1],
'_II_rt4': [0.25],
'_PT_rt4': [0.25],
'_II_rt5': [0.25],
'_PT_rt5': [0.25],
'_II_rt6': [0.25],
'_PT_rt6': [0.25],
'_CG_nodiff': [1],
}}
reform2 = {2016: {
'_II_rt2': [0.1],
'_PT_rt2': [0.1],
'_II_rt4': [0.25],
'_PT_rt4': [0.25],
'_II_rt5': [0.25],
'_PT_rt5': [0.25],
'_II_rt6': [0.25],
'_PT_rt6': [0.25],
'_CG_rt1': [0.1],
'_

[2016-10-12 19:54] martinholmer commented on #977
Resolve by pull request #981, which has been merged into master.

[2016-10-12 19:54] #977 closed

[2016-10-12 19:54] MattHJensen commented on #974
@martinholmer said:

These are the differences that motivated me to open this issue. I would expect the two reforms to be nearly identical. (@codykallen originally suggested this comparison, which I think is pretty clever.)

[2016-10-13 23:20] MattHJensen opened #985 "odd results from multiyear_diagnostic_table with behavioral calculators"
I want to get this warning up asap and will post a full report tomorrow.

The `multiyear_diganostic_table()` does not generate accurate results when passed calculators to which behavior has already been applied. Please be cautious when using this table. There appears to be no problem with the `diagnostic_table()`

cc @codykallen @Amy-Xu @martinholmer @GoFroggyRun @andersonfrailey

[2016-10-14 01:09] codykallen commented on #985
In the code for multiyear_diagnostic_table(), the behavior.response(calc_clp, cal) function is called for each year. This implies that the behavioral response increases over time, which is possibly causing the odd results. Try only calling behavior.response(calc_clp, cal) only for the first year, and then using calc.increment_year() and calc.calc_all() for future years.

[2016-10-14 02:04] GoFroggyRun commented on #985
Thanks to Cody's (@codykallen) comment, I looked at the code line again and found that
[code]
If `calc` (or `cal`) has already gone through ` cal.behavior.response`, then `cal_br = cal.behavior.response(cal_clp, cal)` is not right.
The response should be between a base line calculator and a calculator with calculated reform results but has not respond to any behaviors yet.

In particular,  let `ca

[2016-10-16 13:11] MattHJensen commented on #985
Thanks @codykallen and @GoFroggyRun. I am currently working on a PR to remove the built in behavioral response from `multiyear_diagnostic_table()`. That way the table will not modify the calculator, beyond incrementing year, as advertised.

First I am trying to add a commit with a failing test to demonstrate the problem.

However, in my efforts to write a failing test that isolates the problem we'

[2016-10-16 13:24] MattHJensen commented on #985
Please disregard the above. There is no unintended advancing of years. I made a silly mistake:

As you see in the notebook, I was intending to work with calc_behv. However, I accidentally switched to working with calc_behav, which was a zombie variable that I had erased from the script but not the interpreter session. Oops.

[2016-10-20 15:48] martinholmer opened #1002 "Why does Tax-Calculator say this filing unit has a high income tax?"
Consider this filing unit:
[code]
I'm imagining that this is a middle-aged couple with two young kids where the taxpayer has a job that pays $150,000 and the spouse owns a S-corporation that had a bad year with a $500,000 loss.  Normally, the company is very profitable so that they have many Form 6251 deductions (see the $1.5 million values of the cmbtp_* variables, if I'm understanding that corre

[2016-10-21 14:00] MattHJensen opened #1003 "state by state gini coefficients"
Daniel Kim (daniel.him@post.harvard.edu) asked:

I replied

This issue is to request that state by state gini coefficients to be added as a Tax-Calculator utility function. While we won't be able to take advantage of them until the CPS file is available, they could be added to TC before then.

Once this issue is resolved, Daniel Kim should be notified.

[2016-10-21 20:47] martinholmer commented on #974
The Issue
----------

Issue #974 proposes two tests of the new CG_nodiff policy parameter, which offers an easy way to eliminate the differential tax treatment of LTCG+QDIV income in both the regular tax and the AMT.

The point of these two tests is to see if complex reforms that eliminate the differential tax treatment of LTCG+QDIV income (by manipulating many policy parameters) produce the same

[2016-10-21 21:18] martinholmer commented on #1002
@MattHJensen supplied the following useful answers to the questions posed above.  They are being placed here for the record in hopes they will be useful in the future.

**Q:** What are the two cmbtp_ variables and where are their values calculated?

**A:** The cmbtp_ variables are imputed in the puf pre-processing script in the taxdata repository: https://github.com/open-source-economics/taxdata/b

[2016-10-21 21:18] #1002 closed

[2016-10-22 14:47] #985 closed

[2016-10-22 15:34] martinholmer opened #1009 "Release 0.6.9"
Please edit the table below adding your significant contributions as they are merged to master.

The highest-numbered pull request included in 0.6.8 was #973, which was merged into master on 07-Oct-2016.  The enhancements issue for tracking release 0.6.8 was #949.

**Significant contributions to Tax-Calculator release 0.6.9**

| Contributor | PR# | Description |
| :-- | :-- | :-- |
| Cody Kallen |

[2016-10-23 00:26] mramanathan commented on #160
@talumbau, could you please confirm if this code 'refactoring' is still on the project's radar (of course, issue isn't closed). I can help with logging module. Shall I go ahead ?

/Ram

[2016-10-25 20:13] martinholmer commented on #861
@MattHJensen,  Can we close issue #861?  Or are there still outstanding related issues?  This issue has been open since August 12.

[2016-10-25 21:21] MattHJensen commented on #861
Sorry for not seeing the earlier comment. Happy to close this issue and doing so now. Thanks to everyone for helping to resolve it.

[2016-10-25 21:21] #861 closed

[2016-10-26 14:39] MattHJensen commented on #974
**@martinholmer, is this an accurate summary of your findings?**

There are two kinds of CG income that are not taxed at the regular CG and QDIV rate schedule. Because the rates at which that irregular income is taxed are hardwired into functions.py, it will continue to be taxed at current law rates even if we modify the regular CG and QDIV rate schedule. Therefore, when we change the the regular

[2016-10-26 15:58] martinholmer commented on #859
Issue #859 is in the process of being resolved by pull request #1015.

[2016-10-26 17:15] martinholmer commented on #160
@talumbau and @mramanathan,  I honestly don't see a positive net benefit (that is, benefits minus development/maintenance costs) to using the logging module.  If it could work inside the functions in the `functions.py` file, I would reconsider my assessment.  But I assume the numba magic in those functions rules out the use of the Python logging module, right?

I think there are many other much hi

[2016-10-26 17:35] martinholmer commented on #974
@MattHJensen said:

Yes, the above is an clear and accurate summary of the situation with respect to issue #974.

And then @MattHJensen continued:

Your second, alternative or flat-rate-schedule, approach definitely seems like it would work.  I'm not so sure about the first approach, but maybe I haven't thought hard enough about this issue.  I haven't figured out how to determine which of the thre

[2016-10-27 07:54] zrisher commented on #859
The above sounds good to me, except that the tests go in `taxcalc/tests` (or even `taxcalc/tests/dropq`) instead of `dropq/tests`. The PR is already doing this correctly. That appears to be the commonly used file structure.

[2016-10-27 09:35] martinholmer commented on #859
@zrisher said:

Yes, you are right.  And, as you point out, pull request #1015 is putting the unit tests for the dropq code in the `taxcalc/tests/test_dropq.py` file.

[2016-10-27 12:04] zrisher commented on #946
First, thanks @martinholmer for your excellent PR #978, which:

* discusess our enforcement of PEP8 and pylint
* discusses how to analyze the current code state for PEP and pylint
* declares `pep8` and `pylint` packages as environment requirements

**I would still like something to handle style cases not covered by PEP8 or pylint** but common to our repo, where some consistency would be helpful.

[2016-10-27 15:25] salimfurth commented on #1003
Be careful about using CPS for state-by-state information. It's not balanced at the state level, so small groups - like high earners - won't be accurately counted for small states.

[2016-10-31 14:26] martinholmer commented on #974
@MattHJensen,  Has Tax-Calculator issue #974 been resolved to your satisfaction?  If not, can you raise the remaining issues; of if so, can you close #974?

@feenberg @Amy-Xu @GoFroggyRun @andersonfrailey @codykallen

[2016-10-31 14:32] martinholmer commented on #182
Tax-Calculator issue #182 seems to have been resolved by the revisions and bug fixes in pull requests #1000 and #1001, so #182 is being closed.

[2016-10-31 14:32] #182 closed

[2016-11-01 16:41] MattHJensen commented on #974
@martinholmer, this is resolved. Thanks a lot! Closing.

[2016-11-01 16:41] #974 closed

[2016-11-02 11:08] MattHJensen opened #1025 "CG, EITC, CTC enhancement requests"
A Senator’s office is interested in assessing a plan that includes the provisions below, among others. These are the provisions that I think might require some TC enhancement. The parameter values should be seen as placeholders. For perspective, the plan might also include repealing the corporate income tax.

1)   Capital Gains.

Tax all (not just long-term) capital gains and qualified dividends a

[2016-11-02 13:20] martinholmer opened #1026 "Questions about MTR graphs after bug-fix in PR#1020"
@MattHJensen asked in #1020:

These are two good questions.

(1) After merging #1021, the second graph looks like this:

![image](https://cloud.githubusercontent.com/assets/12170745/19928535/2f09c378-a0d5-11e6-9517-401454673a6d.png)

So, yes, it would seem from a visual inspection that the marginal income tax rate does not change when all earnings are subject to payroll taxes.  But a closer examin

[2016-11-03 20:57] martinholmer commented on #1025
In issue #1025 @MattHJensen identified some Tax-Calculator enhancements that would broaden the range of reforms Tax-Calculator can simulate.

The kinds of capital gains and qualified dividends reforms described in #1025 will be possible to simulate after pull request #1027 is merged into the master branch.

The kinds of EITC reforms described in #1025 will be possible to simulate after pull reques

[2016-11-03 21:15] andersonfrailey opened #1030 "Integrating CPS based file into TaxCalc"
This issue continues the work being done to make TaxCalc more accessible by allowing for the use of non-puf data sources as seen in PR #376 and issue #851. This specifically addresses creating a CPS based file to be used as an alternative to the PUF and modifying TaxCalc to use it, as brought up in issue #319.

An advantage of this file is that it could form the base for an extrapolated, nationall

[2016-11-04 10:17] feenberg commented on #1030
On Thu, 3 Nov 2016, andersonfrailey wrote:

If a variable is missing from the CPS, then it should be treated as zero,
and the code should allow this. In the long run we will have several data
sources, and users will have there own. It isn't difficult to treat
missing data as zero - it is what the IRS does on your tax form.

Variables present in the CPS but not in the PUF should be allowed and not

[2016-11-04 12:29] martinholmer commented on #1030
@andersonfrailey said:

It is good to have a long-run plan, but also very important to go about this complex task step by step, beginning with simple issues and progressing to more complex issues.  It would appear that the overall outlines of your plan are consistent with that approach.

I want to ask questions about just your first step:

You don't say, but I'm assuming that the new "CPS file" is

[2016-11-04 13:37] martinholmer commented on #946
@zrisher, Thank you for your thoughtful 27-Oct-2016 comments on issue #946 with respect to coding style documentation.

First of all, in case anybody else is reading this conversation, we need to clarify some terms.  The `pep8` and `yapf` programs mostly (exclusively?) address the horizontal and vertical positioning of Python source code.  I suppose you could say they check "coding style", but it

[2016-11-04 15:02] MattHJensen commented on #1025
Thanks a lot @martinholmer. I will review these PRs closely. If anyone else wants to do the same, it would certainly be appreciated.

@MattHJensen @feenberg @Amy-Xu @GoFroggyRun @andersonfrailey @codykallen

[2016-11-04 15:20] andersonfrailey commented on #1030
@feenberg

income data file?

The initial weights can be part of the initial data file, but if we want to be able to extrapolate them out and have weights for ten years they need to be in a separate file to work with how the program is currently designed.

record be given weights that reflect state totals?

level totals?

@Amy-Xu will address these questions.

provides to match CBO aggregates?

No

[2016-11-04 15:43] andersonfrailey commented on #1030
@martinholmer

The file is in CSV-format, but not called `cps.csv` yet. The file I've been given currently has a little over 500 variables that have been pulled from the CPS and PUF files used to create the matched file and some added during the statistical matching process. I'll be dropping the unnecessary variables and doing some other basic cleaning up to create the `cps.csv` that can be used b

[2016-11-04 15:46] martinholmer commented on #1030
@andersonfrailey,  Thanks for your answers to my questions.  Your plan of action makes sense.  I'll wait until you have generated a `cps.csv` file before getting involved again with these issues.

[2016-11-04 15:56] jdebacker commented on #1030
@andersonfrailey, thanks for your work on this.  Great extension of the Tax-Calculator capabilities.

@feenberg said:

cause an error. I am mystified by the use of "VALID_READ_VARIABLES"
because it seems counter-productive to signal an error merely because
there are extra variables.

+1 from me on this.

@andersonfrailey said:

Related to some of @feenberg's comments regarding the use of other dat

[2016-11-04 15:59] Amy-Xu commented on #1030
Thank you Dan and Martin. Your questions really make me to think more in depth about this process. I try to address some questions here, but I'll need to further confirm with John.

Dan asked:

Let me clarify a bit our jargons here. In the whole extrapolation process, we're doing a two-stage adjustments. In stage I, we multiply the year zero dollar amounts of each record by factors that deem appro

[2016-11-04 17:12] MattHJensen opened #1031 "Add HC's CTC expansion option"
@codykallen recently implemented a quick version of the Clinton child tax credit expansion for Alex Brill's [blog post](https://www.aei.org/publication/6-things-to-know-about-hillary-clintons-new-child-tax-credit-expansion/) and [op ed ](http://www.realclearmarkets.com/articles/2016/10/28/who_will_pay_for_hillary_clintons_tax-code_social_engineering_102402.html) on the policy.

I recently asked hi

[2016-11-04 17:57] feenberg commented on #1030
On Fri, 4 Nov 2016, Jason DeBacker wrote:

I was thinking more of the

   CEX, because it is the best US source of expenditure data
   SCF, because it is the best US source of wealth data and the
   PSID because it provides a long panel with good income data.

All of these would address important questions that the PUF is hard
pressed to address without dubious imputations.

dan feenberg

[2016-11-04 18:25] jdebacker commented on #1030
To clarify, I agree with @feenberg re other data sources.  But, since you are starting with the CPS, I thought it might be enlightening start with a more "raw" version, which will get you thinking about how to write more general functions (and make more generalizable assumptions) to get alternative data sources into the format needed for Tax-Calc (which will eventually include other sources beside

[2016-11-04 20:23] MattHJensen opened #1033 "Handle "Surplus" Variables"
Over in #1030,

@feenberg said:

@jdebacker said:

As far as I can tell there is one modest and one major downside to using `VALID_READ_VARS` to limit the datasets that Tax-Calculator can accomodate.

The modest downside is that someone with a file containing both valid and invalid variables must preprocess their file to remove all invalid variables. I can see how this could be an inconvenience in

[2016-11-04 20:29] MattHJensen commented on #1033
I just changed the name to Handle "Surplus" Variables, as that is what the intent really is. My question is, "How can we handle surplus variables in Tax-Calculator. I propose a solution above.

Note that these issues were also discussed in October 2015 in #425.

[2016-11-04 20:38] MattHJensen commented on #1033
I believe the solution described above would also deal with

[2016-11-04 20:41] MattHJensen commented on #1030
I just opened a new issue, #1033, to discuss how to handle surplus variables in Tax-Calculator. I believe a solution to that issue would also preempt needing to deal with the second part of this issue:

[2016-11-04 20:59] martinholmer commented on #1033
@MattHJensen said:

Whatever the merits of #1033, I think this problem has little to do with VALID_READ_VARS and more to do with a lack of coordination among team members.  There has always been a careful process of rolling out a new `puf.csv` file with plenty of notice to all team members.  Sometimes the new `puf.csv` is smaller and sometimes it is larger (as with the current revision described i

[2016-11-04 21:07] MattHJensen commented on #1033
I agree that lack of coordination is a problem, but coordination is hard, especially as the number of external users of Tax-Calculator grows, both people and applications. I think we should aim to make as few breaking changes as possible, given that each one causes trouble and costs time for many people, and the current usage of VALID_READ_VARS is causing a significant number of our breaking chang

[2016-11-04 21:16] martinholmer commented on #1033
@MattHJensen said in #1033:

How about `USABLE_READ_VARS` to go along with the existing and essential `INTEGER_READ_VARS`?   If we make (1) that name change and (2) simply pass over input variables that are not in the `USABLE_READ_VARS` set without any warning or notice (which could get very messy and lengthy), are goals of #1033 achieved?

@MattHJensen @feenberg @jdebacker

[2016-11-04 21:22] MattHJensen commented on #1033
Yes, that sounds good to me.

I think that would be just fine for now.

Perhaps we may eventually want to adopt something from @zrisher's work to warn users when their LUCA tax form variables aren't used, but we won't know until his work is finished and in the meantime I wouldn't want him to change his approach or make it any harder to accomodate this use case.

[2016-11-04 21:47] feenberg commented on #1033
On Fri, 4 Nov 2016, Matt Jensen wrote:

I think it is possible to have a minimum list of required variables, and
make everything else optional. Programmers would have to use some
discipline to ensure that zero for a variable was a reasonable value.
This is natural for most income and deduction items - missing is zero
and that income is probably included in some other line. If the PSID
doesn't have

[2016-11-05 19:23] martinholmer commented on #160
Ten days ago @martinholmer said:

I'm assuming that no answer in ten days means the Python logging module would not be able to helf with tracing the complex logic in the functions.py file.  Also, there has been no objection in ten days to my proposal that issue #160 be closed.

[2016-11-05 19:23] #160 closed

[2016-11-06 23:15] martinholmer commented on #1033
I believe Tax-Calculator pull request #1035 resolves the issues raised in #1033.

[2016-11-07 00:14] MattHJensen commented on #1033
Thank you @martinholmer for such a fast resolution to this. Closing.

[2016-11-07 00:14] #1033 closed

[2016-11-08 20:26] feenberg commented on #892
We have a mailing list for users

  users@list.ospc.org

and Matt and I moderate it. But it receives almost no use. I have hoped that OSPC insiders would steer users to the list so that it would have more content.  The link to it is buried in the text on the taxbrain web page.

dan

[2016-11-09 11:39] martinholmer commented on #1025
The enhancements requested in issue #1025 have been implemented in three merged pull requests: #1027, #1028 and #1029.

[2016-11-09 11:39] #1025 closed

[2016-11-09 13:13] martinholmer commented on #949
Should the information in issue #949 be incorporated in release 0.6.8?  After doing that, it seems as if #949 should be closed.

[2016-11-09 13:41] #1031 closed

[2016-11-09 13:44] MattHJensen commented on #949
I'll do that. Thanks for the reminder @martinholmer.

[2016-11-09 15:27] MattHJensen commented on #949
0.6.8 release description updated. Closing.

[2016-11-09 15:27] #949 closed

[2016-11-09 16:05] martinholmer opened #1048 "Release 0.7.1"
Please edit the table below adding your significant contributions as they are merged to master.

The highest-numbered pull request included in 0.7.0 was #1044, which was merged into master on 09-Nov-2016.

**Significant contributions to Tax-Calculator release 0.7.1**

| Contributor | PR# | Description |
| :-- | :-- | :-- |
| Martin Holmer | #1051 | rename policy parameters for consistency|
| Matt

[2016-11-09 16:06] MattHJensen commented on #1009
Closing. Thanks @martinholmer.

[2016-11-09 16:06] #1009 closed

[2016-11-09 19:22] MattHJensen opened #1050 "Proposal for proxy welfare measures"
@gleiserson (Greg Leiserson) emailed me a detailed proposal for adding proxy welfare measures to Tax-Calculator and potentially TaxBrain output tables.

[Proposal for proxy welfare measures.docx](https://github.com/open-source-economics/Tax-Calculator/files/581613/Proposal.for.proxy.welfare.measures.docx)

[Table Shells.xlsx](https://github.com/open-source-economics/Tax-Calculator/files/581616/Tab

[2016-11-09 19:39] MattHJensen commented on #1050
**Proposal for proxy welfare measures**

This note outlines a methodology for computing proxy welfare measures
for use in assessing the normative implications of changes in tax
policy. It primarily relies on estimates of changes in tax liabilities
from Tax-Calculator. In addition, users may assume an ad hoc revenue
offset or use an estimate of the revenue offset from another economic
model to esti

[2016-11-09 21:19] feenberg commented on #1050
How do I read the equations?

dan

On Wed, 9 Nov 2016, Matt Jensen wrote:

[2016-11-09 23:11] MattHJensen commented on #1050
@feenberg, here is a link to a document that contains the equations: [Proposal for proxy welfare measures.docx](https://github.com/open-source-economics/Tax-Calculator/files/581613/Proposal.for.proxy.welfare.measures.docx)

[2016-11-10 01:33] talumbau opened #1052 "Why does tag 0.7.0 exist on this repo?"
The current release of `taxcalc` is 0.6.8. @MattHJensen requested a new release because of the new features that have been added since then. In order to do the new release, there are usually only two cases to consider:

 - no new tag exists (so the current release, e.g. "0.6.8", is the most recent tag on the repo). In this case, I simply create a new tag. This new tag will then be associated with

[2016-11-10 02:33] talumbau commented on #1052
cc @martinholmer

[2016-11-10 02:43] MattHJensen commented on #1052
0.7.0 is the release we hope to deploy to TB. I mentioned this on flowdock but it probably got lost in the flow.

As an alternative, we could roll the commits from 0.7.0 into 0.6.9 and then delete 0.7.0 and deploy 0.6.9, but I couldn't find a way to do that.

We have two releases because I didn't communicate effectively w the TC team before releasing 0.6.9 and missed some commits that @martinholme

[2016-11-10 03:06] talumbau commented on #1052
got it. thanks. I will create 0.7.0 and deploy to TB.

[2016-11-10 03:06] #1052 closed

[2016-11-11 00:29] MattHJensen opened #1054 "expand CTC_new to include an under5_bonus"
Samuel Hammond and Robert Orr have a recent Niskanen Center paper, "[Toward a Universal Child Benefit](https://niskanencenter.org/wp-content/uploads/2016/10/UniversalChildBenefit_final.pdf)", that analyzes two CTC proposals.

To analyze the first proposal, I'll use the CTC_new capabilities that @martinholmer contributed recently. In order to accomodate the full refundability, I plan to set CTC_new

[2016-11-11 15:19] martinholmer commented on #1054
@MattHJensen said about analyzing the Hammond-Orr CTC reform proposals:

That will work fine as long as their CTC proposal rules out refundable CTC for those with no earnings.

[2016-11-11 21:11] martinholmer commented on #1026
The answers in issue #1026 to two questions posed by @MattHJensen about marginal tax rate graphs has been open for nine days.  I'm going to close it now as it seems this was enough time for anybody who was interested to read it.

[2016-11-11 21:11] #1026 closed

[2016-11-13 00:24] MattHJensen commented on #1030
This issue (#1030) is about integrating a prepared CPS file with TC and not about the preparation of the CPS file itself, but @feenberg suggested that it would still be useful, as background reading, to include documentation describing how the CPS file was prepared. Here is such documentation for John's original project for preparing the CPS file. There have been some modifications between the ori

[2016-11-13 21:46] martinholmer commented on #1050
@feenberg said about the Microsoft Word (.docx) document mentioned by @MattHJensen in issue #1050:

Can somebody with Microsoft Word convert the document to a PDF file that contains the equations, otherwise it would seem that to read the document you must have Microsoft Word.  I don't have that program on my Mac, so I can't read the document either.

[2016-11-14 12:42] codykallen commented on #1050
[Proposal.for.proxy.welfare.measures.pdf](https://github.com/open-source-economics/Tax-Calculator/files/589220/Proposal.for.proxy.welfare.measures.pdf)
PDF version

[2016-11-14 12:59] feenberg commented on #1050
Actually, I have MS word, but gmail doesn't bring it in to word, but
displays the rtf(?) instead.

dan
On Sun, 13 Nov 2016, Martin Holmer wrote:

[2016-11-14 14:14] martinholmer commented on #1050
@codykallen,  Thanks for making a PDF.
The equations are included in [this PDF version of the document](https://github.com/open-source-economics/Tax-Calculator/files/589220/Proposal.for.proxy.welfare.measures.pdf).

[2016-11-14 14:40] MattHJensen commented on #1048
I plan to release 0.7.1 this evening (Mon Nov 14th) after 8 pm. The changes should be deployed to TB by sometime on Wednesday.

[2016-11-14 14:46] MattHJensen commented on #1054
No, that is not what they are proposing. Thanks a lot for pointing this out to me. I will update #1055 shortly.

[2016-11-14 16:04] feenberg commented on #1050
Just a few comments.

Is a poll tax the right alternative for financing? That seems very odd to
me. In the end we don't know how any tax reform will be financed. It could
be proportional, progressive, or just defaulting on the national debt.
Most tax-cutters believe it will be financed with a reduction in spending
(without much evidence, of course). I don't suppose it is up to us to
decide these t

[2016-11-14 17:44] martinholmer opened #1058 "Release 0.7.2"
Please edit the table below adding your significant contributions as they are merged to master.

The highest-numbered pull request included in 0.7.1 was #1064, which was merged into master on 15-Nov-2016.

**Significant contributions to Tax-Calculator release 0.7.2**

| Contributor | PR# | Description |
| :-- | :-- | :-- |
| Cody Kallen | #1069 | add ability to simulate non-refundable dependent cr

[2016-11-14 22:04] #1054 closed

[2016-11-15 13:37] MattHJensen commented on #1048
0.7.1 is released: https://github.com/open-source-economics/Tax-Calculator/releases/tag/0.7.1

[2016-11-15 13:37] #1048 closed

[2016-11-15 15:32] MattHJensen opened #1065 "CG behavioral elasticity example -- should it rely on CG MTR from TC/TD?"
The CG behavioral elasticity example in the [`Behavior.response()` docstring](https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/behavior.py#L109-L124) uses the capital-gains-weighted average (pre-reform) marginal tax rate from TPC to . I am wondering if we should switch to using the MTR from TC/TD.

@martinholmer, do you remember the history of thought on using TPC's to b

[2016-11-15 15:35] codykallen commented on #1065
Yes, I used the TPC marginal rates but the OSPC's income shares. And I still have the workbook I used to produce the -3.49 semi-elasticity.

[2016-11-15 16:10] codykallen commented on #1065
I just ran the numbers for 2016, using weights (taxable gain, as in the CBO-JCT paper) and marginal tax rates on p23250 from TC. I come up with a semi-elasticity of -3.45. This also corresponds to a net-of-tax-rate elasticity of 2.66.

[2016-11-15 16:22] gleiserson commented on #1050
In a fully static, fully financed distribution table the relevant question is generally what the best approximation to the eventual financing will be (notwithstanding the difficulty of figuring out what that means/is). Conveniently, that the analysis is fully static allows the user to freely vary the financing method without changing the results. However, in an analysis that is not fully static, t

[2016-11-17 15:16] codykallen opened #1068 "Implementing Ryan-Brady plan"
To implement the Ryan-Brady plan in the Tax-Calculator, we need to make two modifications: excluding part of only certain types of investment income (qdiv, ltcg and interest income), and a 500 credit for all dependents that functions with the child tax credit.

The tax [blueprint](http://abetterway.speaker.gov/_assets/pdf/ABetterWay-Tax-PolicyPaper.pdf) calls for excluding half of investment incom

[2016-11-17 18:23] feenberg commented on #1068
There is much "investment income" in partnerships and schedule c, but also
much earned income. How do we distinguish those?

dan

On Thu, 17 Nov 2016, codykallen wrote:

[2016-11-17 18:25] codykallen commented on #1068
Income from partnerships and Sch C gets taxed separately, with a maximum rate of 25%.

[2016-11-17 18:33] codykallen commented on #1068
The $500 nonrefundable credit for dependents is implemented in PR #1069.

[2016-11-17 21:28] martinholmer commented on #1050
@gleiserson, Thank you for your thoughtful discussion on how to make normative welfare judgments in assessing tax reforms (which is contained in [this PDF file](https://github.com/open-source-economics/Tax-Calculator/files/589220/Proposal.for.proxy.welfare.measures.pdf)).

I would like to confirm my understanding on a number of points you make and then pose some questions on other issues.  These c

[2016-11-17 22:02] martinholmer commented on #1068
@codykallen said in issue #1068:

Frankly, I'm reluctant to add features to Tax-Calculator that are not actually part of a tax reform proposal.  Why don't you have Alex Brill check with authors of the Blueprint to see exactly what their proposal is?  Meanwhile, you can assume that the exclusion applies to all investment income and use the existing `_ALD_Investment_ec_rt` policy parameter to charac

[2016-11-18 00:20] MattHJensen commented on #1068
@martinholmer, I'm hesitant to subscribe to this approach for a few reasons:

- Alex and Cody are active users and contributors, and the reform is interesting to them. Plus it could be interesting to others.
- We can't expect that every contributor who would like to analyze a proposed reform to have access to the reform authors.
- Sometimes when a contributor does have access to the reform authors

[2016-11-18 01:07] martinholmer commented on #1068
@codykallen said at the beginning of the conversation about issue #1068:

Then @MattHJensen said about @martinholmer's comment:

OK.  Let me try to use this enhancement request as an opportunity to try to develop the code-snippet approach to structural reforms in Tax-Calculator as described in #429.  @codykallen, can you send me (via private email) the preliminary code changes you've developed for

[2016-11-18 01:40] andersonfrailey commented on #1030
Update on the progress of this issue:

I’m almost ready to say `cps.csv ` is complete. I’m going through and double checking that everything was done correctly. I’ll open a TaxData PR to upload the code used to create the file when I am finished.

For clarity, `cps.csv` refers to this new file, `puf.csv` refers to the PUF currently in use, and the production file refers to the larger file I used t

[2016-11-18 15:01] gleiserson commented on #1050
Thanks @martinholmer for the thoughtful followup and proposed implementation. This comment responds to the questions. I then will follow up with another comment on the code/proposal.

See answer to (d) below.

Yes.

Yes. (Or, more accurately, I propose to use the broadest measure of after-tax income available in Tax-Calculator, but I did not know what it was when I wrote the proposal.)

I propose

[2016-11-18 15:22] martinholmer commented on #1050
In a prior comment in the conversation of issue #1050, I promised to provide an example of how to use the expected-utility framework to make normative welfare judgments about tax reforms.  That framework is implemented in the `reform-exputil.py` script that I posted in that earlier comment.

I pick for this example a reform that is easy to describe and that suggests one obvious "financing" method

[2016-11-18 15:31] martinholmer commented on #1050
@gleiserson said:

OK.  How do propose to use this modified utility function?  Do propose to use it to compute the expected utility of consumption (which is assumed to the after-tax expanded income)?

[2016-11-18 15:37] gleiserson commented on #1050
As @martinholmer points out, my proposal did not specify an aggregation rule to convert changes in utility at the tax unit level into aggregate welfare changes. The intended aggregation rule was to sum the tax unit level changes.

Thus, for purposes of the aggreate welfare measure, I believe @martinholmer 's code generates an order and sign-preserving re-scaling of my proposed measure. (eu1 and eu

[2016-11-18 15:47] feenberg commented on #1050
Decisions about measuring social welfare should be answered by Hassett and
Viard. They are not programming decisions.

I haven't seen a reply to my suggestion that a table showing marginal
welfare by income, for widely varying incomes accompany these proposals.
Are we of the opinion that a reasonable value of RRA is even available for
the range of incomes in the PUF?

dan

[2016-11-18 16:03] gleiserson commented on #1050
Thanks @martinholmer for the sample results. The second and third cases illustrate one important difficulty in this exercise. In general, comparing across welfare measures is not that informative. Each welfare measure provides information about the relative ranking of policy regimes according to that measure but differences across measures in differences across policies don't mean much.

Notwithst

[2016-11-18 16:59] MattHJensen commented on #1050
@feenberg, said:

The core maintainers of Tax-Calculator are @feenberg, @martinholmer, @amy-xu, @talumbau, and myself. Whatever is committed needs to be agreed upon by members of this group, not by anyone else. Feedback from others is, of course, very welcome.

[2016-11-18 17:24] martinholmer commented on #1050
@gleiserson said:

Excellent point!  In what I've done so far, the very low after-tax expanded-income cases are handled differently than in your proposal.  If after-tax expanded income is below a threshold (which in my examples is $1,000), then that filing unit is assumed to have after-tax expanded income of $1,000, which as you described in your memo can be imagined to come from family, friends,

[2016-11-18 17:29] martinholmer commented on #1050
@gleiserson said:

Agreed.  My examples followed your spreadsheet layout and are useful for thinking about issues during the development stage.

@gleiserson continued:

I guess this means that when we get to the implementation stage we will have to think carefully about exactly how to package this normative welfare capability and what output to show the user.

[2016-11-18 17:44] martinholmer commented on #1050
@gleiserson said:

[code]

I understand your verbal description, but (unless I'm mixed up) your equation doesn't look like it represents your description.  In particular, the expression `min(0,c-c_min)` is non-positive, declining from zero to `-c_min` as `c` declines from `c_min` to zero.  Don't you want the utility of consumption for the `c=c_min/2` case to be half the positive utility of consump

[2016-11-18 17:56] gleiserson commented on #1050
If c < c_min, everything before the + sign evaluates to u(c_min). The marginal utility at c_min is (c_min)^(-theta) and will be positive for any positive value of c_min. Thus for any value c < c_min, the entire expression is u(c_min) + (marginal utility of c_min)*(distance from c_min). The negative sign on the distance results in the second term being subtracted from the first and should yield the

[2016-11-18 18:24] martinholmer commented on #1050
@gleiserson said:

Thanks for correcting my thinking.  I now understand exactly what you're doing.

There seems to be just one remaining question.  Will your approach work in a sensible way when `c` is negative?  There are more than a few filing units in the `puf.csv` sample that have negative expanded income (usually because of large business losses).

It seems as if the next step is to develop a

[2016-11-18 18:33] gleiserson commented on #1050
My best idea for handling zero/negative values of income is to simply assume a marginal utility for tax units with zero/negative values of income in the baseline and evaluate all changes using that marginal utility. For substantially negative values, I think zero is not a terrible approximation (since the tax units are likely high income and their number is small relative to the population -- thou

[2016-11-18 22:29] martinholmer commented on #1050
I've modified the `reform-exputil.py` script used to generate the examples so that it can use either a modified isoelastic utility function proposed in issue #1050 by Greg Leiserson or a more standard isoelastic utility function as used in the earlier examples above.  The only difference between these two approaches is in how to deal with filing units who have very low after-tax expanded income.

[2016-11-19 19:41] gleiserson commented on #1050
I am confused by the output in case (2). When CRRA = 0 my proposed modified utility function is identical to the "traditional" utility function. That is, u(c) = c if theta = 0 and so the tangent line for c < c_min is identical to the underlying function. Given this, a redistribution of income with no effect on total income should leave utility unchanged. Yet the output indicates certainty equivale

[2016-11-20 16:07] MattHJensen commented on #1068
@codykallen, has this issue been fully resolved by #1069 and #1071?

[2016-11-20 17:39] martinholmer opened #1073 "What is rationale for two different cmbtp_* variables?"
In the taxdata repository, the following code (which used to be in Tax-Calculator) computes the `cmbtp_standard` and the `cmbtp_itemizer` variables:
[code]
Can somebody explain the rationale for having two different variables?

This question is being posed because the recent addition of those variables into the calculation of `_expanded_income` (see pull request #1057) causes `_expanded_income` to

[2016-11-20 18:52] feenberg commented on #1073
On Sun, 20 Nov 2016, Martin Holmer wrote:

Isn't the solution to this dilemma that the the choice of which definition
to use should depend on the taxpayer decision to itemize in the base law,
and not be affected by the reform?

dan

[2016-11-20 19:02] martinholmer commented on #1073
@feenberg said:

Yes, I think so.  I've already started preparing pull requests in taxdata (to include the FDED variable in the `puf.csv` file) and in taxcalc (to use FDED to identify which `cmbtp_*` variable should be used to define (immediately after the data is read in and before any tax calculations) a `nonAGI_income` variable that will be added directly into `_expanded_income`.  Does that mak

[2016-11-20 20:54] MattHJensen opened #1074 "Add fields and reorganize current_law_policy.json"
I am thinking about opening a few PRs to augment and reorganize `taxcalc/current_law_policy.json` and am interested in feedback from others before I undertake the project.

While I strongly believe these changes will be helpful for Tax-Calculator users, I'll admit that my original motivation for thinking about this project is to facilitate coordination between the Tax-Calculator and TaxBrain teams

[2016-11-20 21:05] #1068 closed

[2016-11-20 21:41] martinholmer commented on #1073
Issue #1073 is resolved in pending pull request #1075.

[2016-11-20 21:49] feenberg commented on #1074
On Sun, 20 Nov 2016, Matt Jensen wrote:

  These seem like really good ideas. Perhaps the TB web page could have
expandable sections, where you could select a section to expose the
parameters available to set, and perhaps subsections that could be
expanded recursivly.

dan

[2016-11-21 16:11] MattHJensen commented on #1065
@codykallen, would you be interested in updating the `behavior.response()` docstring w your new finding?

[2016-11-21 17:20] codykallen commented on #1065
@MattHJensen I just updated it in PR #1076

[2016-11-21 23:22] martinholmer commented on #1050
@gleiserson said:

You are right to wonder why, in the risk-neutral (crra=0) case, the certainty-equivalent after-tax expanded incomes are not exactly the same for the baseline and reform (because we conducting a static analysis of a fully-financed tax reform).  In order to answer your question I've explored a number of issues and discovered something about how the expanded income variable is comp

[2016-11-22 00:00] gleiserson commented on #1050
Thanks @martinholmer (and sorry I can't be more help with the coding side of things). These results make sense to me.

Note, however, that once we get to step two of the proposal and start incorporating changes in labor supply/avoidance/etc., it no longer makes sense to feed income directly into the utility function for evaluating changes in welfare. Such an approach implicitly assumes leisure/tax

[2016-11-22 13:51] codykallen opened #1078 "TaxBrain minimum value for additional standard deduction"
The TaxBrain entry for the additional standard deduction for the aged and blind requires that the input value be greater than or equal to the default value. Is there a reason for this?

@MattHJensen @martinholmer

[2016-11-22 15:04] martinholmer commented on #1073
Issue #1073 has been resolved by the merger of pull request #1077 into the Tax-Calculator master branch.

[2016-11-22 15:04] #1073 closed

[2016-11-22 15:41] martinholmer commented on #1078
@codykallen asked:

I don't know the answer to your question.  I think @Amy-Xu and @MattHJensen were involved in the addition of validation logic during September 2015.  Back then the `current_law_policy.json` file was called `params.json`.  If we look at the history of the `params.json` file, we see that the validation field for the `_STD_Aged` parameter was added in commit ecbc149 on 18-Sep-2015

[2016-11-22 15:55] martinholmer commented on #1078
I see that the two commits mentioned above in issue #1078 were merged into Tax-Calculator master branch in pull request #355.  The #355 conversation contains some discussion about the technicalities of the validation fields being added to the parameter information, but does not seem to provide any rationale.  However, issue #331 does provide the rationale for the addition of the validation info.

[2016-11-22 15:58] codykallen commented on #1078
@MattHJensen, that makes sense. Thanks for clearing that up.

[2016-11-22 15:58] #1078 closed

[2016-11-22 17:08] martinholmer commented on #1050
@gleiserson said:

But what if we are assuming no labor-supply response to the rate-cap reform, but instead we are assuming that the increase in after-tax income is largely saved, and hence, there is a higher rate of investment that leads to faster economic growth.  If we imaging conducting our social welfare analysis in a year that is several years after the reform is first implemented, before-ta

[2016-11-22 18:15] MattHJensen commented on #1065
Thanks @codykallen! Closing by #1076.

[2016-11-22 18:15] #1065 closed

[2016-11-22 19:08] martinholmer commented on #429
This is a progress report on open issue #429, "User extensibility of TaxBrain":

During November 2016, TaxBrain began accepting an uploaded JSON reform file as an alternative way to specify a tax reform.  This feature seems to work well and is now being used by at least one Congressional staff person to analyze reforms that are not able to be specified (yet?) on the main TaxBrain page.  Currently,

[2016-11-28 03:47] martinholmer commented on #859
Pull request #1015, which was merged into the master branch in early November 2016, resolves issue #859.

[2016-11-28 03:47] #859 closed

[2016-11-28 03:51] martinholmer commented on #84
Issue #84, which was raised almost two years ago on 18-Dec-2014, would seem to have been superseded by the general method contained in pull request #1081.
Is there any reason why issue #84 should not be closed?

@talumbau @MattHJensen @feenberg

[2016-11-28 04:03] martinholmer commented on #627
What is the status of issue #627 (which was opened almost nine months ago on 02-Mar-2016)?
There was some immediate progress (via pull request #631), but there has been no discussion of this issue since then.  Is there any reason to keep issue #627 open?

@MattHJensen @feenberg @Amy-Xu

[2016-11-28 04:08] martinholmer commented on #633
What is the status of issue #633 with respect to cleaning up the `e_variable_info.csv` file?
Is that file still considered important?  If so, how to we ensure that it does not become out-of-date?

@MattHJensen @Amy-Xu @zrisher @feenberg

[2016-11-28 04:13] martinholmer commented on #724
What is the status of issue #724 with respect to "change log strategy"?
We seem to have settled on such a strategy (see issue #1058, for the most recent example).
Given that, is there any reason to keep #724 open?

@MattHJensen @feenberg @zrisher

[2016-11-28 04:23] martinholmer commented on #946
What is the status of issue #946?  This issue, which is titled "Provide style guidelines in the developer docs", was opened about two months ago, and the last comment in the discussion was posted over three weeks ago.  Is there any reason to keep this issue open?

@MattHJensen @feenberg @zrisher @Amy-Xu @GoFroggyRun @andersonfrailey

[2016-11-28 13:40] MattHJensen commented on #84
Agree that this issue has been superseded by #429. Closing

[2016-11-28 13:40] #84 closed

[2016-11-28 15:31] Amy-Xu commented on #627
@martinholmer I think 1-4 have already been included in the TC repo in April this year, and 5 is in tax-data repo. Not quite sure what the plan is for 6-8 though.

[2016-11-28 15:38] Amy-Xu commented on #633
@martinholmer Somehow I missed your initial comment on this issue -- I have very mixed feeling on var_labels.txt in that last time when I tried to see what e01500 and e01700 were and got really confused, which can only be more confusing for other users not familiar with puf variables. Should we keep it in the repo? I'm not quite sure what additional information is provided in var_lables.txt but no

[2016-11-28 15:40] martinholmer commented on #627
@Amy-Xu said about issue #627:

@MattHJensen,  Are items 6-8 in issue #627 still on the project to-do list?  If any are still active, should they have there own (more specific) issue?

[2016-11-28 15:50] martinholmer commented on #633
@Amy-Xu said:

Maybe there is no additional information, but at least a human can read it.  And the unit tests ensure that the variable list is correct, which is something that is not true for `e_variable_info.csv`.  Don't you think "users not familiar with puf variables" would be confused by that?

@Amy-Xu continued:

Are you volunteering to do this?  The experience of the past few months shows t

[2016-11-28 16:01] Amy-Xu commented on #633
Hmmmmm didn't realize e_variable_info.csv is that bad. You meant a human being with a normal range of intelligence score couldn't read it? If that's the case, we should find what exactly is difficult and modify the current version to make it more straightforward.

I can do it if I have time. It also seems to be a very good task for a new intern or RA as a warming-up exercise.

[2016-11-28 16:12] martinholmer commented on #633
With respect to issue #633 and @Amy-Xu most recent comments, I think we should remove the `var_label.txt` file and associated test, which is what I suggested on 15-Mar-2016.
I'll be happy to do that this afternoon.

@MattHJensen

[2016-12-01 04:05] zrisher commented on #892
@feenberg Ok, since this isn't a technical issue of the `taxcalc` repo, I'm going to close this issue. I imagine you guys have another tracking tool for issues such as these.

[2016-12-01 04:05] #892 closed

[2016-12-01 05:30] zrisher commented on #1074
@MattHJensen said:

In this case I recommend separating the "section" and "subsection" data into two values so that we don't have to do that via string parsing later. Generally, root data sources like `current_law_policy.json` should be normalized.

However, you may actually want to organize this file (or a separate file providing organization to the items defined in this file) as a directed graph

[2016-12-01 13:41] MattHJensen commented on #724
I don't think so. Closing.

[2016-12-01 13:41] #724 closed

[2016-12-01 19:23] Amy-Xu commented on #1030
Thanks to @andersonfrailey for all the work in PR https://github.com/open-source-economics/taxdata/pull/46.

Anderson mentioned that

I think it might be more precise to say less than half of the variables required by TC. Out of all missing variables, I agree with Dan @feenberg that we probably should treat them as zero, but personally I feel concerned with [the capital gain section](https://githu

[2016-12-01 20:27] andersonfrailey commented on #1030
@Amy-Xu in the [technical documentation](https://github.com/open-source-economics/Tax-Calculator/files/625677/Technical.DocumentationV4-2.pdf) Quantria states they use a "two-stage regression-based approach" to imputing short and long term capital gains and losses. From page 12:

Once total capital gains are imputed, we rely on tabulations from the 2004 PUF to allocate gains between short- and lon

[2016-12-01 21:08] Amy-Xu commented on #1030
@andersonfrailey that sounds like a reasonable approach to me. At the same time, it is going to be a major imputation that affects many sections of calculation. Do we want to force our users to use the imputation for cap gains or give them options to zero those numbers out just in case they're not happy with the imputations? That's probably another issue to think about.

[2016-12-01 23:28] feenberg commented on #1030
On Thu, 1 Dec 2016, Amy Xu wrote:

What variables are available to make the imputation? If it is only
non-gain income I would rather see "hot decking" because regression
imputations put a lot of structure on the result.

dan

[2016-12-02 14:37] andersonfrailey commented on #1030
non-gain income I would rather see "hot decking" because regression
imputations put a lot of structure on the result.

@feenberg, Quantria uses the natural log of interest income, natural log of dividend income, natural log of pension income, marginal tax rate, marital status, family size, and number of aged/blind exemptions.

We have the values of interest, dividend, and pension income, number of

[2016-12-02 15:41] feenberg commented on #1030
On Fri, 2 Dec 2016, andersonfrailey wrote:

Missing in which dataset? I thought we were comparing PUF and CPS. Can't
we use our calculated marginal tax rate (before gains)?

dan

[2016-12-02 18:36] andersonfrailey commented on #1030
we use our calculated marginal tax rate (before gains)?

Sorry, I should've been more clear which dataset I was talking about. My above comment referred to the CPS dataset. MTR is not included in the CPS file. The PUF file has all the variables and we could use our calculated MTR.

Quantria uses a PUF file to estimate the probability of realizing a capital gain/loss and then the conditional amount

[2016-12-02 18:45] feenberg commented on #1030
On Fri, 2 Dec 2016, andersonfrailey wrote:

The result of the imputation won't be perfect.

dan

[2016-12-05 21:29] MattHJensen commented on #1058
[0.7.2 released.](https://github.com/open-source-economics/Tax-Calculator/releases/tag/0.7.2) Closing.

[2016-12-05 21:29] #1058 closed

[2016-12-05 21:31] MattHJensen opened #1085 "Release 0.7.3"
Please edit the table below adding your significant contributions as they are merged to master.

The highest-numbered pull request included in 0.7.2 was #1082, which was merged into master on 29-Nov-2016.

**Significant contributions to Tax-Calculator release 0.7.3**

| Contributor | PR# | Description |
| :-- | :-- | :-- |
| Martin Holmer | #1081 | add ability to use an expression to specify a pol

[2016-12-05 22:29] salimfurth opened #1086 "Introductory py.test failing"
The test of tax calculator, as suggested on the Contributor Guide, is giving 4 failures in the up-to-date tax calculator. Both @kdd0211 and I encountered this problem today, and we verified it on 3 separate systems. On all 3 systems, the tests give 4 failures.

Here's the output from @kdd0211's interface:

MINGW64 ~/Desktop/tax-calculator/taxcalc (master)
$ py.test -m "not requires_pufcsv"

======

[2016-12-05 23:07] martinholmer commented on #1086
@salimfurth said:

Not sure about what is going on, but one possibility is that you don't have all the Python packages that Tax-Calculator expects (or you might have the packages but they are not up-to-date).

Two of your errors seem to be related to the `mock` and `bokeh` packages.  All the tests pass on my computer where I get the following:
[code]
Do you have `mock` installed?
Do you have `boke

[2016-12-06 15:01] talumbau commented on #1086
At first, I thought that the culprit would be that `mock` and `bokeh` are missing in the [environment.yml](https://github.com/open-source-economics/Tax-Calculator/blob/master/environment.yml) file, but they are both listed in the file in master. As @martinholmer suggested though, it would be good to know if those packages are in the environment.

[2016-12-06 15:08] talumbau commented on #1086
Did you have a pre-existing environment named `taxcalc-dev`, then pull master, and then run the tests? When I look at the [blame](https://github.com/open-source-economics/Tax-Calculator/blame/master/environment.yml) of the environment file, it looks like `mock` and `bokeh` are the most recently added. If that is the case, you would need to execute:

[code]

at the top of the repository. This will

[2016-12-06 16:00] salimfurth commented on #1086
Thanks @martinholmer and @talumbau, installing bokeh and mock followed by conda env update fixed two of the 4 failures. The ones that remain are in test_create_json_table() and then one that seems to be a result of that failure, test_format_print_not_implemented().

[2016-12-06 16:12] talumbau commented on #1086
this is good to know. Looking more closely at your error message, I'm wondering if you could specify the three systems where you are seeing the failures. The main information I need is operating system and Python version. Thanks in advance

[2016-12-06 16:41] salimfurth commented on #1086
Thanks @talumbau. All three are using Python version 2.7.12 and a Windows OS.
- @kdd0211's laptop has Windows 8
- My brand new laptop has Windows 10 Home
- The CDA workstation has Windows 7 Enterprise.

It's worth noting that even the 12/5 install of Anaconda on my home computer, following the Contributors Guide, didn't give me up-to-date mock or bokeh. I suggest adding those command lines in the

[2016-12-06 17:39] martinholmer commented on #1086
@salimfurth said:

Thanks for reporting your installation experience.  But actually, thus is not a documentation bug, but an apparent bug in the installation procedure.  We should investigate that installation bug and fix it.

@talumbau,  Is the installation procedure tested under Windows?

@MattHJensen

[2016-12-06 18:51] martinholmer commented on #1050
@gleiserson said:

I've now returned to working on issue #1050.
@gleiserson, Thanks for your suggested approach above.

Can you provide us with some citations in the economic research literature that describes and uses this approach?  Also, what precisely is meant by "financing" and by "revenue feedback"?  How would these two terms be computed person-by-person in situations where offsetting tax ra

[2016-12-06 20:25] codykallen opened #1087 "Implementation of CG_nodiff"
The current implementation of CG_nodiff in the CapGains function has a problematic statement on line 218.

qdcg_pos = max(0., e00650 + c01000)
qdcg_exclusion = (max(CG_ec, qdcg_pos) + CG_reinvest_ec_rt * max(0., qdcg_pos - CG_ec))
ymod1 = max(0., ymod1 - qdcg_exclusion)

If a reform sets CG_nodiff to True and does not change the default value of qdcg_pos, then the effect should be to tax capital g

[2016-12-06 21:23] codykallen commented on #1087
If memory serves, I believe this was originally implemented on behalf of Senator Mike Lee. I am hesitant to change the implementation without hearing from those more familiar with his proposal.

[2016-12-06 21:47] martinholmer commented on #1087
@codykallen,  Thanks for the #1087 bug report.  I hope to look at this in a few minutes.

[2016-12-06 22:46] codykallen commented on #1087
Thanks for fixing this, @martinholmer

[2016-12-06 22:46] #1087 closed

[2016-12-06 22:49] martinholmer commented on #1087
@codykallen said:

You are correct in that there is a bug (see #1088 for the fix), but users cannot "change the default value of qdcp_pos" because `qdcp_pos` is a calculated variable (not a policy parameter).  The bug was that the first term in the expression for `qdcg_exclusion` should use a `min()` not a `max()` function.

Thanks for the bug report.

[2016-12-07 09:00] zrisher commented on #946
@martinholmer You provided the majority of what I was asking for via PR #978.

As you mentioned, the remaining ask boils down to "provide exact guidance via documentation and/or automated tools for nearly all style cases," which wasn't intended to be an *immediate* need, but possibly something to track for the long term.

There are easy ways to fix the issues you demonstrated with the `yapf` outpu

[2016-12-07 09:00] #946 closed

[2016-12-07 10:52] zrisher commented on #633
This issue asks that we integrate and update three files that contain information about Records variables:
* `var_labels.txt` - per the above this was removed in PR #1082. ✔️
* `variable_stats_summary.csv` - the descriptions in here are pulled from `e_variable_info.csv`. ✔️
* `e_variable_info.csv` - Has various data quality issues as mentioned above. This is the remaining to-do.

Additional source

[2016-12-07 22:13] martinholmer commented on #429
Merge of pull request #1081 provides a template for resolving issue #429.
Suggestions about how to extend the #1081 approach should be put in a new issue.

[2016-12-07 22:13] #429 closed

[2016-12-07 22:20] martinholmer commented on #1086
@salimfurth,  Have you been able to resolve the unit test failures on your Windows computers?
@talumbau,  Have you had a chance to look into this yet?  (I know you are handling quite a few things right now.)

[2016-12-07 22:32] talumbau commented on #1086
It looks like the two errors that are now resolved are due to pre-existing conda environments that needed to be updated. It might make sense to update the documentation to tell people to execute `conda env update` if they already have the conda environment `taxcalc-dev` on their machine.

For the two other errors, these could be legitimate Windows errors. I have a VM to try things out. We need to

[2016-12-07 22:53] andersonfrailey opened #1089 "stats_summary.py errors"
I just tried running `stats_summary.py` and `stats_summary.py --output correlation` and I ran into the following errors:

First:
[code]
This traces back to the for loop in the `creat_table_base` function. The root cause appears to be due to certain variables that are in `Records.USABLE_READ_VARS`, but not in `e_variable_info.csv` (`elderly_dependent`, `nu13`, `nu05`, and `cmbtp`).

Once I add thos

[2016-12-07 23:00] martinholmer commented on #1089
Any use of the current, very out-of-date version of the `e_variable_info.csv` file is bound to cause problems.   See the recent discussion of this matter in issue #633.

@andersonfrailey @MattHJensen @zrisher

[2016-12-07 23:09] martinholmer commented on #1086
@talumbau said:

OK.  That documentation update has been done in pull request #1090.

@talumbau said:

I don't understand your comment.  The errors they are getting are on their local Windows computers, not when they are trying to submit a pull request to GitHub, which is where Travis-CI comes into play.

@salimfurth

[2016-12-07 23:40] talumbau commented on #1086
It's correct that Travis CI is for testing pull requests, but the only way code is allowed to get into master is through pull requests showing that all the tests pass. So, if these errors are legitimate, they were introduced at some point in the past by code that passed all tests on Linux and Mac (so it was allowed in to master), but testing on Windows through AppVeyor would have shown the failure

[2016-12-08 05:34] zrisher opened #1091 "Tests fail on pandas 0.19.1"
`test_dropq.test_ascii_output_function()` calls `test_utils.ascii_output()`, which calls:

[code]

on a pandas dataframe. This method doesn't support the `delim_whitespace` keyword arg, but normally doesn't raise an error here since it accepts extra keyword args. This changed in https://github.com/pandas-dev/pandas/pull/13804, so our code raises:

[code]

with the newest version of pandas.

Fortun

[2016-12-08 11:45] zrisher opened #1093 "Conda dependency constraints overwritten by Pip requirements"
In Conda's env config file `environment.yml` we specify the versions of `numpy` and `pandas` that Conda should install:

[code]

These versions were specified in #669 to fix issues encountered with older versions of those packages.

However, in Pip's env config file `requirements.txt` we say it may install the current default version of `pandas` and any `numpy` >= 1.7:

[code]

Pip determines what

[2016-12-08 11:55] zrisher commented on #1091
It also seems these test failures are attributable to pandas 0.18.1:

[code]

It seems as though different data types are attached to frame values by default. I'll look into fixing this Thursday.

[2016-12-08 12:11] zrisher opened #1095 "Creating a new Conda env fails on Windows"
If a Windows user builds a new Conda environment, they are presented a version of pandas greater than the specified working version, which makes tests fail. The reason for this is covered in #1093 and fixed by #1094.

However, when the specified versions of `pandas` and `numpy` are loaded via Conda on Windows, they no longer produce working versions. Both packages will fail to import:

[code]

Thi

[2016-12-08 13:01] talumbau commented on #1093
@zrisher thanks for digging in here and rooting out the issues. One piece of info as we look at what is the best way to proceed: the `requirements.txt` was last touched in February of 2015 (by me) and I can't recall why it was ever included. Might be something that was needed for uploading to PyPI. Not totally sure. Anyway, my desire would be to move forward without it, if possible.

[2016-12-08 13:04] martinholmer commented on #1095
@zrisher,  Thank you very much for investigating issue #1086.  All this environment installation business is above my pay grade, so I'll leave your proposed changes to @talumbau and @MattHJensen to discuss.

But if I am understanding things correctly, it does appear as if the environment installation is not being tested on Windows.  That seems to be a problem that needs to be rectified.

[2016-12-08 13:23] martinholmer commented on #1086
@talumbau said in #1086 conversation:

So, am I right in concluding that the @zrisher analysis of issue #1086 and his fixes in #1092 and #1094 mean that your notion that we need something other than Travis-CI on GitHub is unnecessary?  All the problems reported in #1086 seem to be related to different package versions.

[2016-12-08 13:36] talumbau commented on #1091
@zrisher you are saying that you get these failures with pandas 0.18.1 on Windows? The change in pandas looks like it was slated for version 0.19 and Travis CI currently uses pandas 0.18.1 which passes, but it is Linux. Let me know if the above is really pandas 0.18.1 on Windows.

[2016-12-08 18:54] talumbau commented on #1093
Taking a closer look, I don't think the requirements.txt is the culprit for the recent failures reported by following the Contributor Guide. Rather, I think this requirements.txt is some left over cruft that should be removed. The only possible need would be for uploading releases to PyPI, but we'll solve that another way. So, just to make sure I understand, do you know of a workflow where someone

[2016-12-08 19:01] talumbau commented on #1086
I don't know that I would draw that conclusion ('Windows testing is unnecessary') even if the issue is related to package versions. Right now, it seems the best leading theory is that executing the contributor guide instructions results in the installation of pandas 0.19, which causes two tests to fail because it reveals a previously ignored keyword argument. But in #1091 @zrisher says the failure

[2016-12-09 03:22] zrisher commented on #1093
It was part of my workflow, because I assumed it was meant to be used in the same fashion that both Conda and Pip are used (and documented to be used) in `webapp-public`. There have definitely been times in the past where Conda didn't offer a package and listing it under the `pip` line in Conda's requirements didn't work either. The only option was to include it via the standard pip process. It se

[2016-12-09 03:26] zrisher commented on #1091
You're right. The requirement is stated as `pandas 0.18`, and I assumed it was using 0.18.0, because that's what was working before. But looking through the logs it does indeed pass with 0.18.1 on Travis. So perhaps that Pandas version *alone* isn't causing this bug. I will dig into this tonight.

[2016-12-09 03:35] zrisher commented on #1095
@martinholmer You are correct, Windows builds are not being tested via CI.

As you probably know, Windows works in fundamentally different ways from Linux and OSX, all the way down to the kernel. As such, most low-level code that interacts with the operating system must be implemented differently, thus the difficulty in doing even basic things like environment package management (for which Conda i

[2016-12-09 03:40] zrisher commented on #1095
Ah and I see @talumbau mentions a possible work around for the Travis issues in #1086 by using AppVeyor. Nice!

[2016-12-09 03:41] zrisher commented on #1086
@talumbau @martinholmer The remaining test failures mentioned in this issue are the same that I'm working on in https://github.com/open-source-economics/Tax-Calculator/issues/1091. I hope to have a fix for those soon.

[2016-12-09 12:17] zrisher opened #1099 "Some pandas/numpy dependent dropq tests fail on Windows"
These test failures occur on Windows with Python 2.7.12, numpy 1.10.4/pandas 0.18.0 and numpy 1.11.2/pandas 0.19:

[code]

[2016-12-09 12:17] zrisher commented on #1091
@talumbau I had forgotten that my laptop was set up with a Python 2.7 environment for taxcalc and my desktop was set up with Python 3.4, which turns out to be why `pandas 0.18.0` and `numpy 1.10.4` weren't working for me whereas they had previously - they import and build fine in 2.7 with Conda, but fail with 3.4.
I had actually chosen the two different environments to highlight issues just like t

[2016-12-09 14:06] talumbau commented on #1091
For this part, I would say 'no'. The goal would be to have one source code base and one set of dependent packages and versions (e.g. numpy, pandas, etc.) that works on all combinations of {Windows, Mac, Linux} X {Python 2.7, 3.4, 3.5}. This is achievable in nearly all cases without any egregious hacks, and if we end up with a dreaded "if WINDOWS:" flag in some places, that's still better than spec

[2016-12-10 14:32] MattHJensen commented on #1074
@zrisher, thank you very much for your comments. There is one that I don't fully understand, though:

What would it mean to, "organize this file (or a separate file providing organization to the items defined in this file) as a directed graph with different length branches"?

[2016-12-10 20:25] talumbau commented on #1086
I can confirm I'm getting the remaining two errors on Windows 7. So these are real errors introduced when I put dropq in, but didn't catch because I didn't test on Windows.

[2016-12-11 22:30] martinholmer opened #1101 "Is there a way to run code coverage test on local computer?"
Travis-CI conducts a code-coverage test when a pull request is submitted to GitHub.
Is there a way to run that same code-coverage test on my local (Mac) computer?

[2016-12-11 23:19] talumbau commented on #1101
Yes, you can generate the code coverage data on your local machine by running the same line as Travis CI does:

[code]

This produces an XML report that is not very readable by humans. So, the next step is to create an HTML report of that data by running the HTML report generator:

[code]

This will create a directory called `htmlcov` (or overwrite the contents if that directory already exists) wi

[2016-12-12 01:12] martinholmer commented on #1101
@talumbau,  Thanks for the clear explanation of how to generate code-coverage statistics on a local computer (instead of waiting to see what happens when a pull request is submitted to GitHub).  Your instructions worked perfectly on my Mac.  Thanks.

[2016-12-12 01:12] #1101 closed

[2016-12-12 02:13] MattHJensen opened #1102 "policy parameters w/ vanilla Python expressions instead of Numpy functions"
In #1081, @martinholmer created the capability to create a policy parameter that is a Python expression rather than a number. This is a major innovation that implements an idea originally raised by @feenberg in #429.

The implementation in #1081 allows the user to interact with whitelisted records variables using Numpy array functions (maximum, minimum, and where).

It would be valuable if the use

[2016-12-12 03:58] martinholmer commented on #1102
@MattHJensen said:

Actually, that is not precisely true.  The functions available for use in parameter expressions at the moment are "max", "min", and "where".  This is an important point because issue #1102 is largely about syntatic sugar.  The "max" function is an alias for numpy.maximum and the "min" function is an alias for the numpy.minimum function.  So, "max" and "min" in policy parameter

[2016-12-12 12:10] feenberg commented on #1102
On Sun, 11 Dec 2016, Matt Jensen wrote:

I expect mechanically converting Python max and min to numpy for the user
would be fairly easy, but if-then-else requires some higher CS skills.
Don't we have that available? Is it feasible? The where function is a very
inferior if-then and is deservably unfamiliar to users.

dan

[2016-12-12 13:09] talumbau commented on #1102
just one clarifying question: is the desire to use the "ternary operator" form (or rather, Python's equivalent) which looks like this:

[code]

or do you want to use the full Python if/else construct:

[code]

[2016-12-12 15:29] MattHJensen commented on #1102
@martinholmer said:

You're absolutely right. I've had an example in my head for a long time now but realize I haven't communicated that to anyone else. Here it is:

https://github.com/open-source-economics/Tax-Calculator/pull/1103#issuecomment-266459083

@talumbau, the example above also answers your question.

[2016-12-12 16:11] feenberg commented on #1102
On Mon, 12 Dec 2016, T.J. Alumbaugh wrote:

I wasn't aware of that possibility. The key is how it looks
when there is more than a binary choice. Does this look right?

    x = ( .05 if year==2016 else
        ((.1  if year==2017 else
        ( .15 if year==2018 else .20))))

but it looks like the where function could be expressed in
similar format:

    x = where(year==2016,.05,
        where(year

[2016-12-13 21:09] talumbau opened #1106 "Is the `consump` object used properly in test_consumption_response?"
In `test_consumption_response`, a default Consumption object is created in the first line of the test. Then, the `response` method is called a few lines later:

[code]

At that point, the `consump` object is no longer referred to. In the section with the comment

[code]

I thought `consump` would be used, but instead the `calc1` object is created with `consumption=None` passed to the Calculator co

[2016-12-14 14:57] martinholmer commented on #1106
@talumbau asked in issue #1106:

Either is fine.  I have a subjective preference for this style:
[code]
The alternative style was used in the `test_consumption_response` you refer to in order to get the most number of assert tests with the least amount of code.  If that is not the goal, my subjective preference is for the idiom above.  But others might have a different view.  The main thing is tha

[2016-12-14 17:46] martinholmer commented on #1086
@talumbau said with respect issue #1086:

Thanks for the report, @talumbau.  So, what is the next step?  We do need to allow Windows users to participate in the Tax-Calculator project.

[2016-12-15 22:59] MattHJensen opened #1108 "What is _AMT_thd_MarriedS?"
Is the _AMT_thd_MarriedS up to date?

I don't understand the parameter well enough to tell whether it is up to date by examining the forms.

    "_AMT_thd_MarriedS": {
        "long_name": "Extra alminc for married sep",
        "description": "",
        "irs_ref": "Form 6251, line 28, instruction.",
        "notes": "",
        "start_year": 2013,
        "col_var": "",
        "row_var": "FLPDY

[2016-12-15 23:12] MattHJensen commented on #1108
Similarly, why do we need a separate AMT exemption phaseout end for married filing separately (_AMT_em_pe). Why don't the AMT exemption phaseout start (_AMT_em_ps), the AMT exemption phaseout rate (_AMT_prt), and AMT exemption (_AMT_em) jointly determine this?

    "_AMT_em_pe": {
        "long_name": "AMT exemption phaseout ending AMT taxable income (Married filling Separately)",
        "descrip

[2016-12-16 12:27] talumbau commented on #1106
got it. Thanks!

[2016-12-16 12:27] #1106 closed

[2016-12-16 13:12] talumbau commented on #1086
Windows users can participate in the Tax-Calculator project right now. The only known issue is that some code that formats output for some dropq functions may work differently from expected, or it may be that it was written with certain assumptions that don't hold on Windows. But we should fix these functions for Windows. The path forward would be:

 - someone posts a fix for the two failing tests

[2016-12-16 13:49] feenberg commented on #1086
On Fri, 16 Dec 2016, T.J. Alumbaugh wrote:

Do we need dropq for windows? I thought it was for online TB, which we
don't intend to move to Windows, do we? Why would a user with a copy of
the PUF want to invoke dropq?

dan feenberg

[2016-12-16 13:55] talumbau commented on #1086
that's correct. So the issue should not inhibit anyone from typical modeling use cases on a Windows machine. Still, these failure are good to know and we should fix them.

[2016-12-16 15:27] feenberg commented on #1108
On 12/15/16, Matt Jensen <notifications@github.com> wrote:

I have the same code in taxcalc.sas, but for 2015 the values are 41700
and 242450.

dan

[2016-12-19 20:47] andersonfrailey opened #1110 "Adding an extra step to extraploation/records blowup"
To account for changes in the distribution of wages, CBO has an extra step in their blowup process to adjust wages to match their targeted distribution. The process goes something like this:

- For each year:
    - Multiply the wages of each tax unit by that year's blowup factor
    - Find the sum of wages across all tax units
    - Find adjustment factors so that the top decile hits their wage sh

[2016-12-19 20:57] codykallen commented on #1110
@andersonfrailey, I think this is a valuable addition to Tax-Calculator, and it is worth the additional runtime. I think this adjustment should (at first) by applied to the most inaccurate distributions: taxable interest, itemized deductions, and perhaps pass-through income. I would prefer to target SOI distributions, but I am open to alternatives.

[2016-12-19 23:31] #1091 closed

[2016-12-20 02:38] #1093 closed

[2016-12-20 22:23] talumbau commented on #1086
I have this problem fixed in #1111, which also adds in AppVeyor to make sure we are testing with Windows on every pull request. Thanks for finding and reporting this bug @salimfurth

[2016-12-22 06:47] zrisher commented on #1085
Zach Risher - #1092 - provide Pandas 0.19.1 compat by fixing `dataframe.to_csv()` usage
Zach Risher - #1094 - unify environment definition by removing `requirements.txt`

[2016-12-22 17:58] zrisher commented on #1074
@MattHJensen Per our conversation, I'm working on presenting a possible architecture for a more modular tax calculation model that will elucidate my suggestion you referenced.

[2016-12-22 18:01] MattHJensen commented on #1074
Thanks @zrisher

[2016-12-29 23:16] talumbau commented on #1086
closed via #1111

[2016-12-29 23:16] #1086 closed

[2016-12-30 16:09] MattHJensen commented on #1085
I am hoping to release 0.7.3 on Monday after #1113 is resolved.

[2016-12-31 11:55] zrisher commented on #1099
This is fixed.

[2016-12-31 11:55] #1099 closed

[2016-12-31 12:04] zrisher commented on #1095
@talumbau Somehow I'm still unable to build a working `numpy=1.10.4` via Conda on Windows in Python 3.4 or 3.5, even though the AppVeyor box does it just fine. I *can* install it in Python 2.7, but I'd like to stick with the CI-tested environment.

I ran through all the environment build steps from [a recent successful AppVeyor run](https://ci.appveyor.com/project/talumbau/tax-calculator/build/1.0

[2017-01-02 11:47] zrisher commented on #295
I said:

We now have that model in `TaxForm`, so the question becomes how to best expose that additional data from a `TaxForm` to a taxcalc function, which currently only have access to the `VALID_READ_VARS` from their `Records`.

[2017-01-02 11:59] zrisher commented on #313
To clarify, the above quote refers to a user running taxcalc's tests. We would like taxcalc's test package to notify a running user of the path where it found the taxcalc package.

[2017-01-02 12:06] zrisher commented on #319
@MattHJensen @martinholmer @talumbau This issue can now be closed as the remaining work is tracked in separate issues.

[2017-01-02 15:53] martinholmer commented on #319
Closing Tax-Calculator issue #319 per @zrisher comment.

[2017-01-02 15:53] #319 closed

[2017-01-02 19:07] MattHJensen commented on #1085
Thanks everyone. Released 0.7.3 https://github.com/open-source-economics/Tax-Calculator/releases/tag/0.7.3

Please let me know if you'd like any changes to the notes.

[2017-01-02 19:07] #1085 closed

[2017-01-02 19:09] MattHJensen opened #1116 "Releases"
Please edit the table below adding your significant contributions as they are merged to master.

The highest-numbered pull request included in 0.7.3 was #1115, which was merged into master on 1-Jan-2017.

Significant contributions to Tax-Calculator release 0.7.4

| Contributor | PR# | Description |
| :-- | :-- | :-- |

[2017-01-03 05:33] zrisher commented on #811
@MattHJensen @martinholmer @talumbau In the absence of additional comments, it seems we're all ok with the above recommendations for exception handling. Can we close this issue, possibly labeling it with an "FAQ" tag for future reference?

[2017-01-03 06:51] zrisher commented on #1095
This is now solved via merged PR #1114.

[2017-01-03 06:51] #1095 closed

[2017-01-03 10:39] zrisher opened #1118 "Conda build process doesn't pull dependencies from environment.yml"
In #1114 we updated from `numpy` 1.10 to 1.11. We effected this change for the development and test environments all with a single change to `environment.yml`. Unfortunately, it seems the Conda release process still includes some places where the version requirement is hardcoded:

* https://github.com/open-source-economics/Tax-Calculator/blob/master/conda.recipe/meta.yaml
* https://github.com/open

[2017-01-03 10:40] zrisher commented on #1118
@talumbau

[2017-01-03 12:34] MattHJensen commented on #811
@zrisher said:

I like the FAQ tag idea. Done and done.

[2017-01-03 12:34] #811 closed

[2017-01-03 12:37] feenberg commented on #811
On Mon, 2 Jan 2017, zrisher wrote:

  I am not sure what has been decided. The example given for a useful
exception (missing MUST_READ_VAR) is a case where the exception is used
to shut down processing. It isn't necessary to use exceptions for cases
where processing ceases, although exceptions might be used as part of a
sohpisticated error reporting scheme.

Suppose an exception occurs during the

[2017-01-03 12:38] MattHJensen commented on #1074
1, 2, and 4 are resolved by #1109. Opening new issues for 3a and 3b.

[2017-01-03 12:38] #1074 closed

[2017-01-03 13:29] martinholmer opened #1119 "TaxBrain and Tax-Calculator results are not the same in 0.7.3"
For a simple income and payroll tax reform, the results generated by TaxBrain and Tax-Calculator are not the same for income taxes.  I get the same results on my local computer using either a custom Python script (shown below) or the inctax.py command-line interface to taxcalc.  And I get the same results from TaxBrain using either the JSON reform file upload capability or hand-entered parameters.

[2017-01-03 19:05] talumbau commented on #1119
When I run with taxcalc version 0.7.3 on my Mac with the latest PUF in my possession (from November 16 of size 53246969), I get the following results:

[code]

When I go to the Reform tab on the results page when running this reform on the latest TaxBrain, I see these results:

<img width="1010" alt="screen shot 2017-01-03 at 1 04 06 pm" src="https://cloud.githubusercontent.com/assets/1891418/2161

[2017-01-03 19:07] talumbau commented on #1119
I'm guessing from these lines:

[code]

you are not running on the release, but since it's only a few commits behind master, I don't think that's the issue. I wonder if your PUF version is more recent. Can you say how many bytes your `puf.csv` file is in size?

[2017-01-03 19:08] talumbau commented on #1119
this is the link to my TaxBrain job: http://www.ospc.org/taxbrain/9380/

[2017-01-03 19:42] martinholmer commented on #1119
@talumbau said:

Not sure what `puf.csv` file you have because it isn't like anyone that has been distributed over the last few months.  Here is a Mac listing of the recent versions I have on my computer:
[code]
Notice none of them contain 53246969 bytes.

When I go the the OSPC developer's private DropBox and download the most recent version available (the one dated 11.21.2016 for taxcalc #1077 a

[2017-01-03 19:48] andersonfrailey commented on #1119
Using @martinholmer's JSON file I was able to reproduce his results on my computer as well. I'm also using the PUF file uploaded on November 21st of size 50953138.

[2017-01-03 19:50] talumbau commented on #1119
@martinholmer I forwarded you the email containing the link to the PUF I used. The email was sent by @andersonfrailey on November 7th. It seems clear this is not the best PUF to use. Is that correct?

[2017-01-03 19:53] andersonfrailey commented on #1119
@talumbau I also sent out an email on November 21st after TaxData PR 48 was merged with a link to the latest PUF. I will forward that email on to you.

[2017-01-03 20:08] talumbau commented on #1119
I can confirm that using the PUF from november 21st produces the same results that @martinholmer and @andersonfrailey report. All of the worker nodes for TaxBrain have the PUF that I was using from the November 7th email. Should those worker nodes be updated with the PUF from November 21?

This issue raises the urgency level of the issue @PeterDSteinberg raised on taxdata:
https://github.com/open-

[2017-01-03 20:13] martinholmer commented on #1119
@talumbau said:

Yes.

@talumbau also said:

open-source-economics/taxdata#53

But there is still no answer to the question posed by @zrisher.

Why not always use the latest `puf.csv` listed in the private Google Doc table?

[2017-01-04 06:13] zrisher commented on #811
@feenberg said:

My understanding of the implied consensus here is that we will follow [the guidance I posted](https://github.com/open-source-economics/Tax-Calculator/issues/811#issuecomment-236244517).

@feenberg said:

exception (missing MUST_READ_VAR) is a case where the exception is used
to shut down processing. It isn't necessary to use exceptions for cases
where processing ceases, although e

[2017-01-04 12:26] martinholmer commented on #1119
The exchange of information in Tax-Calculator issue #1119 suggests several ideas for improving the way we distribute the private `puf.csv` file.

First, the description of each version of the `puf.csv` file should include the size of the file in bytes.  And it would probably be better to distribute not a bare `puf.csv` file but a zip file that contains the `puf.csv` file.  For example, the current

[2017-01-04 13:50] zrisher commented on #1119
Using `git` is an interesting idea. @martinholmer's suggestion helps with the change notification to contributors, but doesn't automate the distribution. It could supplement the suggestion from https://github.com/open-source-economics/taxdata/issues/53 that we distribute the puf data as a conda package.

Combining those ideas, what if we:
* start a private git repo with the puf.csv data and the py

[2017-01-04 14:47] martinholmer commented on #1119
@zrisher,  Thanks for contributing to the conversation in #1119 about how to improve the methods we use to distribute the private `puf.csv` file.  Let me comment on or ask questions about some of your points.

(1) Automation of `puf.csv` distribution:

I think we need an explicit conversation about why we should "**automate** the distribution" of the `puf.csv` file.  For me, there is virtually no

[2017-01-04 15:21] feenberg commented on #1119
On Wed, 4 Jan 2017, Martin Holmer wrote:

The number of bytes will depend on the the line-ending convention (2 bytes
for windows, 1 byte for Mac/Linux) - probably the number of records is a
more useful indicator of completeness.

Is this the CPS derived file? Then why private?

dan feenberg

[2017-01-04 15:29] martinholmer commented on #1119
@feenberg said:

Yes, end-of-line is different on Windows, but one `puf.csv` file (made on a Mac I think) seems to work on all operating systems.  Number of records has been the same for many `puf.csv` versions, so this does little to distinguish versions.

 not on conda-package technology but rather uses a GitHub private repository?

No, the `puf.csv` file includes the private IRS-SOI PUF records

[2017-01-04 18:19] martinholmer commented on #1119
In order to make an intelligent decision about how to improve `puf.csv` distribution among Tax-Calculator developers, it is important to understand exactly why the mixup identified in issue #1119 occurred.  The point of determining this is not to assign blame, but to understand what needs to be improved in the `puf.csv` distribution process.

My earlier comment in the #1119 discussion has already

[2017-01-04 18:35] PeterDSteinberg commented on #1119
I have created a private Anaconda package `taxpuf` that will help with Jenkins continuous integration testing.  You all can try it out and see if you want to transition the distribution of `puf.csv.gz` as in the `taxpuf` private package I have created.  I realized we can gradually transition to this means of `puf.csv.gz` distribution, using it first internally for developers and Jenkins, then late

[2017-01-04 19:20] martinholmer commented on #1119
@PeterDSteinberg said:

I haven't received the email you promised.

[2017-01-04 19:46] PeterDSteinberg commented on #1119
Sent.

[2017-01-04 20:20] martinholmer commented on #1119
@PeterDSteinberg,  Thanks for the taxpuf package and the secret token you sent via email.
I was able to follow your "Conda install with token" steps and the "Simple usage" commands to unzip the latest `puf.csv` file.  I have a few questions about the new taxpuf package.

(1) If we ever got a developer who was working on Windows, how would the install work (with `export` being a Unix command)?  And

[2017-01-04 23:30] PeterDSteinberg commented on #1119
@martinholmer Here are answers to each of your questions:

1) People who don't want to work with environment variables or hidden files, can just cut and paste the token into the channel URL: `conda install -c https://conda.anaconda.org/t/ABCDEF/opensourcepolicycenter taxpuf`, replacing `ABCDEF` in that example with the token.  If you get tired of remembering the `-c` argument needed in any case, y

[2017-01-05 00:05] PeterDSteinberg commented on #1119
@martinholmer Answers:

1) The `build_puf_package.py` and wrapper around `taxpuf` is not yet in version control.  We can either A) make a separate private Anaconda package for it, or B) make a private github repo for it.  Thoughts?  In the meantime, I will email a zip that includes all the code we would be putting in A) or B).

2) We could add email notification to the build script (`build_puf_pac

[2017-01-05 00:31] martinholmer commented on #1119
@PeterDSteinberg, Thanks for your speedy and complete answers to my questions in issue #1119.

You should be asking @MattHJensen about this, but my initial thought is that putting the `taxpuf` source code in a private GitHub repository and using that repository's capabilities to notify users of a new `puf.csv` version would be the best approach (assuming GitHub repos can do that sort of thing).  T

[2017-01-06 15:25] MattHJensen commented on #1119
@talumbau, do you have an estimate for when you'll be able to update TaxBrain to the nov-21 puf.csv?

[2017-01-06 19:29] talumbau commented on #1119
The PUF has been updated on the worker nodes and the services restarted. This taxbrain job:

http://www.ospc.org/taxbrain/9428/

confirms that TaxBrain now gives the same results as taxcalc 0.7.3.

[2017-01-06 19:35] talumbau commented on #1119
@martinholmer said:

This is a good idea and indeed the `requires_pufcsv` tests are not run after install of the package. Software deployment should minimize human steps and have failsafes such that, if a human does not do the right thing, it is impossible to proceed. Because we now permit an old PUF to run with a newer version of Tax-Calculator, we need such a failsafe, so that if the human has m

[2017-01-06 22:53] martinholmer commented on #1119
@talumbau said:

Thanks.   Your ideas for more comprehensive pre-deployment TaxBrain testing sound good.

[2017-01-06 23:40] martinholmer commented on #1119
Issue #1119 seems to be resolved with TaxBrain now using the correct version of the `puf.csv` file and plans for improving pre-deployment TaxBrain testing being developed.  Closing #1119.

[2017-01-06 23:40] #1119 closed

[2017-01-08 22:26] martinholmer opened #1133 "TaxBrain and inctax.py/Tax-Calculator results are not same in 0.7.3"
After TaxBrain 0.7.3 started using an up-to-date version of the `puf.csv` file, issue #1119 was resolved and closed.  Since then there has been more testing of the TaxBrain file upload capability, most of which has been positive.

For example, static analysis of the reform in [`file0.json`](https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/taxbrain/file0.json) --- which i

[2017-01-09 14:51] talumbau commented on #1133
I am looking at this now. I tried some naïve scripting that does what I think is done in inctax.py but I got the same answer as in dropq. Can you tell me the exact way to run the IncomeTaxIO code with `file3.json` so I can track down the difference?

[2017-01-09 15:23] martinholmer commented on #1133
@talumbau,  Thanks for looking into issue #1133.

Well, I guess, you could do this two ways:

(1) From the system command line along the lines of the comment at the top of `file3.json`.  If you are in the top-level tax-calculator directory with the `puf.csv` and `file3.json` files copied there, you can do this:
[code]

(2) From a custom Python script that uses the IncomeTaxIO class like it is used

[2017-01-09 15:30] talumbau commented on #1133
OK, very good. After I execute the line `python inctax.py puf.csv 2022 --blowup --weights --reform file3.json` I get a 39 MB file named `puf-22.out-inctax-file3` in my current working directory. What do I do to compare this output to running file3.json with TaxBrain?

[2017-01-09 15:35] martinholmer commented on #1133
@talumbau said:

Read the comments at the top of `file3.json` where it gives the following replication instructions:
[code]

[2017-01-09 17:41] talumbau commented on #1133
@martinholmer thanks for that info. I don't have a definite answer, but could you look at this gist:

https://gist.github.com/talumbau/cdf100eb84a8be8c57ce5789be6de9ab

This is a script that exactly matches what TaxBrain does for the year 2022 when given a start year of 2017 and the reform `file3.json`. If there is a mistake in that script, then it means we must fix something in TaxBrain. To me it

[2017-01-09 18:00] talumbau commented on #1133
@martinholmer I have discovered the issue: it is whether or not you apply the Consumption parameters to the baseline Calculator. In dropq/TaxBrain, we do apply the Consumption parameters. In IncomeTaxIO, you do not apply the Consumption parameters to the baseline calculation. In the gist I shared in the link above, if you comment out line 25, you will get the IncomeTaxIO values of:

[code]

if you

[2017-01-09 18:13] martinholmer commented on #1133
@talumbau said:

Yes that is the source of the differences.  Thanks for pointing this out.

[2017-01-09 18:39] talumbau commented on #1133
Sure. Keeping this open until PR is merged that unifies handling of Consumption parameters in dropq and in IncomeTaxIO.

[2017-01-09 20:06] martinholmer commented on #1133
Issue #1133 has been resolved by pull request #1136, which fixes a bug in the IncomeTaxIO class.
@talumbau, Thanks so much for all your help in diagnosing this issue.

[2017-01-09 20:06] #1133 closed

[2017-01-10 05:37] zrisher commented on #1119
@martinholmer @talumbau @PeterDSteinberg @MattHJensen It could be useful to document the aforementioned [setup](https://github.com/open-source-economics/Tax-Calculator/issues/1119#issuecomment-270448703) and [update](https://github.com/open-source-economics/Tax-Calculator/issues/1119#issuecomment-270523991) steps for the `taxpuf` dependency within this repo or the taxpuf repo.

[2017-01-10 16:12] martinholmer opened #1139 "AppVeyor not working"
@talumbau,  Is the AppVeyor site down or is there something wrong with Tax-Calculator's use of it?

[2017-01-10 16:18] MattHJensen opened #1140 "Preset reforms and economic assumptions"
I have noticed two factors that limit the use of both Tax-Calculator and TaxBrain.

1. Reform parameters -- Users must map the reforms that interest them into Tax-Calculator parameters.

2. Economic assumptions -- Users must understand and take stances on key economic assumptions.

Both of these factors are significant hurdles for many/most users.

**Proposed Solutions**

_Reform Parameters_

Prov

[2017-01-10 16:24] talumbau commented on #1139
I don't know what exactly occurred with the AppVeyor build for https://github.com/open-source-economics/Tax-Calculator/pull/1135, but it appears that it works as follows:

 - AppVeyor starts a 60 minute clock when it detects the PR
 - the build job has 60 minutes to acquire resources, run your setup and tests, and then report pass or fail
 - if nothing happens within those 60 minutes (no resources

[2017-01-10 16:26] martinholmer commented on #1139
@talumbau said:

How did you "restart the job"?

[2017-01-10 17:05] talumbau commented on #1139
You can't see the button to restart unless you are part of the AppVeyor project. I just did two things to make you a part of the AppVeyor project: I sent you an email invite to join, but I also make the Github team associated with this project a member of the AppVeyor project. The second one is probably what we want. Disregard the email for now. See if you can log in to AppVeyor using your Github

[2017-01-10 17:26] martinholmer commented on #1139
@talumbau, Thanks for the help on AppVeyor.  I'll see how it goes.

[2017-01-10 17:26] #1139 closed

[2017-01-11 16:13] feenberg commented on #1140
On Tue, 10 Jan 2017, Matt Jensen wrote:

I have a feeling I don't understand what you are asking for. Shouldn't we
follow the precedent we established with taxbrain, where each set of
reform parameters gets an identifier and is easily retrieved on the
website with a full description of the reform implied by the web page
displayed when the reform is viewed? If we are adding new features to
possible

[2017-01-12 14:35] martinholmer commented on #1140
@feenberg said with respect to issue #1140:

I don't use TaxBrain that much so it may be that I don't understand your "long-standing suggestion".

When you are looking at an output display, I can definitely see the importance of knowing the reform that generated that output (that is, the policy parameters that were changed to have values different from those under current-law policy).  But can't y

[2017-01-12 15:19] feenberg commented on #1140
On Thu, 12 Jan 2017, Martin Holmer wrote:

Yes, all parameters are available on the edit screen, but the distinction
between default and modified values is in the font intensity only. If a
user wishes to change a single parameter, a summary of changes would have
only a single entry and the change would be clear to the reader. Further,
it would be clear that only one change was made. If only the ed

[2017-01-12 18:00] martinholmer commented on #1140
@feenberg said a number of things about issue #1140:

OK, I see your point.  I agree that this would be a significant convenience enhancement to TaxBrain.  This is a long-standing TaxBrain enhancement request.  Would there be any technical problem with implementing this TaxBrain enhancement?

That's a good question.  I don't know how TaxBrain remembers the input parameters for a file-upload run.

[2017-01-12 19:27] talumbau commented on #1140
We save the contents of the file that the user used and display it on the results page. It is persisted in the database so that whenever you come back to that result we have the text used. There is currently no "edit" concept with file-based reforms. Editing a file-based reform by navigating to the form-based input page would not work because the user can construct reforms in the file-based way th

[2017-01-12 19:33] feenberg commented on #1140
On Thu, 12 Jan 2017, T.J. Alumbaugh wrote:

OK, that sounds good.

dan

[2017-01-12 19:58] martinholmer commented on #1140
@talumbau said:

@talumbau, Thanks for the update about how TaxBrain remembers a run that was specified by uploading a reform file.  The way things work now seems exactly correct.  There is no need to offer a TaxBrain capability for editing upload files; that is best done on the user's local computer.

So, given this information, Dan's requested enhancement would apply to only TaxBrain runs specif

[2017-01-12 20:16] andersonfrailey commented on #1110
Update on this issue:

I have worked out an initial solution to implementing this into both TaxData and TaxCalc. Here is an overview of steps I've taken and some initial observations.

## Process
### TaxData:

1. Using [IRS-SOI data](https://www.irs.gov/uac/soi-tax-stats-individual-statistical-tables-by-size-of-adjusted-gross-income), find the distribution of interest income by AGI bin (I'm using

[2017-01-12 20:20] Amy-Xu commented on #1110
👍

[2017-01-12 20:37] martinholmer commented on #1110
@andersonfrailey proposed in issue #1110:

Several questions:

(a) How many variables (including interest income used in your example) do you envision adjusting?  Which ones?

(b) Wound all those adjustment factors go into the same new file?  So that there was only one new file in the taxcalc package.

(c) Why not put the new code that applies these adjustments at the end of the `_blowup` function

[2017-01-12 20:51] MattHJensen opened #1141 "Add `section` attribute for all parameters in current_law_policy.json that can be used w puf.csv"
Among other uses, the `section` attribute on a `current_law_policy.json` parameter indicate to the TaxBrain team that the parameter should be available on TaxBrain and which section it should be included in.

In #1109, I added `section` attributes to almost every parameter in current_law_policy.json. Given that it means more parameters will be included on TaxBrain, I also endeavored to improve the

[2017-01-12 21:07] MattHJensen commented on #1140
@talumbau said:

This is certainly a useful feature, a similar to the one that @feenberg is requesting, except that it only works for reform-file runs and not for GUI runs.

He continued:

While this is true, I don't think it needs to be. If we resolve #1141, then every parameter that is available through a file-based reform would also be available from the TaxBrain gui input page.

Before committ

[2017-01-12 21:24] andersonfrailey commented on #1110
@martinholmer asked:

I want to keep this focused on variables where the distribution is significantly off. Interest income is the only one I have set in stone, but @codykallen has told me the distribution of itemized deductions also needs improvement so I'm planning on looking into the individual components of that go into that calculation see if any improvements can be made. I'm open to adding a

[2017-01-12 21:50] martinholmer commented on #1110
@andersonfrailey,  Thanks for the prompt and clear answers to my questions about issue #1110.

[2017-01-13 11:35] martinholmer commented on #1140
@MattHJensen proposed two sets of reform-file changes in issue #1140:

I'm in agreement about the general goals suggested in issue #1140, but I don't understand why the above two changes are required to meet those goals.  All I see is substantial extra work, both initial development work and added overhead using Tax-Calculator and TaxBrain.  While is see the costs of these two proposals, I do not

[2017-01-13 13:51] MattHJensen commented on #1140
@martinholmer, to answer your question, let me start off with an abstract goal and motivation, then provide an example of how those goals and motivations were advanced in the past, and then I'll answer your question directly:

The fundamental goal behind both of these suggestions is two-part:

1. unify how we store tax and economic-related data (data broadly speaking) between TaxBrain and Tax-Calc

[2017-01-13 15:34] brittainhard opened #1142 "Some Items in current_law_policy.json Lack Section Fields"
The fields without section names are:

- `_AMT_thd_MarriedS`
- `_ALD_Investment_ec_base_code_active`
- `_AMT_Child_em`
- `_LLC_Expense_c`
- `_ETC_pe_Married`
- `_AMT_em_pe`
- `_AMT_KT_c_Age`
- `_ETC_pe_Single`

@talumbau @MattHJensen I'm relying on thee section names to organize the UI, so this fields will have to be left out if they do not have section names.

[2017-01-13 15:38] brittainhard commented on #1142
I've also noticed that some of the names for sections are not consistent, i.e. `Payroll Taxes` and `Payroll taxes`. I can work around this problem for now.

[2017-01-13 17:24] MattHJensen commented on #1142
@brittainhard, leaving out params w o section labels is the right step for now. See #1141 for more info.

[2017-01-13 20:28] martinholmer commented on #1140
@MattHJensen said in the #1140 conversation:

OK.  Those are good reasons for undertaking all the extra work involved in separating the policy and the economic assumption parameters into two types of files.

I hope the new TaxBrain will somehow be able to do a file-upload run where the assumption file name is unspecified, which means using all the default assumption parameters (that is, static ana

[2017-01-13 21:20] feenberg commented on #1140
Let me add my feelings on this subject.

Currently if I modify some parameters in taxbrain one of the important
things I get back is a URL, for example:

     www.ospc.org/taxbrain/9619

which I can circulate among interested parties and which includes all the
details of the reform. I think what Matt is saying is that if I upload a
reform file, the referenced URL should include everything in that

[2017-01-13 21:57] MattHJensen commented on #1140
@martinholmer said:

The goal I have in mind is for the data behind TaxBrain GUI runs to share the same file structure as reform file runs. If that is the case, then it would be simple to turn reform files into GUI input pages and to turn GUI input pages into reform files.

The reason we might want to turn reform files into GUI input pages is that many TaxBrain users will feel more comfortable mod

[2017-01-13 22:36] MattHJensen commented on #1140
@feenberg, here is the link to the file upload capability: www.ospc.org/taxbrain/file

[2017-01-15 15:05] feenberg commented on #1140
On Tue, 10 Jan 2017, Matt Jensen wrote:

Do you mean allowing different real growth rates for wages and other
incomes? Perhaps a dozen or more parameters? Specified separately each
year? Allow for changes in distribution also? Even with so many parameters
will it meet the needs of someone wanting their own forecast? I don't
necessarily think this feature is highly desirable, but since you mention

[2017-01-15 17:07] martinholmer commented on #1140
@MattHJensen said a number of things in a recent issue #1140 comment:

What happens when a new "version of Tax-Calculator running on TaxBrain" changes a checked-in reform or assumption JSON file?  When this happens the title is no longer a unique identifier and there may be confusion about older runs.  Seems like the metadata absolutely needs to have a date field.  Certainly, as a user, I want to

[2017-01-16 17:22] martinholmer opened #1143 "Where is the private repository for the taxpuf package?"
In Tax-Calculator issue #1119, @MattHJensen said 11 days ago:

And then 7 days ago in the same issue, @zrisher said:

@PeterDSteinberg, where do you stand on this work?  It seems important to create a repo for your new capability and document it, right?

[2017-01-16 20:25] PeterDSteinberg commented on #1143
@MattHJensen : Can you make a private repository in `OpenSourcePolicyCenter` called `taxpuf` for me and others to have read/write but not admin access?  I don't have rights to do this, I don't think.

@martinholmer : I can transfer the `taxpuf` package assets (`taxpuf.zip` from my email chain) to the repository and provide docs ~ 1 day after the private repo is created.  I'll update this issue whe

[2017-01-16 20:43] MattHJensen commented on #1143
@PeterDSteinberg, all set.

[2017-01-16 23:27] PeterDSteinberg commented on #1143
@MattHJensen @martinholmer I'll ping you [when I think this PR for `taxpuf`](https://github.com/OpenSourcePolicyCenter/taxpuf/pull/1) is ready to merge, hopefully tomorrow morning.  I don't expected major changes between now and then.

[2017-01-17 01:14] MattHJensen commented on #1143
Thanks @PeterDSteinberg!

[2017-01-17 15:28] MattHJensen opened #1144 "growth factor consistency"
Over at #1105, @codykallen said:

The `growth.json` growth factors should not influence the baseline extrapolation. These only affect the extrapolation when the Growth class uses _differences_ between `growth.REAL_GDP_GROWTH` and `growth.factor_target` to adjust the baseline. You can see the history of thought: https://github.com/open-source-economics/Tax-Calculator/pull/424

That said, these para

[2017-01-17 15:37] MattHJensen commented on #1110
@andersonfrailey, does the stage 3 influence how close we are to any stage 2 targets?

[2017-01-17 16:29] andersonfrailey commented on #1110
@MattHJensen, can you clarify your question a bit? Are you asking if stage 3 changes aggregate totals of any of the variables targeted in stage 2? If so, it does not. All aggregate totals remain the same (with exception to the slight change in the targeted variables as noted above)

[2017-01-17 18:27] gleiserson commented on #1050
My apologies for the severely delinquent response.

There is not much in the academic literature that closely corresponds to the proposed methodology because the proposal is designed to facilitate the analysis of incompletely specified policies, and the academic literature typically has examined fully specified tax reforms.

That said, the proposal does relate to several papers. For example, Hendr

[2017-01-17 19:18] andersonfrailey commented on #1110
Looking at each of the components in itemized deductions, it seems the one that is the most unlike its SOI distribution is non-cash contributions (see [here](http://nbviewer.jupyter.org/github/andersonfrailey/Notebook-Uploads/blob/master/Itemized%20Deduction%20Distribution.ipynb)). The difference is particularly noticeable for those with AGI above $10M. The other deduction items seem relatively cl

[2017-01-18 17:45] martinholmer opened #1146 "GitHub complaining about file larger than 50 Mbytes"
Syncing my local git repo with the post-1105-merge master branch at GitHub produces this:
[code]
This looks like a performance warning/suggestion, but I have so little experience with Git and GitHub that I thought I would check.

@MattHJensen @talumbau @andersonfrailey @Amy-Xu

[2017-01-18 17:45] #1143 closed

[2017-01-19 03:44] zrisher commented on #1146
@martinholmer I just noticed this when pulling the latest commit as well. The issue is that git has to maintain revision information in your local `tax-calculator/.git` folder. When you're storing large files in the repo directly that folder can grow quite large and git operations can slow down.

I haven't ever used [Git LFS](https://git-lfs.github.com/), but it sounds like a good solution to that

[2017-01-19 14:54] martinholmer commented on #1146
@zrisher said about the very large new `WEIGHTS.csv` file in issue #1146:

@MattHJensen, @Amy-Xu, @andersonfrailey, what do you think about Zach's idea of moving the `WEIGHTS.csv` file from the tax-calculator repo to the taxpuf repo?  Isn't his impression (that `WEIGHTS.csv` is used only in conjunction with the `puf.csv` file) correct?

[2017-01-19 15:35] martinholmer opened #1149 "Should we be using our Python skills in another way?"
Thought members of the Tax-Calculator development team might be interested in this article:
[Algorithmic trading in less than 100 lines of Python code](https://www.oreilly.com/learning/algorithmic-trading-in-less-than-100-lines-of-python-code).
There is a nice endorsement of the Anaconda Python distribution.

@MattHJensen @talumbau @PeterDSteinberg @Amy-Xu @andersonfrailey @GoFroggyRun @zrisher @c

[2017-01-20 14:50] martinholmer commented on #1146
@martinholmer said:

If Zach's impression is correct, then doesn't the logic of moving the file from the tax-calculator repo to the taxpuf repo also apply to the `StageIFactors.csv` file?  In other words, the content of the `StageIFactors.csv` file is appropriate for use only with the `puf.csv` file, right?

Also, shouldn't these two files also be renamed?  Otherwise, there could be a name collisi

[2017-01-20 14:55] MattHJensen commented on #1146
All of @martinholmer's and @zrisher's comments make sense to me. @andersonfrailey, what do you think?

[2017-01-21 21:12] zrisher commented on #1146
My understanding of `StageIFactors.csv` could be flawed, but I believe it contains some assumed economic growth factors, which could be useful to anyone that wants to age a particular set of record data but doesn't want to provide their own growth assumptions.  It's basically "default data" for growth configuration, just as "current_law_policy.json" is default data (and meta/schema data) for polic

[2017-01-22 13:59] MattHJensen commented on #1149
Where's the conda distribution though!?:
![image](https://cloud.githubusercontent.com/assets/8301092/22182996/f4a85bd6-e080-11e6-8c8f-478cd56486fa.png)

[2017-01-22 16:22] talumbau commented on #1149
Hmm.. looks like they need to start releasing to PyPI or some conda package repository (conda-forge or anaconda.org):

https://github.com/oanda/oandapy

[2017-01-22 22:26] martinholmer commented on #1146
@zrisher said:

Yes, I believe that is the role of the Stage I factors, but the key question is how are the values of those factors determined.  If they are determined in a way that makes the projected `puf.csv` aggregates (wages, etc.) be equal to certain target aggregate amounts, then `StageIFactors.csv` is dependent on `puf.csv`.  On the other hand, if the value of the factors are determined wi

[2017-01-22 22:30] martinholmer commented on #1146
@zrisher said:

I was imagining that, because the `cps.csv` data has no privacy restrictions like the `puf.csv`, the `cps.csv` file (and any associated weights and factors files) would be an integral part of the taxcalc package.  What advantage would be gained by putting them in their own repo?

@MattHJensen @feenberg @Amy-Xu @andersonfrailey @GoFroggyRun

[2017-01-23 02:52] zrisher commented on #1146
My impression was that initial puf data & growth factors & distributional targets -> weights, and that everything on the left are direct estimates of actual economic figures. But yes, others are way more knowledgeable than me on this.

You're right, it makes the most sense to include it. I was thinking of a more population-agnostic model that's not really relevant right now. The below naming conve

[2017-01-23 13:07] MattHJensen opened #1150 "Notebook needs update."
Ames Brown at the Foundation for Research on Equal Opportunity sent an email noting that the 10_min notebook contains a couple of bugs.

First, the `AMT_trt` variables are used, but they need to be replaced by `AMT_rt`. (He discovered the solution by looking at `current_law_policy.json`)

Second, there is a place in the notebook where these two lines are included in the same cell:

[code]

The out

[2017-01-23 13:31] MattHJensen opened #1151 "Testing jupyter notebooks"
The bug in our `10_min` notebook (#1150) has me thinking about how to test Jupyter notebooks.

My first instinct was to add a test to `test_calculate.py` that does the same thing as the notebook. The problem with that approach is that whenever a contributor updates the notebook, s/he would have to remember to update the test as well.

My second instinct was to search google, and I found this: [nbv

[2017-01-23 14:03] MattHJensen commented on #1151
This actually looks like what we need: http://blog.thedataincubator.com/2016/06/testing-jupyter-notebooks/

Programmatic execution of the notebook and reports any errors in output.

[2017-01-23 14:31] andersonfrailey commented on #1146
Sorry for the delayed response. I had family in town this weekend and didn't check my email.

`StageIFactors.csv` is determined independent of `puf.csv`. The values are determined without regard to `puf.csv` aggregate totals and the file will be the same whether you use `puf.csv` or `cps.csv`. Because of this and because it is a rather small file, I recommend leaving it as it.

Renaming the files

[2017-01-23 15:58] martinholmer commented on #1146
@andersonfrailey,  Thanks for your clear answers to the questions posed by @zrisher and me.

[2017-01-23 18:51] martinholmer commented on #1149
OK, we've enjoyed making fun of the finance types using Python.  Closing "issue" #1149.

[2017-01-23 18:51] #1149 closed

[2017-01-23 18:54] martinholmer commented on #1146
See pull request #1153 for a way to reduce substantially the size of the `WEIGHTS.csv` file that GitHub complains about as being too large (as described in issue #1146).  Closing issue #1146.

[2017-01-23 18:54] #1146 closed

[2017-01-24 12:41] MattHJensen commented on #1142
@brittainhard, I resolved the payroll taxes inconsistency w #1154. Since everything else is the same as #1141, I am closing this in favor of #1141.

[2017-01-24 12:41] #1142 closed

[2017-01-24 19:41] #1150 closed

[2017-01-24 19:46] MattHJensen commented on #1116
I'm publishing release 0.7.4 now. I'm hoping 0.7.5 comes relatively soon for #1153 and #1135 related work.

[2017-01-25 16:32] andersonfrailey opened #1156 "Why is Tax-Calculator showing lower wages and salaries than expected?"
Over in PR #1105 a discussion was started about why total Wages and Salaries in TaxCalc are lower than they should be. This issue summarizes the main points made in that PR and serves as a location for further discussion on that topic.

Before and after #1105, wages and salaries produced by TaxCalc were bellow CBO's latest projections, as can be seen here:

| Year | CBO Projections | Diff. After |

[2017-01-25 17:17] martinholmer commented on #1156
@andersonfrailey, Thanks for the summary in issue #1156 of the lengthy conversation in #1105.  My view of that conversation is that we got much further than doing "some speculation" about the source of the underestimate.

Here is what you said in #1105 about wages and salaries of filers and non-filers:

Then later that same day, you said in response to my statements:

Yes, it would be good to get

[2017-01-25 17:38] PeterDSteinberg opened #1158 "Streamline conda package release for Tax-Calc / OG-USA and others"
This is a reminder to either 1) fix the `distribution` folder in Tax-Calculator, OG-USA to be more general, or 2) get conda forge builds working.  Currently the conda package build and upload scripts  have a couple hardcoded sections that need to change, and it would be easy to build the packages for all Python versions, rather than just 2.7.  Also, make corresponding changes in the Wiki for each

[2017-01-25 19:37] feenberg commented on #1156
Can some one point me the the source of the CBO number? URL and page,
please. I want to look at the description and related numbers. I did find
a CBO number for wages and salaries for 2016, and it did not include
self-employment income. So my first thought was probably not correct.

Given that the last official reconciliation of SOI and NIPA:

   https://www.bea.gov/scb/pdf/2007/11%20November/1107

[2017-01-25 20:49] martinholmer opened #1159 "Both `growth.json` long_names and descriptions appear to need update"
Both long_name entries seem to be suggesting values should be percents, but that is contradicted in the descriptions.  Should the percent text be dropped from the long_names?

The description of the `_factor_target` parameter seems to be at variance of what is going on in the code.  Is the description wrong?  Or is [the code](https://github.com/open-source-economics/Tax-Calculator/blob/master/taxc

[2017-01-25 21:00] codykallen commented on #1159
I agree that the long_name should not say "percent" or "percentage points". I also think these definitions need to be revised to reflect that the growth rates in factor_target are not CBO's real GDP growth rates.

[2017-01-25 22:00] martinholmer commented on #1159
@codykallen said:

Guess I don't understand the Growth class.
What **are** the "growth rates in factor_target" if they aren't "CBO's real GDP growth rates"?

@MattHJensen @Amy-Xu @feenberg @andersonfrailey @GoFroggyRun @codykallen @zrisher
@PeterDSteinberg @talumbau

[2017-01-25 22:22] andersonfrailey commented on #1156
@martinholmer asked:

There is no target for total for non-filer wage and salary income because we don't have a measure for estimating how much total non-filer wage and salary income there is. Non-filers are added during the statistical matching process and not targeted after that.

Documentation for the matching process is not currently on GitHub. I will add that right after posting this. The pap

[2017-01-25 22:46] codykallen commented on #1159
@martinholmer said:

I don't know. The growth rates in factor_target are not the CBO growth rates in any of their regular economic and budget projections. Moreover, the growth rates in factor_target for 2013, 2014 and 2015 are not the real growth rates that actually occurred for those years.

Here are the growth rates for each year according to factor_target and to the BEA for 2013-2015 and CBO's

[2017-01-25 23:50] martinholmer commented on #1156
@andersonfrailey,  Thanks for the info about the non-filers that included this statement:

So, what does this mean?  Certain CPS records were added to the `puf.csv` sample because they represent non-filers, but then they were "re-classified ... as filers so as to match SOI totals in that subgroup".  What sense does that make?  SOI doesn't have any information about non-filers.

@MattHJensen @feenb

[2017-01-25 23:53] martinholmer commented on #1159
@codykallen, Thanks for the info about growth rates in issue #1159.

@MattHJensen and @Amy-Xu, can you clarify what is going on in the Growth class?

[2017-01-26 02:12] Amy-Xu commented on #1159
I have two points:

- The rates should be CBO real GDP growth rates, and Anderson @andersonfrailey was able to replicate.

- By percent, I meant the percentage of last year GDP, measuring the scale of growth this year. The other percentage point refers to percentage point in decimal format. If you have better terms, that's great! Please replace the old ones.

[2017-01-26 15:10] martinholmer commented on #1159
@codykallen said:

@codykallen, can you provide a link and page reference to the CBO Jan 2017 projections?

[2017-01-26 16:19] codykallen commented on #1159
@martinholmer asked:

The projections come from the CBO January 2017 "[Budget and Economic Outlook and Updates](https://www.cbo.gov/sites/default/files/115th-congress-2017-2018/reports/52370-outlook.pdf)" on page 88. The Excel files with the projections can be found [here](https://www.cbo.gov/about/products/budget-economic-data) under the "10-Year Economic Projections" section. This page also has

[2017-01-26 16:46] martinholmer commented on #1156
@feenberg said in issue #1156:

Dan, thanks for the link to the useful BEA report entitled [Comparison of BEA Estimates of Personal Income and IRS Estimates of Adjusted Gross Income](https://www.bea.gov/scb/pdf/2007/11%20November/1107_pi_agi.pdf).

I've looked at this BEA paper and have a slightly different interpretation than what you offer above.  Let me explain.  The paper says it estimates a t

[2017-01-26 17:15] martinholmer commented on #1159
@Amy-Xu said:

@codykallen said:

So, @andersonfrailey, are the real GDP growth rates in the `growth.py` file supposed to be the same as the CBO January 2017 real GDP growth rates?  If they are not supposed to be the same as those rates, then what CBO real GDP growth rates are they supposed to match?

@MattHJensen

[2017-01-26 18:58] feenberg commented on #1156
Comments below.

On Thu, 26 Jan 2017, Martin Holmer wrote:

These are excellent calculations, and move us ahead. My next question is
"How is filing status determined in the CPS?". Do we use the variable
provided by Census? Do we know how that is determined? I would like to see
anyone age-eligible for the EIC with wage income classified as a filer, as
such persons can profit from filing, either by

[2017-01-26 20:13] andersonfrailey commented on #1156
@martinholmer asked:

My interpretation is this: there are units in SOI who legally did not need to file, but did anyway. So they found the probability of a tax unit filing conditional on that unit not being legally required to do so. Based on that probability, some non-filing units in the CPS are randomly re-assigned in order to account for those in the SOI who did not need to file but did anyway

[2017-01-26 20:20] andersonfrailey commented on #1156
I also like @martinholmer's idea for adding a target for non-filers to the process. I'd like to note that a switch to a matched `puf.csv` file based on the 2010 PUF and 2016 CPS is in the pipeline, though I can't give a date it will be completed right now. It's not unreasonable to believe this problem with wages and salaries will persist though so some discussion further fleshing out @martinholmer

[2017-01-26 21:07] andersonfrailey commented on #1159
Since I started working on TaxCalc, real GDP growth rates haven't matched CBO real GDP growth rates. When I was trying to recreate them, I found the real GDP growth rates were determined using AGDPN and ACPIU in Stage 1 factors:

`(AGDPNy / AGDPNy-1 - 1) - (ACPIUy/ACPIy-1 -1)`

I'm not sure why this has been the case rather than using the growth rates in the CBO economic projections, but @MattHJen

[2017-01-26 22:16] martinholmer commented on #1159
@andersonfrailey said:

(a) But if the real GDP growth rates are used in the preparation of the StageIfactors.csv values or the Stage3 adjustment-factor values, then you'll have to redo those calculations as well, right?

(b) The formula you describe above is incorrect, which is why the printed CBO rates and the `Growth.REAL_GDP_GROWTH_RATES` differ by so much.  The correct formula is derived as f

[2017-01-26 22:37] feenberg commented on #1156
On Thu, 26 Jan 2017, andersonfrailey wrote:

Are we concerned with getting the # of non-filers right, or the dollar
amounts right? For most non-filers, the dollar amount of income or tax
will be very small, so errors in the # of non-filers shouldn't be
material. Would it make more sense to report number with non-zero
liability rather than filing status?

dan

[2017-01-26 22:44] martinholmer commented on #1156
@feenberg said:

Any nonfiler with earnings is going to have substantial tax liability relative to earnings because of the payroll tax.  It is earnings we're short on.  That seems to me the primary issue is earnings and we have a target for the BEA tabulations I presented earlier in the #1156 conversation.  How can we target the number of nonfilers?  We don't have a target for that do we?

@MattHJ

[2017-01-27 12:17] feenberg commented on #1156
On Thu, 26 Jan 2017, Martin Holmer wrote:

Are we short on payroll tax aggregate? I haven't seen any claim that our
estimate of FICA is especially low.

dan

[2017-01-27 14:05] martinholmer commented on #1110
@andersonfrailey,  In a notebook you reference in #1110 you read in a file called `soi_data.csv`.  Where is that file?  And exactly where in the 2014 SOI tables do you get the taxable interest income totals by AGI stratum?

[2017-01-27 14:13] codykallen commented on #1110
@martinholmer, that data can be found [here](https://www.irs.gov/uac/soi-tax-stats-individual-statistical-tables-by-size-of-adjusted-gross-income), in the section "All Returns:  Sources of Income, Adjustments Deductions and Exemptions, and Tax Items." If you download the 2014 file under that section, taxable interest can be found in column I of the Excel file.

[2017-01-27 14:40] andersonfrailey commented on #1110
@martinholmer asked

`soi_data.csv` is just a file I made that contains the data @codykallen provided a link to. It is the amount of the various types of income looked at in the notebook in each AGI bin. I can add a download link to it if you want.