[2017-01-27 15:05] martinholmer commented on #1110
@codykallen and @andersonfrailey,  Thanks for the pointers to the 2014 IRS-SOI data.

[2017-01-27 15:09] andersonfrailey commented on #1156
@martinholmer asked:

We do not have a target for the number of non-filers. All of the CPS tax units that are determined to not be filers are just added on at the end of the matching process.

@feenberg, here are our payroll tax calculations compared to CBO's:

| Source  | 2015     | 2016     | 2017     | 2018     | 2019     | 2020     | 2021     | 2022     | 2023     | 2024     | 2025     | 2026

[2017-01-27 15:58] feenberg commented on #1156
On Fri, 27 Jan 2017, andersonfrailey wrote:

The 2015 shortage of 65B of payroll tax corresponds to 425B of payroll -
isn't that about the same as the descrepency in wages we are concerned
about?

dan

[2017-01-27 16:42] martinholmer commented on #1156
@feenberg said about the @andersonfrailey comparison of CBO and Tax-Calculator projections:

Yes.   That is exactly the point.

Let's try to get away from CBO projections for a minute and focus on how Tax-Calculator is doing in terms of projecting from 2009 to 2016, the most recent year for which we have **historical** (that is, actual) data.

In the [January 2017 CBO 10-year budget projections](h

[2017-01-27 16:59] feenberg commented on #1156
On Fri, 27 Jan 2017, Martin Holmer wrote:

Is it possible to go back to a year for which there is SOI data on AGI,
wages, EIC, etc? I can see that if we miss a lot of low-wage workers it
would increase our estimate income tax (because of the EIC) and decrease
our estimate of FICA, but I would hope to see some confirmation of that in
the amount of EIC and FICA before acting on that theory.

dan

[2017-01-27 18:59] andersonfrailey commented on #1156
@feenberg
I found [SOI collections data for 2014](https://www.irs.gov/uac/soi-tax-stats-collections-and-refunds-by-type-of-tax-irs-data-book-table-1) (thousands of dollars):

|              |            |
|--------------|------------|
| Income Tax   | 1,614,213,172 |
| FICA         | 897,978,551  |
| SECA         | 63,679,295   |
| OASDHI Total | 961,657,846  |

TaxCalc gives the following for inc

[2017-01-27 20:46] feenberg commented on #1156
On Fri, 27 Jan 2017, andersonfrailey wrote:

Collections isn't the same as liabilities. Here:

    https://www.irs.gov/uac/soi-tax-stats-individual-income-tax-returns-publication-1304-complete-report#_pt3

there is a column "Total Liabilities" that is 1,444B for 2014. You don't
say where your number came from. There are lots of different definitions
of tax - before or after refundable and non-refu

[2017-01-27 21:28] andersonfrailey commented on #1159
@martinholmer, with regards to this comment:

The real GDP growth rates aren't used in preparation of `StageIfactors.csv` or the stage 3 adjustment factors.

With regards to this:

Right. But looking at the function
`def test_default_rates_and_those_implied_by_blowup_factors(puf_1991):` in `test_records.py`, you see that to pass this test the values of `Growth.REAL_GDP_GROWTH_RATES` come from the

[2017-01-27 23:07] martinholmer commented on #1159
@andersonfrailey said:

def test_default_rates_and_those_implied_by_blowup_factors(puf_1991): in test_records.py, you see that to pass this test the values of Growth.REAL_GDP_GROWTH_RATES come from the formula I posted. Here is a snippet of the code: ...[snip] ...

Excellent point @andersonfrailey!  It is very good that you spotted this problem.  I've looked into the history of this test, which wa

[2017-01-28 14:41] martinholmer commented on #1159
Pursuing my previously described plan to redo the hard-coded-rates consistency tests (see #1159), I have discovered that pull request #428, which was merged into the master branch on Nov 9, 2015 (just three days after #424 was merged), added `Policy.__wgrates` and a consistency test for wage growth rates.  The values in the added `Policy.__wgrates` dictionary, which are by default read into the Po

[2017-01-30 14:23] MattHJensen opened #1163 "Documentation for new Tax-Calculator user through CLI?"
Is there any documentation for a beginning Tax-Calculator user who would like to get started with Tax-Calculator from the command line interface using the latest Conda version of Tax-Calculator rather than the source code from GitHub? Am I right to think that this user wouldn't be using Python or git directly?

[2017-01-30 15:57] martinholmer commented on #1163
@MattHJensen said:

No, there is no such documentation as far as I know.  The reason there isn't is that there is very little that can be done with the Conda version of Tax-Calculator because it doesn't include the private `puf.csv` file.  About all that can be done with the Conda version is to prepare CSV-formatted input files (with one or more made-up tax filing units) and process them at the co

[2017-01-30 16:03] MattHJensen commented on #335
Closing this issue. I there is demand again, we can reopen it.

[2017-01-30 16:03] #335 closed

[2017-01-30 16:20] andersonfrailey commented on #1159
@martinholmer your plan to re-do the consistency tests makes sense to me.

I just took a quick look at the the wage growth rate in the [CBO economic projections](https://www.cbo.gov/about/products/budget-economic-data#4) and there are three years where the rates differ by one ten-thousandth, but besides that they all match up.

| Year | TC     | CBO    |
|------|--------|--------|
| 2015 | 0.0477

[2017-01-30 17:04] MattHJensen opened #1165 "Update current_law_policy.json with 2017 parameters"
The latest parameter values hardcoded into Tax-Calculator are for 2016. IRS has released info for 2017, so these need to be updated.

Last year's update was discussed in #538 and implemented in #554. Useful sources are described at both of those links.

[2017-01-30 17:19] martinholmer commented on #1163
@MattHJensen asked:

Yes, of course, that is what I do every day.  The `--weights` option adds to the 28-TAXSIM-variable output a variable 29 with is the weight in the specified year.  Then you can do anything you want with the space-delimited output file: process it with AWK, process it with SAS, import it into a spreadsheet, etc.

[2017-01-30 17:32] martinholmer commented on #1159
@andersonfrailey,  Thanks for checking the hard-coded `Policy.__wgrates` values against those in the [August 2016 CBO 10-Year Economic Projection](https://www.cbo.gov/about/products/budget-economic-data#4).  Let me confirm my understanding of what you did in this comparison.  Did you use data for aggregate "Wages and Salaries" under the Income heading in the CBO spreadsheet?

[2017-01-30 18:21] martinholmer commented on #1163
I forgot to mention in issue #1163 that the `inctax.py` command-line interface to Tax-Calculator has extensive documentation that can be shown on the screen by entering the following at the operating-system command prompt (in this example $):
[code]

@MattHJensen @feenberg

[2017-01-31 12:53] martinholmer commented on #1163
An afterthought on issue #1163:

I actually have very little experience using the Conda taxcalc package, so my earlier responses to the question posed by @MattHJensen may not be completely accurate.  The key question is whether or not the `inctax.py` file (which is located in the top-level directory above the taxcalc directory) is included in the Conda taxcalc package.  I don't know the answer to

[2017-01-31 16:47] martinholmer opened #1168 "CodeCoverage not working on GitHub PR submit"
For the last two days, there is no code coverage report generated when submitting a pull request on GitHub.  Has something been changed?  Or is something broken?

@PeterDSteinberg @MattHJensen

[2017-01-31 16:50] martinholmer commented on #1168
See an example of what is happening now at #1167.

[2017-01-31 16:56] PeterDSteinberg commented on #1168
I am not aware of any specific changes. Is there a fee associated with our usage level of codecov.io, @MattHJensen, and if so, maybe we are over our limit?

[2017-01-31 18:11] martinholmer commented on #1168
CodeCoverage seems to have "upgraded" its report format and content.  So, eventually you do get a sensible report as can now be in pull request #1167.

@MattHJensen @PeterDSteinberg

[2017-01-31 18:11] #1168 closed

[2017-01-31 18:37] andersonfrailey commented on #1159
@martinholmer that is correct. Specifically in the calendar year tab.

[2017-01-31 20:39] MattHJensen commented on #1116
Given that #1169 is delaying a big TaxBrain release, I am releasing a new taxcalc now. I'm behind on the release notes but will catch up soon.

[2017-02-01 15:29] salimfurth opened #1172 "Failing py.test again"
I've installed GitHub, Anaconda, etc, on a brand new computer and - as occurred in December - I am not passing the test.py tests run at startup. Here's the text output. I can't check this on another computer at the moment because I'm working off-site this week.

[code]

[2017-02-01 15:49] martinholmer commented on #1172
@salimfurth, Sorry you're having problems getting started on the new computer.

It looks like you might not have all the Python packages that Tax-Calculator uses.  Please review steps 9, 10, and (especially) 11 in this [getting started document](http://taxcalc.readthedocs.io/en/latest/contributor_guide.html).  After (re?)doing these steps, try the tests again as described in the first code block o

[2017-02-01 16:09] martinholmer commented on #1165
Issue #1165 was resolved by @andersonfrailey pull request #1169 that added 2017 values to the `current_law_policy.json` file.

[2017-02-01 16:09] #1165 closed

[2017-02-01 16:12] martinholmer commented on #1159
Issue #1159 has been resolved by pull requests #1162, #1164, #1167 and #1171.

[2017-02-01 16:12] #1159 closed

[2017-02-01 16:17] martinholmer commented on #1144
Issue #1144 (about `Growth.REAL_GDP_GROWTH_RATES` values) has been resolved by pull request #1167.

[2017-02-01 16:17] #1144 closed

[2017-02-01 16:46] martinholmer commented on #1172
Further investigation of the py.test errors generated on @salimfurth's new Windows computer (as reported in issue #1172), shows that he has on that computer a version of the Tax-Calculator source code that is over a month out-of-date.

Here is why that seems to be the case.  The `test_utils.py` error he reported was this:
[code]
But the `delim_whitespace=True,` text was removed from the source cod

[2017-02-01 16:53] salimfurth commented on #1172
Thanks, @martinholmer - I'm learning something new about the mechanics here. Merging from upstream has knocked out 3 of the 4 errors. The remaining one is that it can't find the module "mock". I'm re-running Step 11 (which did yesterday as well) to see if that fixes it.

[2017-02-01 17:06] martinholmer commented on #1172
@salimfurth said:

Good.  Although painful for you, your experiences are helpful to me as I've been asked to review, and hopefully, streamline the getting-started process.

Excellent progress!  Let me know what happens after Step 11 is redone.  It may well be that we have a lingering package installation bug.  If so, apologies in advance for you being our Windows tester.  (Almost none of the devel

[2017-02-01 17:07] salimfurth commented on #1172
Thanks, @martinholmer. Happy to blaze the trail to the wilds of Windows. No progress on mock.

Where ought the mock module to be installed? Is it an Anaconda package or a module within Taxcalc?

[2017-02-01 17:15] martinholmer commented on #1172
@salimfurth said:

Here is your work-around while we fix the bug that meant the mock package was not installed:
[code]
Then redo the tests and hopefully everything will be OK.  Let us know if this work around eliminates all your test failures.

Meanwhile, we'll fix the installation bug that produced your problem.

@MattHJensen @PeterDSteinberg

[2017-02-01 17:20] MattHJensen commented on #1172
@martinholmer, are you referring to the fact that mock is included in `environment.yml` but not making it into Salim's environment when he activates taxcalc-dev?

[2017-02-01 17:21] salimfurth commented on #1172
Thanks again @martinholmer.
I did
`conda install mock`
and that worked to pass all tests.

[2017-02-01 17:28] martinholmer opened #1173 "Problem with Windows environment"
A new Windows user followed the getting started directions in [this document](http://taxcalc.readthedocs.io/en/latest/contributor_guide.html), but could not pass all the unit tests because the mock package had not been installed.  Here is the the error message:
[code]
@PeterDSteinberg, Can you explain why this happened on Windows?  Would the same thing happen to a new Mac users or a new Linux user

[2017-02-01 17:31] martinholmer commented on #1172
@salimfurth said:

Great!  I've filed a bug report based on your experience.  Thanks for the helpful feedback.

[2017-02-01 17:36] martinholmer commented on #1172
Issue #1172 has been resolved for a new Windows user by providing a work around.
But this new user's experience suggest there is a bug in the package installation process as suggested in issue #1173.

[2017-02-01 17:36] #1172 closed

[2017-02-01 17:53] MattHJensen commented on #1172
@salimfurth, did anything happen when you did `activate taxcalc-dev`? I don't see the `taxcalc-dev` prepended to your system command prompt, so I'm wondering if that step didn't work.

[2017-02-01 18:53] salimfurth commented on #1172
No, I never get any response when I run 'activate taxcalc-dev' - I didn't know I was supposed to.

[2017-02-01 19:11] MattHJensen commented on #1172
Got it. Thanks.

[2017-02-01 19:12] MattHJensen commented on #1173
On #1172 I asked:

To which Salim replied:

[2017-02-01 19:42] martinholmer commented on #1173
@MattHJensen said:

To which Salim replied:

I don't know what is supposed to happen either.  What is supposed to happen?  If there should be some kind of message, then does the lack of a message mean that the environment is not being activated?

That seems unlikely because all the other packages needed by Tax-Calculator were installed on his computer.  It was **only** the mock package that was mi

[2017-02-01 21:15] martinholmer opened #1174 "Questions about variables in StageIFactors.csv file"
I have questions about the source and use of a couple of variables in the `StageIFactors.csv` file.
Here is a listing of the variables in that file:
[code]
Here are my questions:

(1) I couldn't find anything in the taxdata repository that describes how the `AIPD` variable is constructed.  It was not listed in the `taxdata/docs/info/CBO Baseline Updating Instructions` file that contains all the ot

[2017-02-02 01:11] Amy-Xu commented on #1174
Martin asked:

Good catch! AIPD is not a factor we have from beginning. I added this factor because e19200 was off by about $200 million. This factor was derived from SOI interest paid amounts and CBO personal income growth rates. PR https://github.com/open-source-economics/Tax-Calculator/pull/231 has more details.

[2017-02-02 01:14] Amy-Xu commented on #1174
Interesting! I never noticed that. In the extrapolation process, this factor was used to make sure total dependent exemption number is on the right track. Maybe we have different assumptions on dependents in taxcalc? I'm not entirely sure on this.

@MattHJensen

[2017-02-02 14:47] martinholmer opened #1175 "Question about Records._read_blowup() method logic"
This is an efficiency question.  Why does Tax-Calculator do [this blowup-factor arithmetic](https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/records.py#L489-L502) every time it runs instead of having taxdata do the arithmetic once when the `StageIFactors.csv` file is constructed.  For those who would rather read the code without following the above link, the blowup-facto

[2017-02-02 18:56] andersonfrailey commented on #1174
@martinholmer @Amy-Xu, looking through TaxCalc, I don't see anywhere APOPDEP is used. As far as I can tell it's only used in the extrapolation process. I believe it is the same case for ARETS.

As for RENTS, I might be missing something, but I can't see where it is used even in Stage One. @Amy-Xu is this correct or have I just overlooked it?

[2017-02-02 19:07] martinholmer commented on #1174
@andersonfrailey said:

By "only used in the extrapolation process", do you mean used only in calculations internal to the taxdata repository?

@Amy-Xu @MattHJensen

[2017-02-02 19:39] andersonfrailey commented on #1174
@martinholmer

Correct.

[2017-02-06 22:07] PeterDSteinberg commented on #1173
See PR #1180 for a fix.  In the meantime `conda install mock` should install the necessary package.

[2017-02-06 22:17] PeterDSteinberg commented on #1163
@martinholmer @MattHJensen @feenberg - I agree that the current placement of `inctax.py` at the top level of the directory is inconsistent with usage of `taxcalc` from conda installation.  The simple fix would be for me to move `inctax.py` into the `taxcalc` dir, then in the `setup.py` create a `entry_points` - `console_scripts` argument to the `setup` function.  [This setuptools documentation](ht

[2017-02-06 22:27] PeterDSteinberg commented on #1151
I agree @MattHJensen that the best fix is to dump the notebooks automatically to scripts (as shown in the blog linked in comment above).  So the idea would be a test function would
 * Automatically dump notebook(s) to a script in a temp dir
 * Run the script
 * Assert the script exits without error
 * Delete the temp dir

@MattHJensen  - a couple questions:
 * When do we run this test, in Travis?

[2017-02-06 23:28] martinholmer commented on #1163
I don't like the #1163 solution suggested by @PeterDSteinberg because it requires (even casual) users to learn about and and use the (unknown and complex, to them) conda environment apparatus.  If you want an effective way to **discourage** users --- I'm not talking about developer, here --- from getting started with Tax-Calculator, then requiring them to use the conda environment would be the per

[2017-02-06 23:41] MattHJensen commented on #1163
Just a point of clarification  -- in @PeterDSteinberg's suggestion, would the taxcalc-dev environment need to be activated if the user installed taxcalc with conda?

[2017-02-06 23:54] PeterDSteinberg commented on #1163
@MattHJensen - The conda environment would not *necessarily* have to be activated for the console script entry point, *if* they have all the requirements installed.  The only requirement for getting the console script entry point working is to do `python setup.py install` or `python setup.py develop` (which is in effect done by `conda install` for you).  Typically, however, it would probably be ea

[2017-02-07 00:09] MattHJensen opened #1182 "Release 0.7.6"
Please edit the table below adding your significant contributions as they are merged to master.

The last commit in 0.7.5 was 835a19dadd45e19bda6e6823d503f7d9aa905b58 which was the merge of #1169 on January 31, 2017.

Significant contributions to Tax-Calculator release 0.7.6

| Contributor | PR# | Description |
| :-- | :-- | :-- |
@andersonfrailey | #1170 | Add number of tax units with non-positiv

[2017-02-07 00:33] MattHJensen commented on #1116
0.7.4 release notes here: https://github.com/open-source-economics/Tax-Calculator/releases/tag/0.7.4

0.7.5 release notes here: https://github.com/open-source-economics/Tax-Calculator/releases/tag/0.7.5

Please let me know if there should be any additions or corrections.

Closing in favor of 0.7.6 issue #1182.

cc @martinholmer @andersonfrailey

[2017-02-07 00:33] #1116 closed

[2017-02-07 00:41] MattHJensen commented on #1163
@PeterDSteinberg, I'm actually interested in the case where the user is _not_ installing from source, and instead `conda installs` the latest versioned release of `taxcalc`.

The reason I am clarifying this is that we already expect our developers (and others installing from source) to activate the `taxcalc-dev` environment, while we don't currently expect our `conda install` users to activate the

[2017-02-07 12:09] PeterDSteinberg commented on #1163
@MattHJensen - Your summary is correct: I did not mean to imply that the same user/machine would do both `conda install taxcalc` and `source activate taxcalc-dev`.  I think of these two options as alternate ideas, with `source activate taxcalc-dev` being associated with running `python setup.py install` after activating the environment.

[2017-02-07 12:12] PeterDSteinberg commented on #1158
This issue is somewhat related to #1118

[2017-02-07 15:47] andersonfrailey commented on #1182
|Contributor	| PR#	| Description
----|----|----|
@andersonfrailey | #1170 | Add number of tax units with non-positive income and combined tax liability to diagnostic table|

[2017-02-07 19:51] martinholmer commented on #1182
@andersonfrailey, Thanks for your release 0.7.6 note in issue #1182.

[2017-02-08 14:41] martinholmer opened #1186 "Why is there an empty taxcalc/conftest.py file?"
I understand the need for the `taxcalc/tests/conftest.py` file, but I don't understand the role of the `taxcalc/conftest.py` file.  Can somebody explain?

[2017-02-09 15:33] martinholmer commented on #1186
@martinholmer asked:

@zrisher, Is `taxcalc/conftest.py` part of the useful test enhancements you made months ago?

[2017-02-09 15:35] martinholmer commented on #1175
Closing issue #1175 because it has been resolved by pull request #1178.

[2017-02-09 15:35] #1175 closed

[2017-02-09 15:40] martinholmer commented on #1174
Tax-Calculator issue #1174 has been resolved by [taxdata pull request 63](https://github.com/open-source-economics/taxdata/pull/63).

[2017-02-09 15:40] #1174 closed

[2017-02-09 19:07] zrisher commented on #1186
@martinholmer Yep! Having the `conftest` file at `taxcalc` allows pytest to discover the `taxcalc` package no matter what directory the `pytest` command is run from.

For example, if I run `pytest taxcalc/tests` from the root repo dir, or any dir above it, or a subdir of `taxcalc/tests`, without this file I'll get "No module named `taxcalc`". If I add the file back, the tests run successfully. Tha

[2017-02-09 20:01] martinholmer commented on #1186
@zrisher answered the question posed in issue #1186 and then said:

That would be great!  Can you do that when you have a moment?  You could just copy and paste your helpful explanation in #1186 into the file.

[2017-02-10 15:09] PeterDSteinberg commented on #1158
TODO ( @MattHJensen - this list captures our conclusions from #1180 ):

 * [ ] Make a new repo in Github `open-source-economics` Github org that is public.  @MattHJensen - I think you will need to create the repo.  A name might be `taxbrain-builder` or similar since it will build `taxcalc`, `ogusa`, `btax`, and the future package we will create to abstract some of the model logic out of `webapp-pu

[2017-02-10 22:45] MattHJensen commented on #1158
@PeterDSteinberg, this looks right to me. Here's the [policybrain-bulder repo](https://github.com/open-source-economics/policybrain-builder). Could you wait on this project until after webapp milestones b3, though? Getting through b2 and b3 ought to be high priorities right now.

[2017-02-13 16:45] PeterDSteinberg commented on #1158
Delaying until after b3 sounds good to me @MattHJensen

[2017-02-13 18:34] brittainhard opened #1191 "Values in Current Law Policy"
@MattHJensen @PeterDSteinberg

I'm working on the problem that causes the output of the `_AGI_surtax_thd` paramater to look like this:
<img width="767" alt="screen shot 2017-02-13 at 11 39 00 am" src="https://cloud.githubusercontent.com/assets/5440553/22895152/24d5acde-f1e1-11e6-88b7-acbbab062c10.png">

The surtax parameter only has values for one year, so the [`expand_2D`](https://github.com/open

[2017-02-13 18:52] MattHJensen commented on #1191
@brittainhard said:

That makes the most sense to me. It is what we do to, e.g., `_ID_c`:

    "_ID_c": {
        "long_name": "Ceiling on the amount of itemized deductions allowed (dollars)",
        "description": "The amount of itemized deductions is limited to this dollar amount. ",
        "section_1": "Itemized deductions",
        "section_2": "Ceiling on the amount of itemized deductions a

[2017-02-14 17:39] zrisher commented on #1186
@martinholmer Yep, I will submit a PR for that by the weekend.

[2017-02-15 13:57] #1191 closed

[2017-02-15 17:57] MattHJensen commented on #1182
Releasing 0.7.6 now because #1192 is needed for https://github.com/OpenSourcePolicyCenter/webapp-public/issues/436.

[2017-02-15 18:02] MattHJensen commented on #1182
See https://github.com/open-source-economics/Tax-Calculator/releases/tag/0.7.6

[2017-02-15 18:05] MattHJensen opened #1196 "Release 0.7.7"
Please edit the table below adding your significant contributions as they are merged to master.

The last commit in 0.7.6 was https://github.com/open-source-economics/Tax-Calculator/commit/a72ce518a61c35f602b31584cdb550d462640e1f which was the merge of #1192 on February 15, 2017.

Significant contributions to Tax-Calculator release 0.7.7

| Contributor | PR# | Description |
| :-- | :-- | :-- |

[2017-02-15 18:05] #1182 closed

[2017-02-16 22:59] MattHJensen commented on #1196
Releasing 0.7.7 now w new manifest. Will create a new issue for 0.7.8 soon.

[2017-02-20 13:09] zrisher commented on #1186
Implemented in #1201

[2017-02-21 00:20] martinholmer opened #1202 "Release 0.7.8"
Please edit the table below (or add a new comment) documenting your significant contributions as they are merged to master.

The last commit in 0.7.7 was f7750767a55261cd726ea32c7b8224c9461bd457 which was the merge of #1197 on February 16, 2017.

Significant contributions to Tax-Calculator release 0.7.8

| Contributor | PR# | Description |
| :-- | :-- | :-- |
@martinholmer | #1199 | Redesign Growt

[2017-02-21 00:23] martinholmer commented on #1186
Issue #1186 has been resolved by pull request #1201.

[2017-02-21 00:23] #1186 closed

[2017-02-21 14:40] #1196 closed

[2017-02-22 13:26] MattHJensen opened #1205 "Strategy for parameterizing code"
Over at #1204, Cody initially used the 'param_code' capabilities to model an investment income exclusion based on his interpretation of the policy in the Ryan-Brady Blueprint.

I commented that:

@martinholmer replied:

[2017-02-22 13:41] MattHJensen commented on #1205
My thinking for why parameterized provisions will be easier for novice users primarily comes down to the fact that many/most of our users want to add and remove provisions from reforms -- they want to tinker with he structure of reforms, not just the parameters.

This is true even for a reform like the Ryan-Brady blueprint that has already been published. In my experience users want to tinker from

[2017-02-28 00:09] MattHJensen commented on #1202
| Contributor | PR# | Description |
| :-- | :-- | :-- |
@martinholmer | #1199 | Redesign Growth class to support more realistic growth responses
@codykallen | #1204 | Add a reform file for key provisions of the Ryan-Brady Better Way tax plan

[2017-03-01 15:58] #1173 closed

[2017-03-01 21:20] MattHJensen commented on #1202
| Contributor | PR# | Description |
| :-- | :-- | :-- |
@martinholmer | #1199 | Redesign Growth class to support more realistic growth responses
@codykallen | #1204 | Add a reform file for key provisions of the Ryan-Brady Better Way tax plan
@codykallen | #1206 | Add a reform file for select provisions of the Clinton 2016 campaign tax plan

[2017-03-01 21:20] MattHJensen commented on #1202
Releasing 0.7.8 now.

[2017-03-01 21:23] MattHJensen opened #1209 "Release 0.7.9"
Please edit the table below (or add a new comment) documenting your significant contributions as they are merged to master.

The last commit in 0.7.8 was 53bb76af8d2be6f2c7f3bc19d29342d7b23765a3 which was the merge of #1206  on March 1, 2017.

The last commit in 0.7.81 was  f088f3d  which was the merge of #1217 on March 6, 2017.

The last commit in 0.7.82 was https://github.com/open-source-economi

[2017-03-01 21:23] #1202 closed

[2017-03-01 23:50] MattHJensen opened #1210 "Move macro elasticity from dropq to taxcalc"
As an act of expediency a long time ago, we put the implementation of the macro elasticity calculations in dropq. We should find a home for it in taxcalc.

[2017-03-02 00:07] martinholmer commented on #1210
@MattHJensen said:

It is already in Tax-Calculator; look at the `taxcalc/macro_elasticity.py` file.

[2017-03-02 00:11] MattHJensen commented on #1210
Hmm, I guess I'm guiltier in my memory than real life. Closing.

[2017-03-02 00:11] #1210 closed

[2017-03-06 20:55] martinholmer opened #1218 "Need for Tax-Calculator website"
After starting to read Karl Fogel's [Producing Open Source Software: How to Run a Successful Free Software Project](http://producingoss.com/en/producingoss.pdf), it seems clear that the Tax-Calculator project needs a website.  At first, it should target people who want to use Tax-Calculator on their local computer, and therefore, include simple instructions about how to get started and include sta

[2017-03-06 21:42] rickecon commented on #1218
@martinholmer I haven't started reading the book yet, but it seems sufficient to me to have an active GitHub repository with detailed README's  and issues, and then a link to a [Sphinx style](http://www.sphinx-doc.org/en/stable/) documentation set of pages (e.g., readthedocs).

[2017-03-06 21:58] PeterDSteinberg commented on #1218
@martinholmer - I have done readthedocs format a number of times.  Here's a good example of it for the dask project:

[http://dask.pydata.org](http://dask.pydata.org)

And here is the source and configuration files for making those docs:

[https://github.com/dask/dask/tree/master/docs](https://github.com/dask/dask/tree/master/docs)

It is possible also to push such docs to [readthedocs.io](http://

[2017-03-06 21:58] martinholmer commented on #1218
@rickecon,  The objective is to present information for users (not developers) most of whom know nothing about version control, Python, etc.  They just want to be able to analysis tax reforms on their computer.  So, I'm not sure a GitHub repository, which shows all the files and their history, is the best approach.  When you go to a website, you never see a listing of all the .html and .css files

[2017-03-06 22:02] martinholmer commented on #1218
@PeterDSteinberg, Thanks for the suggestion of rst files and readthedocs, which is definitely an option for documentation.  But what about a mailing list and download of Tax-Calculator?  Can those things be handled on readthedocs?

[2017-03-06 22:23] PeterDSteinberg commented on #1218
Regarding the mailing list @martinholmer , we could add a `git push` hook event.  [This shows the basic idea](https://git-scm.com/docs/githooks#post-receive): it is about adding a post receive event, so after a tag is pushed by @MattHJensen , an email is sent out.

(Here's a fancy post-receive event example from the docs linked above)[https://github.com/git/git/blob/master/contrib/hooks/post-recei

[2017-03-06 22:59] martinholmer commented on #1218
@PeterDSteinberg, Thanks for the mailing list suggestion.  Can the capability you mention handle a mailmain mailing list like [this one](http://mailinglists.sqlite.org/cgi-bin/mailman/listinfo/fossil-users) and its archive like [this one](http://www.mail-archive.com/fossil-users@lists.fossil-scm.org/)?

[2017-03-06 23:30] feenberg commented on #1218
On Mon, 6 Mar 2017, Martin Holmer wrote:

I think the typical economist would see a Github site as an invitation to
go away. It meets the needs of a developer, but not of a user. The program
can provide a useful service to many users without them modifying the
Python code, but we need to have some documentation that guides the user
to that end. Once they have experience as a user, they may be moti

[2017-03-06 23:33] feenberg commented on #1218
On Mon, 6 Mar 2017, Martin Holmer wrote:

We do already have a mailing list, but it has no traffic to speak of. Matt
has mentioned that all the congressional staff type users he is familiar
with desire total anonymity and will not participate. But I would hope for
student and faculty users also and they haven't shown up yet. I get more
support questions for taxsim every week than I have seen on ou

[2017-03-07 14:38] martinholmer opened #1222 "Problem when installing taxcalc package"
I currently have on my Mac computer only the Tax-Calculator source code.  As an experiment, I tried to install the latest taxcalc package using the following command:
[code]
Here is what happened next:
[code]
I aborted the install because it was going to **downgrade** my version of numpy.

I have on my computer numpy version 1.11.2, which is the version called for in the `tax-calculator/environmen

[2017-03-07 15:40] PeterDSteinberg commented on #1222
@martinholmer - We had discussed before that there was an inconsistency between conda.recipe and environment.yml and I did not follow to fix that inconsistency.  The PR #1223 is a fix.

[2017-03-07 15:47] martinholmer commented on #1222
@PeterDSteinberg, Thanks for fixing #1222 in #1223.
When will the new corrected taxcalc package be available?

@MattHJensen

[2017-03-07 15:47] #1222 closed

[2017-03-07 16:15] MattHJensen commented on #1222
@martinholmer, we'll be able to release the new taxcalc package after I tag the latest version (0.7.9) on GitHub. I think it would make sense to do so as soon as #1221 is merged.

[2017-03-07 16:48] martinholmer commented on #1222
@MattHJensen, I just merged #1221, so you can make another release of the taxcalc package.

[2017-03-07 18:16] PeterDSteinberg opened #1224 "Tax-Calculator's interaction with webapp-public and deploy"
The handling of parameters between `webapp-public`, `deploy` and `taxcalc` is currently in an inconsistent state.  Basically, we have always received in the backend celery tasks, dicts like:

`{u'2017': {u'_AMEDT_rt': [0.01], u'_ID_BenefitSurtax_Switch': [[True, True, True, True, True, True, True]]}}`

`webapp-public` currently continues to send `user_mods` to celery workers like that.

The proble

[2017-03-07 18:18] PeterDSteinberg commented on #1224
^^ cc @martinholmer @MattHJensen @brittainhard

[2017-03-07 18:23] MattHJensen commented on #1224
@PeterDSteinberg,

My initial assessment is that:

The parameters from the TaxBrain static input page should all go into the `policy` dict.

The parameters from the TaxBrain macro-elasticity dynamic model should go into the `gdp_elasticity` dict.

The parameters from the TaxBrain Partial Equilibrium dynamic model should go into the `behavior` dict.

[2017-03-07 18:29] PeterDSteinberg commented on #1224
That makes sense to me @MattHJensen. The unused fields will just be `{}` so we don't get this key missing exception.  Does that mean `growdiff_baseline`, `growdiff_response`, and `consumption` are currently not used by the apps - placeholders for future features?

[2017-03-07 18:37] MattHJensen commented on #1224
Yes and no. They are not currently used by the TaxBrain GUI. But they will be available to taxbrain/file users after https://github.com/OpenSourcePolicyCenter/webapp-public/issues/500 is resolved.

[2017-03-07 18:54] PeterDSteinberg commented on #1224
Ok - I'll make changes to deploy based on what you described above, @MattHJensen .  Then I'll deploy to test-app in next hour or so and, if all goes well, ospc later today.

[2017-03-07 19:01] brittainhard commented on #1224
@PeterDSteinberg are there changes that need to be made in taxbrain? Can we tell, based on the request sent to the flask server, whether the data came from static input or one of the dynamic models?

[2017-03-07 19:13] PeterDSteinberg commented on #1224
@brittainhard - the backend will know which endpoint is passing the parameters and can make some adjustments.  But it seems like we need some way in `macro-elasticity` and `Partial Equilibrium` models to differentiate between `policy` parameters and parameters specific to the elasticity or equilibrium model.  Is that correct, @MattHJensen ?  It was my impression that since those models are built o

[2017-03-07 19:31] MattHJensen commented on #1209
Release 0.7.9: https://github.com/open-source-economics/Tax-Calculator/releases/tag/0.7.9

Needs changelog.

[2017-03-07 19:32] MattHJensen opened #1226 "Release 0.8.0"
Please edit the table below (or add a new comment) documenting your significant contributions as they are merged to master.

The last commit in 0.7.9 was https://github.com/open-source-economics/Tax-Calculator/commit/a5491cf0c8c5fdc3b39a8e990d00dcab992f8343, which was the merge of #1228  on March 8, 2017.

Significant contributions to Tax-Calculator release 0.8.0

| Contributor | PR# | Description

[2017-03-07 19:48] MattHJensen commented on #1224
@PeterDSteinberg, that is correct. The policy parameters are coming along from the static input, and then the behavior or gdp_elasticity params are added to those depending on the dynamic modeling case.

[2017-03-08 14:41] MattHJensen commented on #1222
@martinholmer, taxcalc 0.7.9 is now available https://anaconda.org/ospc/taxcalc.

[2017-03-08 14:55] martinholmer commented on #1222
@MattHJensen said:

But isn't this release broken because it doesn't include the bug fix in #1229?

[2017-03-08 15:11] MattHJensen commented on #1222
I meant for 0.7.9 to include #1229. I can check in a couple of hours.

On Mar 8, 2017, at 9:55 AM, Martin Holmer <notifications@github.com<mailto:notifications@github.com>> wrote:

@MattHJensen<https://github.com/MattHJensen> said:

taxcalc 0.7.9 is now available at https://anaconda.org/ospc/taxcalc

But isn't this release broken because it doesn't include the bug fix in #1229<https://github.com/o

[2017-03-08 15:18] MattHJensen commented on #1222
Ahh, I see the problem now. I'll tag 0.7.91 this afternoon -- or also @martinholmer feel free to do it sooner.

On Mar 8, 2017, at 9:55 AM, Martin Holmer <notifications@github.com<mailto:notifications@github.com>> wrote:

@MattHJensen<https://github.com/MattHJensen> said:

taxcalc 0.7.9 is now available at https://anaconda.org/ospc/taxcalc

But isn't this release broken because it doesn't include

[2017-03-08 15:29] PeterDSteinberg commented on #1222
@MattHJensen - see my comment in flowdock related to tagging minor versions like `0.7.91` - I think we should delete the tag `0.7.9` instead.

[2017-03-08 18:56] MattHJensen commented on #1222
@PeterDSteinberg I just deleted and retagged `0.7.9`

[2017-03-08 19:07] MattHJensen commented on #1205
Resolved by #1221. Closing.

[2017-03-08 19:07] #1205 closed

[2017-03-08 19:15] MattHJensen commented on #1222
@martinholmer, 0.7.9 includes #1229 now. https://anaconda.org/ospc/taxcalc

[2017-03-08 19:17] martinholmer commented on #1222
@MattHJensen said:

Thanks.

[2017-03-08 19:32] martinholmer commented on #1222
@MattHJensen said in issue #1222:

I'm still having problems.  Here is what happened when I tried to install:
[code]
What am I doing wrong?  It still wants to **downgrade** my version of numpy.

[2017-03-08 19:39] PeterDSteinberg commented on #1222
Hi @martinholmer @MattHJensen  - I apologize for the package confusion over last couple days.  The issue now is not related to the taxcalc repo (the tags and code do not need to change), but I just need to change the build script that pushes the packages.  It had been hard-coded to look for numpy 1.10 files, then I had built 0.7.9 for both 1.10 and 1.11 and it uploaded wrong one.  Sorry again, I'l

[2017-03-08 19:43] martinholmer commented on #1222
@PeterDSteinberg said:

Why would you build two versions?
Isn't numpy 1.11.2 the **ONLY** correct numpy version?

[2017-03-08 19:46] PeterDSteinberg commented on #1222
It had been wrong before (numpy 1.10) and I made a build with 1.10 into my conda-bld directory.  Subsequently we changed the recipe to 1.11, then I built it and had 1.10 and 1.11 packages in by conda-bld directory (old builds are not deleted by default).  The upload script was hardcoded to uploading only the 1.10 version.  Now I have fixed the upload script.

[2017-03-08 19:50] PeterDSteinberg commented on #1222
Fixed [here on anaconda.org](https://anaconda.org/ospc/taxcalc/files) - Note the package names have `np111` in them.

[2017-03-08 20:08] martinholmer commented on #1222
@PeterDSteinberg said:

Thanks for fixing this.  It all works as advertised now.

But why all the np111 business in the package name.  That seems redundant.
We're not adding into the taxcalc package name the version of pandas and all the other packages that are being used?  Why even mention the numpy version in the package name?  There is only one correct numpy version, right?

Stuff like this is

[2017-03-08 21:03] PeterDSteinberg commented on #1222
@martinholmer The file naming is the default style chosen by conda-bld.  It encodes the Python and numpy of the build.

[2017-03-08 21:24] martinholmer commented on #1222
@PeterDSteinberg said:

What's so important about the numpy version?  Why not the pandas version?
In any case, can't you change the default to be more sensible and less confusing to novices?

And where is this default naming style?
Are you talking about the `tax-calculator/distribution/version_and_release.sh` script?
Why does it still say this:
[code]
Isn't the `np110` business another bug?

@Matt

[2017-03-08 21:34] PeterDSteinberg commented on #1222
@martinholmer - Yes that file still has an error - we have a TODO to redo the packaging and have [created this repo policybrain-builder](https://github.com/open-source-economics/policybrain-builder) .  I'll move the logic to that repo this week.

[2017-03-08 21:46] martinholmer commented on #1222
@PeterDSteinberg said:

OK.  That sounds good.

I know removing the `np1xx` (any any other extraneous info) from the package name sounds like a senseless request.  But we are giving serious thought to using the `conda install -c ospc taxcalc` as part of the installation process for first-time users to get started with Tax-Calculator on their local computer.  These people will know nothing about Py

[2017-03-09 17:55] PeterDSteinberg commented on #1222
@MattHJensen @martinholmer - I have made some progress on a PR to [policybrain-builder here](https://github.com/open-source-economics/policybrain-builder/pull/1) that will help us standardize the conda packaging and anaconda upload.  It has a TODO list. I added a TODO item about looking into simplifying package file names: I agree the long name is potentially overwhelming to new users / non-devs,

[2017-03-09 21:35] andersonfrailey opened #1231 "Validation Tests Error"
I'm working on a new branch and when I ran the validation test this traceback error popped up:
[code]

As you can see, it says the tests passed, but I'm worried about the error that comes up. Also, after I ran the tests, the content of the file `d15.taxdiffs` was erased. Before the tests I checked to make sure the branch was up-to-date.

When I switch over to my master branch, which is also up-to-

[2017-03-09 22:00] martinholmer commented on #1231
@andersonfrailey asked in issue #1231:

No, I have not run into this error.  In fact, when I do the following everything is fine.
[code]
The error you are getting is the following:
[code]
But the Records class `__init__()` clearly has a `gfactors` argument.

You had problems before with you local git repo not being in sync with the GitHub Tax-Calculator repo.  My guess is that figuring out how tha

[2017-03-09 22:56] andersonfrailey commented on #1231
@martinholmer I was able to fix the issues I was having yesterday and reset my local project to exactly match the upstream repo. In my copy, the Records class also has a `gfactors` argument and when I run `git status` I get this message:
[code]
However, the validation tests still fail with the same error message.

[2017-03-09 23:12] martinholmer commented on #1231
@andersonfrailey said in issue #1231:

I have no idea what your problem is.  If you are really on the master branch, then it is extremely worrying that the code doesn't work the same on your computer and on my computer.  You're working on a Mac, right?  What version of Python are you running, 2.7, 3.4 or 3.5?

I think you need somebody with more git skills than I have to help you.

[2017-03-09 23:31] martinholmer commented on #1231
@andersonfrailey,  Once PR #1233 is merged into master, sync your local repo with the one at GitHub, and try the validation tests again.  Let me know what happens.

[2017-03-10 12:26] martinholmer commented on #1231
@andersonfrailey, I think your #1231 problem is caused by your local repo not being in sync with the main GitHub repo.  Here is the reason I think that:

You said that running `git status` on your computer produces this:
[code]
All that means is that your local repo is in sync with **your** GitHub repo.

But your GitHub repo is not in sync with the Open-Source-Economics GitHub repo.  You can see t

[2017-03-10 13:23] MattHJensen commented on #1231
@andersonfrailey, I believe this sequence will resolve your problems:

Make sure that `upstream` is pointing at https://github.com/open-source-economics/tax-calculator.git:

`git remote -v`

Checkout the local branch you care about:

`git checkout master` or `git checkout [feature-branch]`

Fetch latest from https://github.com/open-source-economics/tax-calculator.git:

`git fetch upstream`

Merge

[2017-03-10 14:01] andersonfrailey commented on #1231
@martinholmer @MattHJensen thank you both for your help.

I've gotten my GitHub repo in sync and I ran the commands @MattHJensen suggested. The validation tests now pass, but I still get the traceback error. At this point would it just be easiest to wipe the slate clean and create a new fork? None of the solutions I've tried seem to be working and it appears this issue is just local to my machine.

[2017-03-10 14:07] MattHJensen commented on #1231
That seems fine as long as it doesn't delete any of your work.

Before deleting the directory and recreating the directory, you might try to reset your repo to look like upstream/master. This will also delete any work that you've done ahead of upstream/master.

`git reset --hard upstream/master`

[2017-03-10 15:20] andersonfrailey commented on #1231
I believe I discovered the root cause of the problem. I unknowingly had a previous version of TaxCalc installed and when I updated all tests passed without issue.

Thanks again for the help!

[2017-03-10 15:20] #1231 closed

[2017-03-10 15:23] MattHJensen commented on #1231
@andersonfrailey, are you using the taxcalc-dev environment when you are doing development work? taxcalc should not be installed in that environment. If it is installed in that environment, you could have conflicts between the source code and the installation.

[2017-03-10 15:33] martinholmer commented on #1231
@MattHJensen said (paraphrasing):

First, is this correct?  Certainly it squares with my recent experience working with the `tc.py` script in directories outside the `tax-calculator` directory tree.

Second, if correct, shouldn't this be included (even stressed) in the Contributor Guide?

[2017-03-10 16:17] andersonfrailey commented on #1231
@MattHJensen, I believe I inadvertently did install taxcalc in the taxcalc-dev environment. I've uninstalled so that shouldn't be an issue in the future.

[2017-03-10 16:42] MattHJensen commented on #1231
@martinholmer,

There is no problem if the `taxcalc` package is installed on your computer when doing development work in the `taxcalc-dev` environment so long as `taxcalc` is not installed in the `taxcalc-dev` environment itself.

More generally, the rule is that `taxcalc` should not be installed in the same environment where someone is doing development work.

Definitely agree that this should b

[2017-03-10 20:18] jjbergdo opened #1236 "Parameterizing specific policy reforms"
Hi everyone. I am writing on behalf of the research team at the Indiana University Lilly Family School of Philanthropy with a  request. We are developing a white paper on the effects of certain proposed policy changes to both charitable giving and overall tax revenue.  Based on initial feedback, it appears that these can be implemented using the Tax Calculator.

However, we have a tight timeline a

[2017-03-10 20:33] jjbergdo opened #1237 "Tax Elasticities On Giving"
[Reposted from taxdata at the request of @MattHJensen ]

Hey everyone. I am writing on behalf of the research team at the Indiana University Lilly Family School of Philanthropy with a request. We are developing a white paper on the effects of certain proposed policy changes to both charitable giving and overall tax revenue. Prior literature on this has generally assumed a single elasticity for the

[2017-03-10 20:41] MattHJensen commented on #1236
@jjbergdo, in the model currently, taxpayers choose between the itemized deduction and the standard deduction in order to minimize their total tax liabilities.  The simplest ways to move more filers onto the standard deduction is to either lower the value of itemized deductions or increase the value of the standard deduction. Is your goal to find the value of the standard deduction such that 95% o

[2017-03-14 18:23] jjbergdo commented on #1236
@MattHJensen My understanding is that we were planning on expanding the standard deduction, modeled (for now) after the Camp tax reform plan from a few years ago, with $11,000/individual $22,000/married for the standard deduction values. The 95% number came from some analysis of the plan at the time. Sorry for the lack of clarity there.

[2017-03-15 21:34] MattHJensen commented on #1236
Thanks @jjbergdo for the clarification. That's something that taxcalc can already do, so I am going to check this off and focus on the other reform.

[2017-03-20 20:05] jjbergdo commented on #1237
Update: we have settled on using imputed AGI ranges of <$50k, $50k-$99,999, and $100k+. We can reliably calculate elasticity estimates for these ranges using the PSID data.

[2017-03-20 22:25] #1237 closed

[2017-03-23 13:22] MattHJensen commented on #1218
We have some experience with and infrastructure for readthedocs already because of [taxcalc.readthedocs.org](taxcalc.readthedocs.org) which is generated from the reStructuredText files [here](https://github.com/open-source-economics/Tax-Calculator/tree/master/docs/source).

[2017-03-23 14:50] MattHJensen commented on #1218
We have some experience and infrastructure for readthedocs already because of [taxcalc.readthedocs.org](taxcalc.readthedocs.org) which is generated from the reStructuredText (reST) files [here](https://github.com/open-source-economics/Tax-Calculator/tree/master/docs/source).

One option would be to continue using readthedocs while we develop the initial version of our user documentation.  Once the

[2017-03-23 15:52] martinholmer commented on #1218
@MattHJensen offered suggestions about how to develop and maintain static-web-page documentation for users of the Tax-Calculator CLI `tc`:

After just a little reading about Jekyll it does seem promising.  One particular advantage is that it has an [addon](https://jekyllrb.com/docs/extras/) that allows LaTeX math expressions to be rendered as PNG graphs embedded in the text so that the resulting w

[2017-03-24 12:44] MattHJensen commented on #1226
I plan to release 0.8.0 later today.

[2017-03-24 17:04] MattHJensen opened #1261 "Release 0.8.1"
Please edit the table below (or add a new comment) documenting your significant contributions as they are merged to master.

The last commit in 0.8.0 was 30f05c8, which was the merge of #1260 on March 24, 2017.

Significant contributions to Tax-Calculator release 0.8.1

| Contributor | PR# | Description |
| :-- | :-- | :-- |
| Anderson Frailey | #1257 | Add MTR with respect to spouse earnings |
|

[2017-03-24 17:04] MattHJensen commented on #1226
0.8.0 is available https://github.com/open-source-economics/Tax-Calculator/releases/tag/0.8.0

[2017-03-24 17:04] #1226 closed

[2017-03-24 17:06] MattHJensen commented on #1209
All significant contributions to 0.7.9 were internal. Closing.

[2017-03-24 17:06] #1209 closed

[2017-03-27 01:50] martinholmer commented on #1226
@MattHJensen said on Friday, March 24th:

When will 0.8.0 be available as a conda package?

Am I doing something wrong when I do the following?
[code]

[2017-03-29 18:26] martinholmer opened #1267 "Why two "separate" MARS values in current_law_policy.json ?"
A number of policy parameters are indexed by filing unit type (`MARS`).  All those parameters have the following infomation in the `current_law_policy.json` file:
[code]
When you look at the values for the third and sixth filing unit types (both of which are labeled "separate") you see that they are exactly the same.  So, why do we need the sixth filing unit type (that is, the second "separate")?

[2017-03-29 18:38] martinholmer commented on #1267
With respect to issue #1267, the  current version of the `puf.csv` file contains `MARS` values that range from 1 through 4.

There are no records with MARS==5 or MARS==6.  Here are the unweighted counts by MARS value:
[code]

@MattHJensen @feenberg @Amy-Xu @andersonfrailey @GoFroggyRun @codykallen

[2017-03-29 18:43] feenberg commented on #1267
On Wed, 29 Mar 2017, Martin Holmer wrote:

The PUF comes with the two different "separates" but as you say, it never
affects tax liability. In taxsim we keep the distinction in the code but
it would make sense to consolidate the two.

dan

[2017-03-29 18:44] codykallen commented on #1267
@martinholmer, I have never seen a reason for having MARS==6 (redundant 'separate' entry). I agree with @feenberg that they should be consolidated.

I can understand having a space for MARS==5 in case there are widows in any PUF, but those could be reclassified as married filing jointly for purposes of calculating taxes.

[2017-03-29 19:56] martinholmer commented on #1267
@feenberg and @codykallen,  Thanks to you both for the quick feedback on MARS issue #1267.

I've looked at two more things since my original post.

First, the Form 1040 has MARS values of 1-5.

Second, the IRS-SOI PUF documentation has MARS values of 1-4 (apart from the "aggregate" record that has MARS==0) because units with MARS==5 (widows) are assigned a MARS value of 3 (separate) in the PUF eve

[2017-03-31 00:14] martinholmer commented on #1267
Issue #1267 has been resolved by merged pull request #1268.

[2017-03-31 00:14] #1267 closed

[2017-03-31 18:32] martinholmer commented on #1218
@MattHJensen, After reading more about GitHub Pages, it seems like we would have a conflict because we are already using the `Tax-Calculator/docs` subdirctory for ReadTheDoc source files.  See this description of [GitHub Pages publishing sources](https://github.com/blog/2228-simpler-github-pages-publishing).  Using the `gh-pages` BRANCH as the source for GitHub pages seems infeasible since we are

[2017-04-01 11:48] martinholmer commented on #1218
@MattHJensen,  This [web page](http://docs.readthedocs.io/en/latest/faq.html) seems to say we can rename the `Tax-Calculator/docs/` directory as `Tax-Calculator/read-the-docs/` and everything will continue to work as it does now.

Is that the way you see it?

Here is the relevant info from that web page:
[code]

If you concur, I'll try this rename when I return from Toronto on Tuesday, April 11th.

[2017-04-03 22:01] PeterDSteinberg opened #1275 "Make an event to test OG-USA + B-Tax on Tax-Calc master change"
* [ ] Run `get_micro_data.py` from OG-USA
 * [ ] Run B-Tax regression

Use Travis CI environment variables and webhook options to test these just on changes to master branch.

[2017-04-03 22:10] MattHJensen commented on #1275
I think it would be preferable to run these from og-USA and b-tax respectively on new taxcalc releases.

In tax-calculator, it would be best to find the most parsimonious tests possible that would identify breaking changes for b-tax and og-USA so that we don't dramatically affect the time it takes to run the taxcalc test suite.

On Apr 3, 2017, at 6:01 PM, Peter Steinberg <notifications@github.com

[2017-04-04 00:04] jdebacker commented on #1275
As an FYI, the breaking changes that I've noticed in the past have been changes to variable names, changes to the variables available in the PUF, and changes to the list of variables for which the mtr function is available.

[2017-04-04 13:47] MattHJensen commented on #1218
@martinholmer, your googling was more effective than mine -- I looked for the same thing and didn't find it. That sounds great.

[2017-04-04 14:57] PeterDSteinberg commented on #1275
There have also been breaking changes in the deploy repo - the parts where the interface (`runner`) functions are called and are inconsistent with changes in the Tax-Calculator, B-Tax, and OG-USA repos.  I'll think further how we may better test that integration as well.

[2017-04-04 15:29] PeterDSteinberg commented on #1275
Here's the related B-Tax regression testing PR: https://github.com/open-source-economics/B-Tax/pull/150

[2017-04-04 15:55] PeterDSteinberg commented on #1275
Is there any interest, @jdebacker, @MattHJensen @martinholmer , in have private puf.csv.gz-related tests running in Travis?  There is a way we can encrypt things to allow an install of `taxpuf` on Travis CI tests safely.  If so, I can add that to the checklist at the top of this issue.

[2017-04-04 16:15] jdebacker commented on #1275
@PeterDSteinberg Let me be sure I understand.

I thought we currently did Travis CI testing of OG-USA and B-Tax with a puf.csv.gz file.  Is the right?

I thought the current puf.csv.gz file was fake data for testing - and that it did not have to be private like the actually puf.csv file.  Do I have this wrong?

[2017-04-04 16:18] PeterDSteinberg commented on #1275
Correct, @jdebacker , I forgot about that - we are using a faked puf.csv.gz in CI tests.  I meant to say that we could run Travis CI tests with the private actual puf.csv.gz safely with respect to the actual puf.csv.gz's privacy.  We wouldn't have to commit any `taxpuf` package related security details to the repo(s) to do so but rather encrypt them in Travis CI.

[2017-04-04 16:33] jdebacker commented on #1275
Ok- then how about run time?  Would it be about the same with the actual puf file?  If so, I guess we move to that - it would save some errors we've seen where we testing locally with actual puf, but had Travis CI failures because we didn't have a faked puf that was the same in the repo where the tests were run from.

[2017-04-04 17:02] MattHJensen commented on #1275
I believe this would be a security risk (see a previous discussion, [here](https://github.com/open-source-economics/Tax-Calculator/issues/528#issuecomment-173608163)).

The problem is that a non-core maintainer could write a test that discloses information about the puf. A PR containing the new test would trigger TravisCI _before_ any core maintainer has reviewed the test.

[2017-04-04 19:02] PeterDSteinberg commented on #1275
Got it...That makes sense @MattHJensen

[2017-04-07 14:02] #1151 closed

[2017-04-12 00:12] #1236 closed

[2017-04-12 00:16] #1089 closed

[2017-04-12 01:17] MattHJensen commented on #1261
https://github.com/open-source-economics/Tax-Calculator/releases/tag/0.8.1

[2017-04-12 01:17] #1261 closed

[2017-04-12 01:18] MattHJensen opened #1288 "Release 0.8.3"
Please edit the table below (or add a new comment) documenting your significant contributions as they are merged to master.

The last commit in 0.8.2 was https://github.com/open-source-economics/Tax-Calculator/commit/1bbdee50dbe75cac9d7281bcccdd50cd07bedcd1, which was the merge of #1293 on April 12, 2017.

Significant contributions to Tax-Calculator release 0.8.3

| Contributor | PR# | Description

[2017-04-12 02:18] martinholmer commented on #1108
The redundant policy parameter `_AMT_thd_MarriedS` was removed from `current_law_policy.json` and from the Python code by merged pull request #1270.

@MattHJensen

[2017-04-12 02:18] #1108 closed

[2017-04-12 02:23] martinholmer commented on #1110
The adjustment_ratios envisioned in issue #1110 have been implemented in pull request #1193.

[2017-04-12 02:23] #1110 closed

[2017-04-12 02:26] martinholmer commented on #1102
The parameter-code capability was developed and then removed from Tax-Calculator as described in pull request #1221.

[2017-04-12 02:26] #1102 closed

[2017-04-12 02:29] martinholmer commented on #164
Issue #164 has been resolved by merged pull request #1270.

[2017-04-12 02:29] #164 closed

[2017-04-13 15:52] MattHJensen commented on #1261
I just deleted and retagged 0.8.1 because the bugfix on #1292 was necessary for many TaxBrain reforms to succeed.

The last commit in 0.8.1 was https://github.com/open-source-economics/Tax-Calculator/commit/1bbdee50dbe75cac9d7281bcccdd50cd07bedcd1, which was the merge of #1293 on April 12, 2017.

[2017-04-13 19:21] martinholmer commented on #1218
Thanks to all of you who contributed ideas about how to offer users (not developers) a website that provides basic information on how to use Tax-Calculator via the TaxBrain GUI and the tc CLI.

We're going to start by using GitHub pages to host this non-interactive website for users.

New issues will be raised as they come up in that development process.  Meanwhile, I'm closing issue #1218.

@Matt

[2017-04-13 19:21] #1218 closed

[2017-04-13 19:23] martinholmer commented on #942
@zrisher,  Is the September 2016 issue #942 useful in you Luca work?
If not, I would like to close it.

@MattHJensen

[2017-04-13 19:43] jdebacker commented on #1275
Looping in @rickecon here.  We just talked and he had an idea about testing: Put together a list of variables that the dependent programs (OG-USA, B-Tax, etc) need from TC.  Then run a test with each new version of TC to make sure those variables are output.

As noted above, this would catch most changes.  I'll provide a list from B-Tax below.

But we do need to be aware that such a test would not

[2017-04-13 19:49] jdebacker commented on #1275
B-Tax uses the following from the calculator class (where `calc1` is a specific instance of the calculator class):
[code]

[2017-04-13 20:30] rickecon commented on #1275
OG-USA uses the following from the calculator class (where `calc1` is a specific instance of the calculator class):

`calc1.mtr('e00200p')`
`calc1.mtr( 'e00300')`
`calc1.mtr( 'e00400')`
`calc1.mtr( 'e00600')`
`calc1.mtr( 'e00650')`
`calc1.mtr('e00900p')`
`calc1.mtr('e01400')`
`calc1.mtr('e01700')`
`calc1.mtr('e02000')`
`calc1.mtr('e22250')`
`calc1.mtr('e23250')`
`calc1.records.e00300`
`calc1.recor

[2017-04-13 22:16] MattHJensen commented on #1288
The retag of 0.8.1 was causing deployment issues, so I released 0.8.2 with no major changes.

[2017-04-14 14:41] martinholmer commented on #284
Tax-Calculator issue #284 (from September 2015) is still open even though pull request #356, which was apparently an attempt to resolve #284, was closed in September 2015 without merging.  Is there any reason to keep issue #284 open given that there has been no discussion of it over the past  17 months?

@MattHJensen @PeterDSteinberg @feenberg @zrisher

[2017-04-14 14:59] martinholmer commented on #313
Given that hours of several team members were recently wasted because issue #313 has not been resolved, I'm wondering whether this enhancement should be given a higher priority that it seems to have now.

I'd be happy to prepare a pull request but have no idea how to implement T.J.'s idea:

How does `py.test` know whether or not its using the taxcalc conda package or the taxcalc source code?

@Mat

[2017-04-14 15:03] talumbau commented on #284
It would seem to me that use case #1 from Matt's original post is still an unresolved use case but there is already at least one issue on the webapp repo to discuss that. Use case #2 seems to have not been as important as originally thought. In any case, I also think it makes sense to close this issue.

[2017-04-14 15:11] martinholmer commented on #633
Merged pull request #1294 integrates into Records class logic the `records_variables.json` file, which was originally developed by @zrisher in pull request #1179.  This `records_variables.json` file is intended to replace several older variable documentation files, including the `e_variable_info.csv` file.  Given this line of development, further improvements in the `e_variable_info.csv` file are

[2017-04-14 15:11] #633 closed

[2017-04-14 15:22] martinholmer commented on #891
There has been no discussion over the past seven months of issue #891, **Improve taxcalc documentation for contributors**.  Documentation can always be improved, so I'm not saying this issue is resolved.  However, it seems like any high priority aspects of this general topic deserve their own new issues, as @MattHJensen suggested seven months ago.  Can #891 be closed?

@feenberg @zrisher

[2017-04-14 15:31] martinholmer commented on #1118
Has Tax-Calculator issue #1118 --- **conda build process doesn't pull dependencies from environment.yml** --- been resolved?  Is #1118 an accurate description of a problem?  If so, has the problem been fixed?  If it is a genuine, but unfixed, problem, what is the plan to fix this problem and what kind of priority does it have?  If this is not a problem or it has been fixed, could somebody explain

[2017-04-14 16:00] martinholmer commented on #1141
@MattHJensen said  in issue #1141 on January 12, 2016:

This is an April 14, 2016, update on the eight parameters listed above.

Parameters no longer in Tax-Calculator:
* _ALD_Investment_ec_base_code_active (and param_code)
* _AMT_thd_MarriedS

Parameters documented in `current_law_policy.json` and used in `AMT` function:
* _AMT_Child_em
* _AMT_KT_c_Age
* _AMT_em_pe

Parameters documented in `curr

[2017-04-14 16:08] martinholmer commented on #1163
Documentation on how to **use** Tax-Calculator is currently being developed.  When completed, I believe that documentation will resolve issue #1163.

[2017-04-14 16:13] martinholmer commented on #1224
Is there likely to be any further discussion of Tax-Calculator issue #1224, **Tax-Calculator's interaction with webapp-public and deploy**?

If not, should #1224 be closed?

@PeterDSteinberg @MattHJensen

[2017-04-17 13:30] MattHJensen commented on #1275
@rickecon, could you take another look at the OG-USA list? It looks like it is missing several variables I would expect, like `s006`, `_combined`, etc.

[2017-04-18 13:06] MattHJensen commented on #1224
Thanks @martinholmer. I believe this is resolved and am closing. @PeterDSteinberg, please comment if this should be reopened.

[2017-04-18 13:06] #1224 closed

[2017-04-18 14:06] MattHJensen commented on #1141
@martinholmer, I excluded them because I couldn't remember anyone using them in the past and thought we should test a few reforms using the parameters to ensure that the results make sense. I still haven't had an opportunity to do this but continue to think it would be useful before making them available on TaxBrain.

[2017-04-18 14:12] MattHJensen commented on #284
Agreed. Thanks @talumbau and @martinholmer. Closing.

[2017-04-18 14:12] #284 closed

[2017-04-18 14:14] MattHJensen commented on #891
Closing.

[2017-04-18 14:14] #891 closed

[2017-04-18 15:05] martinholmer commented on #1141
@MattHJensen said:

OK.  That makes sense.

[2017-04-22 20:39] martinholmer opened #1311 "Questions about Itemized Deduction amounts"
Among the calculated output variables, we have the following deduction-related variables:
[code]
By definition, the following equation should hold for each filing unit's itemized deductions:
[code]
And also, it would seem (without thinking about it too much) that these relationships should hold:
[code]
I know we have been around on this matter before, so I'm hoping somebody with a better memory (o

[2017-04-28 22:35] martinholmer commented on #942
Closing issue #942 after no activity since September 2016.

[2017-04-28 22:35] #942 closed

[2017-04-28 22:36] martinholmer commented on #1118
Closing issue #1118 after no activity since January 2016.

[2017-04-28 22:36] #1118 closed

[2017-04-28 23:26] martinholmer opened #1325 "Questions about the summary tax tables"
As part of developing the user documentation, I've been adding descriptions of several calculated output variables.  In the course of doing this, I've noticed some inconsistencies in the aggregate tables prepared by the Tax-Calculator (see, for example, the `create_distribution_table` utility function) and in the tables shown on the TaxBrain static results page.

Here is a TaxBrain results table f

[2017-04-30 13:55] MattHJensen commented on #1325
@martinholmer, your assessment of the problem and solution makes sense to me. Very happy you found this.

[2017-04-30 18:35] martinholmer commented on #1311
Issue #1311 has been resolved by pull request #1327.

[2017-04-30 18:35] #1311 closed

[2017-04-30 20:59] martinholmer commented on #1325
After further investigation, my analysis of the situation regarding non-refundable tax credits was wrong in issue #1325.  The `c07100` variable has always been total non-refundable credits used to reduce positive tax liability (which might be less than the total potential non-refundable credits).

But the relationship between tax before refundable credits, `c09200`, and `c05800` is that `c09200` b

[2017-04-30 21:28] feenberg commented on #1325
On Sun, 30 Apr 2017, Martin Holmer wrote:

The NIIT is of particular interest, since it affect the marginal tax rate.
So we need to include it in the total. It may not require a separate
column, but it would be nice to make that available.

dan

[2017-04-30 22:11] martinholmer commented on #1325
@feenberg said:

I agree.  Perhaps the TaxBrain distribution table could look more like the Tax-Calculator diagnostic table.  Here is what TaxBrain looks like now.

![image](https://cloud.githubusercontent.com/assets/12170745/25550155/d8f9bec4-2c44-11e7-998b-5b5c9f8f6275.png)

Maybe, we could replace the current sequence:
[code]
with something closer to what is on the Form 1040:
[code]
With this t

[2017-05-01 15:30] PeterDSteinberg commented on #1288
@MattHJensen - Both of these PRs are merged now (#1306 and #1312).  Should we build and tag 0.8.3 now?

[2017-05-01 15:40] martinholmer commented on #1288
@PeterDSteinberg said:

No, wait for merger of pending PRs #1328 and #1314.

[2017-05-01 23:23] martinholmer commented on #1325
Issue #1325 has been resolved by pull request #1328.

[2017-05-01 23:23] #1325 closed

[2017-05-01 23:51] MattHJensen commented on #1288
Just tagged [0.8.3](https://github.com/open-source-economics/Tax-Calculator/releases/tag/0.8.3).

@GoFroggyRun, could you release new conda dev packages using policybrain_builder?

[2017-05-01 23:51] #1288 closed

[2017-05-01 23:52] MattHJensen opened #1329 "Release 0.8.4"
Please edit the table below (or add a new comment) documenting your significant contributions as they are merged to master.

The last commit in 0.8.3 was https://github.com/open-source-economics/Tax-Calculator/commit/ee602c10f51031fbfbeed5875461a624dfd37b6f, which was the merge of #1328 on May 1, 2017.

Significant contributions to Tax-Calculator release 0.8.4

| Contributor | PR# | Description |

[2017-05-01 23:54] MattHJensen commented on #1288
@codykallen and @martinholmer thanks for your significant contributions to 0.8.3!

Please let me know if you would ever like to revise a description.

[2017-05-02 19:39] martinholmer opened #1335 "Using reform/assumption files with the Tax-Calculator CLI and with TaxBrain file-upload"
The work described here uses the tc CLI and TaxBrain file-upload capabilities to do some tax analysis.  The analysis undertaken here seeks to answer the following question:

#### How much extra annual growth in labor income is needed to pay for the Trump tax cuts?

We pose two variants of this question:

 1.  How much extra annual growth is needed to make 2026 tax revenue the same as it is project

[2017-05-03 15:41] martinholmer opened #1339 "No taxcalc package for Python 3.6"
For some time now the taxcalc package has been made for Python 2.7, Python 3.4, and Python 3.5.
You can see that from the following command:
[code]
However, Anaconda distributions of Python 3.4 and Python 3.5 are not available on the Continuum Analytics [download page](https://www.continuum.io/downloads); only Python 3.6 and Python 2.7 are available there.

So it seems as if we can recommend to CL

[2017-05-03 17:15] PeterDSteinberg commented on #1339
The build is currently dying on Python 3.6 and has never succeed on Python 3.6.  There is a dependency issue that prevents successful conda build.  This issue can be a reminder to check into the package specs for taxcalc as they related to Python 3.6 and see what is the conflict.

[2017-05-03 17:20] martinholmer commented on #1339
@PeterDSteinberg said:

Can you tell us more about the "dependency issue"?

@MattHJensen @feenberg @Amy-Xu @andersonfrailey @GoFroggyRun @codykallen @brittainhard

[2017-05-04 00:06] PeterDSteinberg commented on #1339
@martinholmer This is what I just got in Jenkins:
[code]

[2017-05-04 11:46] feenberg commented on #1339
On Wed, 3 May 2017, Peter Steinberg wrote:

Do we gain anything from the incompatible code that creates these
restrictions? I can't judge the dificulty of writing more compatible code,
but I am very skeptical of existence of serious benefits from code that
requires particular versions of pandas or numpy or (???) openssl. The
instructions for writing compatible Python code:

    http://python-futur

[2017-05-05 15:46] martinholmer opened #1348 "The taxcalc 0.8.2 package for Python 2.7 is missing in action"
Three weeks ago I was able to use `conda` to install the taxcalc 0.8.2 package on my computer which is running Python 2.7.  You can see that from these [file-upload-test results](https://github.com/open-source-economics/Tax-Calculator/tree/master/file-upload-tests) I committed three weeks ago.

But today I get these results:
[code]
What happened to the `np111py27_0` version of the taxcalc 0.8.2 pa

[2017-05-05 16:34] PeterDSteinberg commented on #1348
0.8.2 was in the dev label on ospc.  It was not supposed to be that way.  I'm pretty sure I tested and confirmed it was not that way when I rebuilt 0.8.2 2 days ago and confirmed.

For the next 2 months or so (and probably this is a good long term goal), whenever any of us is going to run policybrain-builder or the Jenkins job around it, we should send out an alert email to: @MattHJensen @feenberg

[2017-05-05 16:35] PeterDSteinberg commented on #1348
I moved 0.8.2 from dev to main and now this works:

[code]

[2017-05-05 16:37] martinholmer opened #1349 "Anaconda update question"
Setup step 11 in the [Contributor Guide]() recommends having the most up-to-date versions of the `conda` and `anaconda` packages installed by executing the following commands:
[code]
I'm very confused about what happens on my computer when I try to follow these recommendations.
[code]
So the first step works as expected.  I have the most recent version of `conda` already installed.
Here's more inf

[2017-05-05 16:42] martinholmer commented on #1349
When I go to the Continuum Analytics [Anaconda download page](https://www.continuum.io/downloads) it is offering me Anaconda version 4.3.1.

Why does `conda` try to upgrade me to `custom` with the download page offers 4.3.1?

@MattHJensen @PeterDSteinberg @brittainhard

[2017-05-05 16:49] martinholmer commented on #1348
@PeterDSteinberg,  Thanks for making the 0.8.2 taxcalc package available again.

[2017-05-05 16:51] #1348 closed

[2017-05-05 23:00] martinholmer opened #1350 "Overly restrictive and inconsistent "pinned" package versions"
This afternoon I tried to follow the taxcalc package installation instructions in the [user documentation](http://open-source-economics.github.io/Tax-Calculator/#cli). I did this by creating a new user account on my Mac (which had the Apple version of Python and nothing from Continuum Analytics) and following the installation instructions.

I had no problem installing the offered Anaconda Python 2

[2017-05-07 01:13] talumbau commented on #1350
Some general comments/questions about this section. First, I made some comments on #1351 to hopefully answer why the package pinning is done in the way it is. The following questions occur to me when reading the documentation and then this issue:

 - Why is it bad/undesirable to downgrade a package in an environment?
This doesn't seem like an important thing to me (if installing a package requires

[2017-05-07 01:37] feenberg commented on #1350
On Sat, 6 May 2017, T.J. Alumbaugh wrote:

I suppose it is convenient for the author to require the user to reproduce
the author's environment exactly. That is the theory behind distributing
entire virtual machines. It isn't how I was brought up, however. We were
taught to take pride in writing standard and portable code.

I believe the reasn we have no users in the executive branch is the
impract

[2017-05-08 09:01] MattHJensen commented on #1350
I think this might be a voodoo trick that kind of sort of seemed to fix common installation problems in the early days of the project. It is probably out of context now if it ever did truly work.

[2017-05-08 09:19] MattHJensen commented on #1350
If we move to `>=` in `environment.yml`, will we _ever_ be able to guarantee that the taxcalc works, given that the packages on which we depend can push updates anytime w/o triggering tests on our project?

[2017-05-09 16:52] #1335 closed

[2017-05-09 17:20] MattHJensen commented on #1288
@GoFroggyRun, could you try again to release new conda dev packages for 0.8.3 since we had to roll back the last ones? Please touch base w @PeterDSteinberg first to make sure that we don't overwrite the 0.8.2 packages, and notify others based on his recommendation.

[2017-05-09 19:17] martinholmer commented on #1163
The initial effort to prepare a document on using Tax-Calculator from the operating system command line (without any Python programming) has been completed and can be read in your browser at [this link](http://open-source-economics.github.io/Tax-Calculator/), which has the following URL:
[code]
The completion of an initial draft of the user documentation resolves issue #1163, which is now being cl

[2017-05-09 19:17] #1163 closed

[2017-05-09 23:20] martinholmer commented on #1350
Issue #1350 has been resolved by the merger of pull request #1351.

[2017-05-09 23:20] #1350 closed

[2017-05-10 17:54] PeterDSteinberg commented on #1288
0.8.3 is already built and in the dev channel.  Let me know when you want it in `main` label:

https://anaconda.org/ospc/taxcalc/files

[2017-05-10 17:57] MattHJensen commented on #1288
Ah, thanks. Let's do it.

[2017-05-10 18:00] PeterDSteinberg commented on #1288
Ok 0.8.3 is in `main` channel.  This works for me:

[code]

[2017-05-10 18:24] GoFroggyRun commented on #1288
Works for me. Thanks @PeterDSteinberg !

[2017-05-10 19:17] martinholmer commented on #1288
@PeterDSteinberg said:

Thanks.  When will TaxBrain start using taxcalc 0.8.3?

[2017-05-10 19:28] PeterDSteinberg commented on #1288
@MattHJensen @martinholmer @brittainhard I can update the front end and back end services in early morning hours Eastern time tonight.  Sound good?  If I have a chance earlier today I can update the test app and try it out, but I anticipate this will be a smooth deploy with about 12 min of down time for the apps.

[2017-05-10 19:32] martinholmer commented on #1288
@PeterDSteinberg said:

Yes, sounds very good to me.  Thanks.

[2017-05-10 20:04] PeterDSteinberg commented on #1288
@martinholmer  @MattHJensen @brittainhard Sounds good - I'll message on the Tax-Calculator flow and send an email when updated.  If any issues come up, I'll revert to 0.8.2 so we we stay up.

[2017-05-10 20:07] #1349 closed

[2017-05-10 21:09] martinholmer opened #1358 "Notice to all Tax-Calculator users/developers about Anaconda package updates"
You may have followed the conversation around pull request #1351, which put us on a path of using the newest versions of three key packages: numpy, pandas, and bokeh.  Before #1351 was merged, the versions of those packages were fixed; now they are open-ended so that we can benefit from bug fixes, efficiency improvements, and new features in those packages.  Those are all benefits, but the discuss

[2017-05-11 16:36] martinholmer commented on #1339
A week or so ago there was some discussion in issue #1339 about why there is no taxcalc package for Python 3.6, which is the only version of Python offered on the Continuum Analytics Anaconda download page except for the legacy 2.7 version.

As part of that conversation, @PeterDSteinberg said:

I'm not certain about how to decode that, but it seems to involve the (then) requirement that Tax-Calcul

[2017-05-11 16:44] MattHJensen commented on #1339
That makes sense to me, too.

[2017-05-11 18:37] martinholmer commented on #1339
@MattHJensen said in issue #1339:

OK.  What edits do I make in the Tax-Calculator repository to drop the 3.4 tests on GitHub and add the 3.6 tests on GitHub?  Or is all that controlled by somebody else in some other code base?

[2017-05-11 19:24] martinholmer commented on #1339
@MattHJensen,  I answered my own question about how to drop testing in 3.4 environments and add testing in 3.6 environments.  See the changes in pull request #1361.

[2017-05-12 13:56] martinholmer commented on #1339
Issue #1339 has been resolved by pull request #1361.
We are now testing and building a taxcalc package for Python 3.6.

@MattHJensen @feenberg @Amy-Xu @andersonfrailey @GoFroggyRun @codykallen @zrisher
@PeterDSteinberg @brittainhard

[2017-05-12 13:56] #1339 closed

[2017-05-12 14:01] martinholmer commented on #1358
After pull request #1361 was merged into the master branch, the following command is an easy way to update your `taxcalc-dev` environment (for the reasons discussed in #1358):
[code]

@MattHJensen @feenberg @Amy-Xu @andersonfrailey @GoFroggyRun @codykallen @zrisher
@PeterDSteinberg @brittainhard

[2017-05-12 14:02] #1358 closed

[2017-05-12 14:13] martinholmer commented on #1329
Can we create Tax-Calculator release 0.8.4 now?

[2017-05-12 16:35] MattHJensen commented on #1329
https://github.com/open-source-economics/Tax-Calculator/releases/tag/0.8.4

Thanks @martinholmer and @codykallen for your contributions to 0.8.4!

@GoFroggyRun, could you create new packages, coordinating with @PeterDSteinberg?

[2017-05-12 16:38] MattHJensen opened #1364 "Release 0.8.5"
After your pull requests are merged to master, please edit the 0.8.5 section of the [release history](RELEASES.md) and submit those edits as a pull request.

The last commit in 0.8.4 was https://github.com/open-source-economics/Tax-Calculator/commit/344e39f26ee663ecc3552bc4e3c4a7be46bbedfe, which was the merge of #1363 on May 12, 2017.

[2017-05-12 16:49] martinholmer commented on #1030
More recent discussion of this topic is at [taxdata issue 90](https://github.com/open-source-economics/taxdata/issues/90).

[2017-05-12 16:49] #1030 closed

[2017-05-12 16:58] martinholmer commented on #1140
The conversation in Tax-Calculator issue #1140 ended almost four months ago.  Meanwhile there has been quite a bit of progress in implementing the ideas outlined in #1140.

My question is this: is there anything else that needs to be done in furthering the goals of #1140?

If there are some additional things to do, perhaps they could be identified in #1140 or in a new issue.

If there are no addit

[2017-05-12 17:01] martinholmer commented on #1141
@MattHJensen, Tax-Calculator issue #1141 seems to have been resolved.
Let me know if that is not the case, otherwise I'll close #1141 on Monday.

[2017-05-12 17:12] martinholmer commented on #1158
@PeterDSteinberg listed this to-do item in the discussion of Tax-Calculator issue #1158:

I'm not sure this is a good idea.  The `environment.yml` file specifies the development and testing environment, while `conda.recipe/meta.yaml` specifies the execution environment (with no testing) of the taxcalc package.  These two environments need not be the same, which is what this to-do item would impose

[2017-05-12 17:16] martinholmer commented on #1275
Where do we stand on the conversation in Tax-Calculator issue #1275?

Nobody has commented on this issue in almost a month.

Are there specific things (not mentioned elsewhere) that need to be done concerning #1275?

If not, should #1275 be closed?

@MattHJensen @PeterDSteinberg @jdebacker @rickecon

[2017-05-12 17:18] PeterDSteinberg commented on #1158
@martinholmer - Most of the items of the checklist above had been completed, but I had not circled back to this issue.  Regarding your comment above, I agree at this point it would be easier to keep the `meta.yaml` and `environment.yml` logic separate.  In that case, this comment is a reminder for everyone when you change a package dependency or its version in the `environment.yml` or `conda.recip

[2017-05-12 17:26] martinholmer commented on #1158
@PeterDSteinberg said in the conversation around issue #1158:

Agreed!  Thanks for spelling out the details of this to make it crystal clear.

Now that you have circled back to issue #1158, what is its status?
Can it be closed with a pointer to the work being done in the policybrain-builder repo?

@MattHJensen @PeterDSteinberg @brittainhard @jdebacker @rickecon @GoFroggyRun

[2017-05-12 17:38] PeterDSteinberg commented on #1158
Closing this issue.  If you have questions about `environment.yml`, `conda.recipe/meta.yaml` for any of the packages, see the [policybrain-builder repo](https://github.com/open-source-economics/policybrain-builder) and the corresponding Jenkins job.  If you need access to the Jenkins worker or help with [policybrain-builder](https://github.com/open-source-economics/policybrain-builder), let me kno

[2017-05-12 17:38] #1158 closed

[2017-05-12 17:59] martinholmer commented on #1158
@PeterDSteinberg,  Thanks!

[2017-05-12 18:01] martinholmer commented on #1329
@GoFroggyRun,  When do you expect the conda packages for taxcalc 0.8.4 will be available?
I'd like to test them this afternoon.

[2017-05-12 18:25] GoFroggyRun commented on #1329
@martinholmer @MattHJensen ,

I have pushed 0.8.4 to conda dev channel, and you should be able to install and test via the command:
[code]

We can change the tag from dev to main after testing. cc @PeterDSteinberg

[2017-05-12 18:41] jdebacker commented on #1275
@martinholmer I think we should keep this issue open.  It needs to be done, but my understanding is that the progress has been slowed because web-app public [Issue #543](https://github.com/OpenSourcePolicyCenter/webapp-public/issues/543) integrally relates. This issue has ramifications for how data are to be standardized for passing between the various models and thus should be addressed before we

[2017-05-12 19:04] martinholmer commented on #1329
@GoFroggyRun,  Thanks for providing the dev channel packages for taxcalc 0.8.4.

Everything worked fine on my Mac where I have installed the Anaconda distribution for Python 2.7.

However, when I logged in as a different user (who has the macOS Anaconda distribution for Python 3.6 installed), **I get the following fatal error**:
[code]

Is there no package for macOS and Python 3.6 on the ospc/labe

[2017-05-12 19:12] martinholmer commented on #1275
@jdebacker said:

OK.  Thanks for the progress report on issue #1275.

[2017-05-12 20:18] GoFroggyRun commented on #1329
It seems like I have run into some sort of HTTP error, which prevents taxcalc distribution for python 3.6 to be updated. The detailed error message reads:
[code]
I have tried multiple times, but the same message keeps showing.

@PeterDSteinberg, Could you advice?

[2017-05-12 20:29] martinholmer commented on #1329
@GoFroggyRun said:

What command did you run that resulted in this error message?

[2017-05-15 14:12] martinholmer commented on #1140
@martinholmer said:

No responses suggests that issue #1140 should be closed.

[2017-05-15 14:12] #1140 closed

[2017-05-15 14:13] martinholmer commented on #1141
@martinholmer said:

[2017-05-15 14:13] #1141 closed

[2017-05-16 16:33] brittainhard opened #1367 "DataFrame Column Issues"
@martinholmer @MattHJensen @PeterDSteinberg since the API for `dropq` has been refactored, I am getting DataFrame errors with the new function.

The error is `Error: Length mismatch: Expected axis has 219813 elements, new values have 219814 elements`.

It seems like it might be a quick fix, but I'm not sure where to look. Any ideas?

[2017-05-16 16:55] PeterDSteinberg commented on #1367
@brittainhard  What's the full traceback?  Maybe it is a pandas update thing, like handling edge cases on joins with nulls or something like that?  The B-Tax issue we have resolved in last 24 hours was a pandas internal change that we didn't test before our dev release.  One way to test it out would be to install using `python setup.py develop` on each of the tagged commits from the repos, then in

[2017-05-16 18:39] PeterDSteinberg opened #1368 "Where did OG-USA related metadata from taxcalc.dropq go?"
@martinholmer I found this diff in the github blame report for `taxcalc.dropq`:

https://github.com/open-source-economics/Tax-Calculator/commit/fc06a73e64f2109804bd08c7207e5c9f8993ab88#diff-0fbb9d8bd5e87c63c64db8be5816d69bL38

It shows that `OGUSA_ROW_NAMES` has been deleted, among other OG-USA variables.
 * Where should webapp-public import `OGUSA_ROW_NAMES` and other former `taxcalc.dropq` OG-US

[2017-05-16 18:45] MattHJensen commented on #1368
@martinholmer warned @PeterDSteinberg, @rickecon, and @jdebacker of this issue 15 days ago in this comment https://github.com/open-source-economics/Tax-Calculator/pull/1314#issuecomment-298444018 before the PR was merged.

[2017-05-16 18:52] MattHJensen commented on #1368
@PeterDSteinberg said:

Webapp-public, deploy, b-tax, and og-usa should not depend on taxcalc developers to check compatibility before releases just like taxcalc devs don't expect Pandas to test new pandas versions against taxcalc.

[emphasis added]

This seems like the problem. Why do we need to release versions of all repos at the same time?

Why isn't it like this:

1. Taxcalc releases 0.8.4
2.

[2017-05-16 18:57] PeterDSteinberg commented on #1368
Your sequenced steps above (1 to 4) look good @MattHJensen but running webapp-public locally with all the repos on the right branches finds the bugs with 1/4 of that personnel hours investment.   I'm sorry I missed @martinholmer 's important comment, but I don't know if it makes sense to merge a Tax-Calculator PR to master when the cooperating repos have not started work on corresponding changes t

[2017-05-16 19:06] MattHJensen commented on #1368
@PeterDSteinberg, what about setting pins in og-usa/b-tax/webapp-public to allow this workflow:

1. Taxcalc releases 0.8.5
2. Run webapp-public with taxcalc 0.8.5 and _pre-existing_ versions of b-tax, og-usa, webapp-public.
3. If there is a problem with b-tax, og-usa, or webapp-public:
     - Update that project
     - change the taxcalc pin for that project
     - release a new version of that pr

[2017-05-16 19:07] MattHJensen commented on #1368
I think a fundamental problem here is thinking about taxcalc, webapp-public, b-tax, and og-usa as part of the same project with the same development team. In fact, they are separate projects with separate development teams.

[2017-05-16 19:12] MattHJensen commented on #1368
Something else that will make this easier for everyone is if taxcalc declares a public API and adopts [semantic versioning](http://semver.org/) to identify which releases make incompatible API changes, which releases add backwards-compatible functionality, and which releases make backwards-compatible bug fixes. More on that later.

[2017-05-16 19:40] PeterDSteinberg commented on #1368
I agree with your numbered steps above, @MattHJensen , regarding tentative release of taxcalc, then running webapp-public to see if other repos need changes, adjusting version pinning as necessary, and re-testing with webapp-public.

[2017-05-16 19:42] MattHJensen commented on #1368
@PeterDSteinberg, one nitpick: it would be a "real" release of taxcalc not a "tentative" release, right? Because taxcalc users (other than webapp-public/b-tax/og-usa users), could always upgrade to it.

[2017-05-16 19:57] PeterDSteinberg commented on #1368
It is possible to do it that way @MattHJensen (making taxcalc releases be easily installed from `main` label), however we essentially did that over the last week or so with the latest release and pandas version update.  The result then was that `conda install -c ospc taxcalc btax ogusa` did not work as expected due inconsistency in pandas pinning among the 3 repos.  It should be fine to release to

[2017-05-16 19:58] brittainhard commented on #1368
@PeterDSteinberg @MattHJensen , a while ago I made a script that can check between versions and look for API changes. We can probably make use of it here. Here's the change from 0.8.3 to 0.8.4

[code]

[2017-05-16 20:09] brittainhard commented on #1368
@PeterDSteinberg i put a commit in for webapp that just adds the content of that list into webapp itself. I'm gonna push it up if that's okay with you.

[2017-05-16 20:10] ecbrown5 opened #1369 "request for personal exemption to payroll tax"
A congressional staff member made this request after receiving an email about TaxBrain:

[2017-05-16 20:11] PeterDSteinberg commented on #1368
Sounds good, @brittainhard .  Is this a local commit for you on webapp and push to heroku?  Is it pushed elsewhere yet?  I was also just running webapp locally and looking for changes needed on imports.  I'll add anything I find to your PR as needed.

[2017-05-16 20:13] brittainhard commented on #1368
@PeterDSteinberg this is being added to the form_additions PR. That's effectively the master branch right now.

[2017-05-16 23:24] MattHJensen commented on #1368
I said:

and then @PeterDSteinberg said:

@PeterDSteinberg, if we are pinning webapp-public to specific versions of taxcalc, btax, and ogusa, and then following the above workflow with new taxcalc releases, then do we really need to be able to safely run `conda install -c ospc taxcalc btax ogusa` every time a new taxcalc is released? I am thinking that we can pin things in such a way that it relax

[2017-05-17 00:06] PeterDSteinberg commented on #1368
The only advantage of `conda install -c ospc taxcalc btax ogusa` is its simplicity for new users approaching the project.  As of about a month ago, the deploy repo was set up to deploy any branch of git or any conda version of each repo.  The README for getting started with the project is oriented around that simple command, but it can be changed.   I'll make an issue to update the docs with a var

[2017-05-17 00:09] PeterDSteinberg opened #1370 "Update README with more installation options"
Discuss:
 * [ ] Installing from `dev` vs `main` package
 * [ ] Installing from `setup.py`
 * [ ] Git tagging and release system
 * [ ] How packages are built and what their version pinning is like
 * [ ] Do each of the above in the README for Tax-Calculator, webapp-public, B-Tax, OG-USA, and cross-link the README files as needed
 * [ ] Revisit the new docs created under this issue after [webapp PR

[2017-05-17 00:34] jdebacker commented on #1368
From my perspective as someone working on models that depend on Tax-Calc, I agree that having Tax-Calc developers test compatibility with downstream models is too onerous.  And I don't think there is much value in having a single conda install for all OSPC packages since, as noted, the development teams/users of the models often different.  Rather we can have each package (OG-USA, B-Tax) that depe

[2017-05-17 01:01] MattHJensen commented on #1370
Thanks for opening this @PeterDSteinberg!

[2017-05-17 14:04] PeterDSteinberg commented on #1367
@brittainhard  I think this problem may be related to this `chooser` function: https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/dropq/dropq_utils.py#L198

Or the usage of `transform` with `chooser` as the argument.  I can look into it further after my meeting this morning.

[2017-05-17 21:51] PeterDSteinberg commented on #1367
This bug may relate to pandas updates and how `pd.cut` works with bins and including which edge of each bin (right edge or not).  Or it may have to do with the `transform` function `chooser` returning an unexpected data type?  (something in `taxcalc.dropq.dropq_utils` related to pandas updates)

[code]

cc @martinholmer @brittainhard @MattHJensen

[2017-05-17 21:51] #1329 closed

[2017-05-18 15:28] MattHJensen opened #1371 "request to add (Tax change)/(Pre-reform after-tax income) to distributional tables"
Ernie Tedeschi requested on Twitter:

![image](https://cloud.githubusercontent.com/assets/8301092/26210279/1a688b88-3bbd-11e7-8574-f996c014f08b.png)

[2017-05-18 15:42] andersonfrailey commented on #1371
@MattHJensen, I can work on this

[2017-05-18 20:26] andersonfrailey commented on #1371
![tabel example](https://cloud.githubusercontent.com/assets/20684675/26222017/6f61bf5a-3be6-11e7-9a74-9f0f8746c1bc.PNG)

@MattHJensen, is something like the column `aftertax_perc` what you had in mind? If so I'll open the PR now (I tried to recreate the reform in the screen grab but I must be missing a parameter somewhere. Either way the idea stands).

[2017-05-18 21:36] MattHJensen commented on #1371
@andersonfrailey, could you try reposting the table? It isn't showing up for me:

![image](https://cloud.githubusercontent.com/assets/8301092/26224470/85650dac-3bf0-11e7-8485-360345b14f8c.png)

[2017-05-19 12:41] andersonfrailey commented on #1371
![tabel example](https://cloud.githubusercontent.com/assets/20684675/26248115/f8e2fa54-3c6e-11e7-925d-eb82ecede333.JPEG)

@MattHJensen how about now?

[2017-05-19 13:35] andersonfrailey commented on #1371
It appears the screenshot I posted does not appear when using Chrome or Firefox. [Here](http://nbviewer.jupyter.org/github/andersonfrailey/Notebook-Uploads/blob/master/Pct%20Column%20Test.ipynb) is a link to the notebook the screenshot it from.

[2017-05-19 14:07] ecbrown5 opened #1372 "A congressional staffer requested a preset for the renacci reform."

[2017-05-19 14:13] ecbrown5 opened #1373 "Congressional Staffer Requested Preset"
A congressional staffer requested a preset developed for the reform at the following link:

http://renacci.house.gov/_cache/files/7eeb81fe-f245-42c0-8de4-055ebf4c12e9/sats-white-paper.pdf

[2017-05-19 14:20] MattHJensen commented on #1372
Reform at this link: http://renacci.house.gov/_cache/files/7eeb81fe-f245-42c0-8de4-055ebf4c12e9/sats-white-paper.pdf

[2017-05-19 14:21] MattHJensen commented on #1372
Replaced by #1373. Closing.

[2017-05-19 14:21] #1372 closed

[2017-05-19 14:48] andersonfrailey commented on #1373
@MattHJensen putting together a JSON file for this reform could be another good first project for Hank.

As a side note, as we get more requests for presets and create the files, adding them to the list of presets at the top of TaxBrain could cause the page to get cluttered. What are people's thoughts about creating a new section of the website that features the tax plans of Congresspeople along w

[2017-05-19 14:52] codykallen commented on #1373
@andersonfrailey suggested

If you go to http://www.ospc.org/taxbrain/file/ you will see a separate link to the reform examples. Is this the type of approach you're thinking of?

[2017-05-19 14:55] feenberg commented on #1373
On Fri, 19 May 2017, andersonfrailey wrote:

Yes a new page for presets would be fine.

I notice that the presets are the same as any tax plan an ordinary user
could prepare, except for the ability to link to notes. Perhaps we could
allow a text box into which users could put comments that would travel
with the plan. Weren't we going to give people a box to allow them to name
plans?

The collapsab

[2017-05-19 15:04] andersonfrailey commented on #1373
@codykallen

It's very similar. And I like Dan's idea of providing a space for user feedback. In my head, I'm picturing a list with each Rep, their plan, and a link to documentation. Something like this:

|Rep|Plan|Documents|Feebback|
|------------------|-----------|----------|---------|
| Rep XYZ| Link to plan preset| Link to supporting documents| Link to provide comments|

[2017-05-19 15:05] MattHJensen commented on #1373
@feenberg said:

though.

This was based on a [suggestion](https://github.com/open-source-economics/Tax-Calculator/issues/1074#issuecomment-261808528) you made to me a while back. The closed webapp issue is [here](https://github.com/OpenSourcePolicyCenter/webapp-public/issues/417).

 @feenberg said:

could prepare, except for the ability to link to notes. Perhaps we could
allow a text box into whi

[2017-05-19 20:57] MattHJensen commented on #1371
@andersonfrailey, could you make a notebook with a table for a top rate cut from 39.6 to 35 and a table w a doubling of the standard deduction?

[2017-05-19 21:04] MattHJensen commented on #1371
@andersonfrailey, could you also open a PR with the changes so we can review the code diffs?

[2017-05-19 21:10] MattHJensen commented on #1371
@andersonfrailey, could you also include a separate table in the notebook with avg expanded income by decile?

[2017-05-19 21:11] MattHJensen opened #1374 "Expanded income and aftertax income should be options in distribution tables"
![image](https://cloud.githubusercontent.com/assets/8301092/26267034/114e5d62-3cb6-11e7-8486-e4e11e6460f6.png)

Users may want to see average expanded income by expanded income bin or decile in TaxBrain diagnostic tables. Same with aftertax income.

[2017-05-22 13:21] andersonfrailey commented on #1371
@MattHJensen, [here](http://nbviewer.jupyter.org/github/andersonfrailey/Notebook-Uploads/blob/master/pct%20table.ipynb) is the notebook, but I'm having trouble with the PR.

In `test_utils.py` I get multiple attribution errors `'str' object has no attribbute 'closed'`. I get the same error when running the tests on my master branch when I run `py.test` despite both being up to date with the origin

[2017-05-22 14:06] martinholmer commented on #1371
Probably your taxcalc-dev conda environment is not up-to-date

Sent from my iPhone

[2017-05-22 14:53] andersonfrailey commented on #1371
Thanks, @martinholmer. Got it working.

[2017-05-23 15:49] econ02 commented on #1369
I will be working on this, check back for an update on my progress.

[2017-05-23 15:55] hdoupe commented on #1373
I'm working on the JSON file for this reform.  I should have it done by the end of today.

[2017-05-23 17:28] andersonfrailey commented on #1364
PR #1375 by me added a column to the differences table to show the change in tax liability as a percentage of pre-reform after tax income

[2017-05-23 17:36] MattHJensen commented on #1364
@andersonfrailey, thanks -- could you add another comment using the format for the release notes? Here are some examples: https://github.com/open-source-economics/Tax-Calculator/issues/1329

[2017-05-23 17:46] andersonfrailey commented on #1364
|Contributor|PR #|Description|
|-----------------|------|-------------------
|Anderson Frailey| #1375| Add column to differences table to show the change in tax liability as percentage of pre-reform after tax income|

[2017-05-23 17:47] MattHJensen commented on #1364
Thanks @andersonfrailey!

[2017-05-25 15:36] MattHJensen commented on #1373
@hdoupe, could you post here a link to a TaxBrain preset and a link to a google doc "Notes" file for this reform? See [ospc.org/taxbrain](www.ospc.org/taxbrain) for examples in this section of the site:
![image](https://cloud.githubusercontent.com/assets/8301092/26457518/67a95e5a-413e-11e7-8d48-47f2dff48ad2.png)

[2017-05-25 15:46] hdoupe commented on #1364
| Contributor | PR# | Description |
| --- | --- | --- |
| Hank Doupe | #1376 | Add preset file for Renacci reform requested in #1373 |

[2017-05-25 15:54] MattHJensen commented on #1364
Thanks @hdoupe.

[2017-05-25 21:15] hdoupe commented on #1373
@MattHJensen Here's a link to the google doc: [https://docs.google.com/document/d/122ZImaTlPuM1AEoiS4lFrkQkd5fBLm7m3UZDg8EbeGA/edit](url)

Here's a link to the reform file: [https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/reforms/Renacci.json](url)

[2017-05-25 21:39] MattHJensen commented on #1373
@hdoupe, could you make a TaxBrain preset and post the link to that? @andersonfrailey or @ecbrown5  should be able to show you how.

[2017-05-26 12:42] hdoupe commented on #1373
@MattHJensen Sure, no problem.

@andersonfrailey @ecbrown5 Do you have a few minutes to show me how to post the preset this morning?

[2017-05-26 14:19] hdoupe commented on #1373
@MattHJensen Here's a link to the preset [https://www.ospc.org/taxbrain/edit/13329/?start_year=2017](url)

And here's a link to the google doc [https://docs.google.com/document/d/122ZImaTlPuM1AEoiS4lFrkQkd5fBLm7m3UZDg8EbeGA/edit](url)

[2017-05-26 14:30] MattHJensen commented on #1373
Thanks @hdoupe! Could you edit your comment to make the links work? Right now you are displaying the link text and pointing to url rather than the opposite.

[2017-05-26 15:18] MattHJensen commented on #1373
@hdoupe, sorry for not noticing sooner, but the deduction cap should be applied to the interest deduction rather than the itemized deduction for real estate taxes paid. This will need a new commit to the json reform file and a new taxbrain preset.

cc @andersonfrailey

[2017-05-26 15:24] MattHJensen commented on #1373
@hdoupe, also benefitcap_switch is unrelated to the ceiling. I don't think you need to modify that variable anyways since you have the haircuts. I would just check a few reforms to make sure the ceiling with the HCs but without the switch is working as you would expect.

[2017-05-26 18:32] hdoupe commented on #1373
@MattHJensen Nice catch.  I removed the section using the switch.  I got almost identical results with and without the switch.

[2017-05-29 13:03] MattHJensen commented on #1373
@hdoupe, do you know why the results are "almost" identical, rather than identical?

[2017-05-30 13:16] hdoupe commented on #1373
@MattHJensen I'm not sure.  I'm looking into it now.

Compared to the default setting for the switch, the absolute change in tax liabilities is higher by 100 million for 2018 and 2026.  Overall, the number of tax units with a tax cut is lower by 6 units and the number of tax units with a tax increase is higher by 1 unit.  Everything else is the same.

Here's a link to the results with the default

[2017-05-30 13:20] MattHJensen commented on #1373
@hdoupe, said:

Are you only seeing those differences on TaxBrain, or do you also see them with taxcalc locally? If only on TaxBrain, then they could be due to the [dropq disclosure avoidance algorithm](https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/dropq/dropq.py).

[2017-05-30 13:22] hdoupe commented on #1373
@MattHJensen I only ran them on TaxBrain.  I'll run them locally to see if there are any differences there.

[2017-05-30 14:52] hdoupe commented on #1373
@MattHJensen I ran the reforms locally and the reforms produced identical results.  Like you said, it looks like the difference was due to the dropq disclosure avoidance algorithm.

I opened a pull request for the reform without the changes to the _ID_BenefitCap_Switch paramater here #1383.

[2017-05-31 11:42] MattHJensen commented on #1371
This is resolved. Closing.

[2017-05-31 11:42] #1371 closed

[2017-05-31 19:25] MattHJensen opened #1384 "Dedicated ceiling for interest paid deduction"
The [Renacci reform file](https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/reforms/Renacci.json) implements a ceiling on the dollar amount of mortgage interest through the `ID_c` parameter (`long_name: Ceiling on the amount of itemized deductions allowed (dollars)`)

This works because all other itemized deductions are eliminated with the Renacci reform, and so the broad

[2017-05-31 19:53] hdoupe commented on #1384
@MattHJensen, I'll give this some thought.  What do you think about offering this type of ceiling for each of the itemized deductions instead of only doing one for the interest paid?

[2017-05-31 19:56] MattHJensen commented on #1384
I don't have a problem with that. Interest paid (or mortgage interest to be more specific) is where I've seen the policy proposal before, but I can see why users might be interested in applying ceilings to other deductions as well.

[2017-06-02 18:23] martinholmer commented on #1367
@brittainhard said seventeen days ago:

Yes, it is possible I made a mistake when I refactored the dropq code.  The refactored functions passed all the tests written by @talumbau, but perhaps that dropq test suite is not strong enough to catch all errors.

Can you provide more information about where you think the error is in the refactored dropq code?  For example, which dropq function were you c

[2017-06-02 18:36] PeterDSteinberg commented on #1367
@martinholmer This is the code that led to the error quoted above:

[code]

[2017-06-06 12:19] martinholmer commented on #1367
Issue #1367 has been resolved by merge of pull request #1387.

[2017-06-06 12:19] #1367 closed

[2017-06-06 13:09] martinholmer commented on #1364
Tax-Calculator release 0.8.5 (2017-??-??)
------------------------------------------
**API Changes**
- first bullet
- second bullet

**New Features**
- first bullet
- second bullet

**Bug Fixes**
- first bullet
- second bullet

[2017-06-06 13:10] martinholmer commented on #1364
@MattHJensen,  Suggestions on format added to bottom of #1364 (0.8.5 release)?

[2017-06-06 19:22] martinholmer commented on #1364
Documentation of #1375 and #1376 has been moved from issue #1364 to the release history contained in the `tax-calculator/RELEASES.md` file.

[2017-06-07 13:01] MattHJensen commented on #1364
@martinholmer, thanks a lot for the tax-calculator/RELEASES.md file.

Having that file is definitely valuable, and I see two paths for using it:

1. Continue documenting the releases at https://github.com/open-source-economics/Tax-Calculator/releases, and use RELEASES.md as a substitute for the github issues that we were filling out before (like this one, #1364).

2. Use RELEASES.md as a substitut

[2017-06-07 13:38] martinholmer commented on #1364
@MattHJensen said:

Seems like (2) is the better option.  So, I guess, you can create a release on GitHub without added the comment with description.  Is that correct?

I'd be happy to add in `RELEASES.md` a link to the last commit in each release.  Let me know if and when you want me to do that.

[2017-06-07 21:58] MattHJensen commented on #1364
That is correct. I'll just include a link to RELEASES.md

That'd be great. Thanks!

[2017-06-08 14:47] MattHJensen opened #1409 "Repeal personal exemption for dependents under age 18."
Question from a Senate staffer:

I asked if they have a deadline:

@hdoupe, could you take a look at this?

cc @andersonfrailey

[2017-06-08 17:07] MattHJensen opened #1413 "Question on CTC under 5 bonus."
From a Senate staffer:

Need to double check the implementation in functions.py to answer

[2017-06-08 18:04] hdoupe commented on #1409
I think we can do that with the new python generated matched file.  There are variables for the number of dependents under 5, under 13, under 18, between 18 and 21, above 21, and above 65.  Then, we could pass those to the AGI function and do something like

`pre_c04600 = (XTOT - n18) * II_em`

But we would need the python generated match file for that.

@MattHJensen @andersonfrailey

[2017-06-08 18:17] MattHJensen commented on #1364
I hope to release 0.8.5 today, or as soon as we merge #1385.

[2017-06-08 18:20] MattHJensen commented on #1409
@hdoupe, could we add `nu18` to the current puf.csv with the same method that we added `nu05`? I hope that testing and adopting the new python-generated match file need not block this request.

[2017-06-08 18:52] hdoupe commented on #1409
@MattHJensen Yes, we can do that.  We have a variable for the age range of the first three dependents, sorted by age from youngest to oldest.  We can get the number of dependents under 18 from that, but we may miss some if someone has more than three dependents.

[2017-06-08 19:01] andersonfrailey commented on #1409
@MattHJensen I'm also running the python scripts right now to test out the resulting PUF file so we should the python generated file soon.

[2017-06-08 21:37] hdoupe commented on #1409
I'm looking at the age breakdown now.  It looks like we can do either "13 under 17" or "17 under 19."  To me, that means 13-16, inclusive for the first group and 17, 18 for the second group.  If we go with "13 under 17" then 17 year olds will be excluded but if we go "17 under 19" then 18 year olds will be included.

My interpretation of the request is that it wants to account for dependents stric

[2017-06-08 22:49] MattHJensen commented on #1364
[Release](https://github.com/open-source-economics/Tax-Calculator/releases/tag/0.8.5)
[Changelog](https://github.com/open-source-economics/Tax-Calculator/blob/master/RELEASES.md#release-085-on-2017-06-08)

Thanks @andersonfrailey, @martinholmer, and @hdoupe for contributions to 0.8.5!

[2017-06-08 22:54] MattHJensen opened #1417 "Release 0.9.0"
In major pull requests, please add a commit that edits the 0.9.0 section of the [release history](https://github.com/open-source-economics/Tax-Calculator/blob/master/RELEASES.md).

The last commit in 0.8.5 was https://github.com/open-source-economics/Tax-Calculator/commit/fddde79e77579fc7ddb9e5e3d0fec65151aabb18, which was the merge of #1416 on June 8, 2017.

Before releasing 0.9.0, I need to add

[2017-06-08 23:11] MattHJensen commented on #1413
My reading is that the CTC phase _out_ is applied to the CTC_c_under5_bonus, but that there is no phase _in_ for the non-refundable CTC and therefore no phase in for the CTC_c_under5_bonus.

So the first chart is closer than the second chart, but the left side is incorrect.

@codykallen, could you confirm?

[2017-06-08 23:58] codykallen commented on #1413
@MattHJensen said

This is correct. The CTC phase out applies to the `CTC_c_under5_bonus` as well. However, since `CTC_c + CTC_c_under5_bonus > CTC_c`, the phase-out period (range of AGI) is lengthened, with the same beginning of the phase-out. That means that neither of the drawings above are correct with regard to the phase-out, since your first graph incorrectly sets the same end-of-phase-out t

[2017-06-09 12:14] MattHJensen commented on #1409
@hdoupe, these discussions might be helpful:

https://github.com/open-source-economics/taxdata/pull/41
https://github.com/open-source-economics/taxdata/pull/43

[2017-06-09 12:19] MattHJensen commented on #1050
@gleiserson, does tax-calculator now have the capabilities that you are looking for, and do you know how to use them?

I'm wondering if this issue should be closed.

cc @martinholmer

[2017-06-09 12:30] MattHJensen opened #1420 "nonrefundable personal credit for analyzing Josh McCabe's "Tax Plan for Working-Class Families""
[Josh McCabe](https://joshmccabe.wordpress.com/) is interested in being able to score his [tax proposal](http://www.nationalreview.com/article/448388/tax-reform-restructure-benefits-help-working-class-families) with Tax-Calculator / TaxBrain.

I _believe_ there is only one capability that needs to be added to make it possible, the "nonrefundable personal credit."

[2017-06-09 12:31] MattHJensen commented on #1420
@econ02, could you look into this?

cc @andersonfrailey @hdoupe

[2017-06-09 12:50] martinholmer commented on #1050
@MattHJensen, My recollection of issue #1050 is that:

- there was agreement about how to conduct the normative welfare analysis when there was no behavioral response or growth response to the policy reform, but

- there was not a consensus about how to conduct the normative welfare analysis when there was a behavioral or growth response to the policy reform.

Given that the second case is still a

[2017-06-09 13:08] MattHJensen commented on #1413
Thanks @codykallen, I sent a link to your comment.

[2017-06-09 13:20] MattHJensen commented on #1413
Still welcoming comments of course, but closing the issue.

[2017-06-09 13:20] #1413 closed

[2017-06-09 17:41] feenberg commented on #1420
On Fri, 9 Jun 2017, Matt Jensen wrote:

Would that be very similar in effect to raising the lowest tax bracket
threshold by $6,000?

dan

[2017-06-12 14:53] econ02 commented on #1420
The above suggestion should work, correct @MattHJensen ?

cc @feenberg

[2017-06-12 14:57] hdoupe commented on #1409
@MattHJensen Thanks, those helped a lot.

I used the CPS to find the proportion of 17 and 18 year old dependents who are 18 years old.  Then I removed members from the puf's "17 under 19" age group according to that proportion.

I also looked at the proportion of tax units that have at least three dependents under the age of 18 to see how many had 4 or more dependents under 18.  I then tried to mo

[2017-06-12 15:30] MattHJensen commented on #1420
I think we should add the credit parameter rather than relying on the lowest tax bracket threshold for two reasons:

1. It would have a similar effect on revenue, but not the same, and my intuition definitely isn't good enough to tell Josh to trust me that "it's close."
2. We'd get the intermediate variables wrong. For instance, we report total nonrefundable credits.

[2017-06-12 15:55] econ02 commented on #1420
@MattHJensen Sounds good.

My plan will be to build it with three variables (like the refundable credit) and just make it not refundable.

_II_ncredit = Non-refundable credit amount
_II_ncredit_ps = Non-refundable credit phaseout start
_II_ncredit_prt = Non-refundable credit phaseout rate

[2017-06-12 21:07] martinholmer commented on #1368
Tax-Calculator issue #1368 has been open for almost a month even though the question posed by @PeterDSteinberg was answered immediately by @MattHJensen.  Under the assumption that the OG-USA developers know what code needs to be added to OG-USA (see pull request #1314 for what was removed from Tax-Calculator and needs to be added to OG-USA), issue #1368 is being closed.

The subsequent discussion

[2017-06-12 21:07] #1368 closed

[2017-06-12 22:27] martinholmer opened #1425 "Problem with `e20500` puf.csv variable and functions.py logic"
One of the variables in the `puf.csv` file is defined this way:
[code]
In other words, 10% of AGI has **already** been subtracted.

But we have a tax policy parameter called `ID_Casualty_frt` which is defined as:
[code]

In order to juggle the contradiction in the input variable and the policy variable, the code undoes the 10% AGI subtraction in order to give the `ID_Casualty_frt` policy variable

[2017-06-12 23:35] feenberg commented on #1425
I suggest defining a new variable in the base file for the gross amount,
and let it be treated by Ohara's constants like other variables, and then
used in the tax calculator. Reconstructing the gross amount ex post is
fraught with difficulties, and changes in AGI will have a disproportionate
affect on estimate of the net amount, since 10% of AGI is likely to be
large relative to the net.

dan

On

[2017-06-13 11:15] martinholmer commented on #1425
@feenberg said:

I agree completely with your analysis.  The current problem is even worse than I first thought because, as you point out, the current logic is wrong (even when using the `puf.csv` file) whenever a reform changes AGI.

The [taxdata pull request 94](https://github.com/open-source-economics/taxdata/pull/94) implements your suggestion to replace in the `puf.csv` file the net loss vari

[2017-06-13 11:24] MattHJensen commented on #1425
This makes sense to me, too.

[2017-06-13 11:49] MattHJensen commented on #1417
@martinholmer, did you change the title name because you know there are API breaking changes in this particular upcoming release or because you think our default position should be to assume that each new release will be major?

My preference is that we should assume the next release will be minor until we have evidence that it will be major (a PR with API breaking changes), and then we can leave

[2017-06-13 12:07] MattHJensen commented on #1420
@econ02, the structure makes sense to me.

The parameter API names warrant further consideration. You probably noticed that we don't currently have a consistent scheme for differentiating refundable and nonrefundable credits via their parameter names. For most parameters, refundability is documented in their long_name and section attribute, but not in their API name.

In this case, I can see why i

[2017-06-13 12:08] #1364 closed

[2017-06-13 12:37] martinholmer commented on #1417
@MattHJensen asked:

Pull request #1424 (which I expect to merge today) changes the public API, and so do some of the other merged pull requests mentioned in #1424.  None of element removed from the public API were being used by client projects (as far as I can tell).  But these changes are still changes in the public API.

[2017-06-13 14:22] econ02 commented on #1420
See pull request #1427

[2017-06-13 16:06] martinholmer commented on #1409
@MattHJensen said a few days ago in issue #1409:

So, does new Tax-Calculator logic need to be added in order to simulate this kind of reform?

@hdoupe

[2017-06-13 17:36] hdoupe commented on #1409
@martinholmer I think that we just have to subtract `nu18` from `XTOT` when the personal exemption is calculated in the AGI function in `functions.py`.

`XTOT` is used to calculate the child tax credit and lump sum tax.  But, it looks like this request is only concerned with the personal exemption tax.

So, I would add a policy parameter like : `_II_nu18`.  This would be a boolean variable.  Then

[2017-06-13 18:17] martinholmer commented on #1409
@hdoupe described code needed to implement reform requested in issue #1409.

Yes, I think your basic idea is sound.
But I'd suggest a longer policy parameter name.
Maybe, something like `_II_no_em_nu18`.
What do you think?

Here is the way the code is now:
[code]
So, it could be changed to be something like:
[code]
Not sure how paranoid to be about the input data.  Maybe we don't need to max(0,...

[2017-06-13 18:27] hdoupe commented on #1409
@martinholmer Looks good to me.  I'll keep the max function to be on the safe side.

[2017-06-14 11:13] martinholmer commented on #1425
The bug identified in taxcalc #1425 has been resolved by [taxdata pull request 94](https://github.com/open-source-economics/taxdata/pull/94) and taxcalc pull request #1426.

[2017-06-14 11:13] #1425 closed

[2017-06-14 15:58] martinholmer commented on #1420
Merging pull request #1427 by @econ02 has resolved issue #1420, which can now be closed.

[2017-06-14 15:58] #1420 closed

[2017-06-14 15:59] martinholmer commented on #1409
Merging pull request #1428 by @hdoupe has resolved issue #1409, which is now being closed.

[2017-06-14 15:59] #1409 closed

[2017-06-14 16:01] martinholmer commented on #1384
Merging pull request #1385 by @hdoupe has resolved issue #1384, which is now being closed.

[2017-06-14 16:01] #1384 closed

[2017-06-14 20:33] martinholmer commented on #313
@martinholmer asked on 14-Apr-2017:

I guess nobody knows how to do this, so I'm closing Tax-Calculator issue #313.

[2017-06-14 20:33] #313 closed

[2017-06-15 11:35] MattHJensen commented on #1417
https://github.com/open-source-economics/Tax-Calculator/releases/tag/0.9.0

[2017-06-15 11:35] #1417 closed

[2017-06-15 11:42] MattHJensen opened #1434 "Release 0.9.1"
In major pull requests, please add a commit that edits the 0.9.1 section of the [release history](https://github.com/open-source-economics/Tax-Calculator/blob/master/RELEASES.md).

The last commit in 0.9.0 was d79abfd8c5a153ff374fbacb9aa7ed65821fe97e, which was the merge of #1431 on June 14, 2017.

[2017-06-15 16:08] martinholmer opened #1436 "Question about what income is subject to the Self-Employment Tax"
I'm hoping to get some advice on which types of income are subject to the Self-Employment (payroll) Tax.

Since the early days of Tax-Calculator, the `functions.py` code subjects only two types of income to the Self-Employment Tax: (1) Schedule C self-employment net income (`e00900p` and `e00900s`) and (2) Schedule F farm net income (`e02100p` and `e02100s`).

But my reading of the IRS forms sugge

[2017-06-15 17:06] jdebacker commented on #1436
This is [indeed complicated](https://www.forbes.com/sites/anthonynitti/2016/10/03/irs-grows-increasingly-aggressive-in-subjecting-income-of-llc-member-to-self-employment-tax/#384367a678a8), but I think you are honing in on the best info available from the PUF.  However, my understanding is that passive income is not subject to SECA, so you may want to pull the non-passive income variables.  So net

[2017-06-15 18:49] feenberg commented on #1436
I think we might back out self-employment income from the FICA tax paid on
self-employment income. I don't see any other way to tell if Schedule E is
earnings or property income - it can be either.

dan

On Thu, 15 Jun 2017, Martin Holmer wrote:

[2017-06-16 01:50] martinholmer commented on #1436
@jdebacker and @feenberg, Thank you both for your insightful comments on issue #1436.  I am going to look into the 2009 PUF variables you mention, but only after I'm back from Canada on Tuesday, June 27th.

[2017-06-16 12:56] martinholmer commented on #1436
With respect to issue #1436, I've looked in the taxdata repo at the current version of the private `cps-matched-puf.csv` file used as input to the `pufdata/finalprep.py` script.  That file contains all the variables needed to explore the suggestions made by @jdebacker and @feenberg.  I'll begin working on this issue when I return from vacation on Tuesday, June 27th.

It would seem that this issue

[2017-06-16 14:34] brittainhard opened #1437 "Problem when Submitting a TaxBrain Job"
Getting this as a traceback on 0.9.0. Looks like another pandas issue. @jdebacker @PeterDSteinberg
[code]

[2017-06-16 17:17] MattHJensen commented on #1437
@brittainhard, have you been able to replicate this with taxcalc directly? It would facilitate help from tax-calculator developers if you show how to replicate w taxcalc.

[2017-06-16 18:28] brittainhard commented on #1437
@MattHJensen I dont use taxcalc directly, but i'll see if I can replicate it. @jdebacker do you have any opinions on this?

[2017-06-16 18:59] brittainhard commented on #1437
Was able to recreate this by running `taxcalc.dropq.run_nth_year_tax_calc_model(**data)` where `data` is the dict run through the function. I managed to save the offending data to a pickle file, but its about 500mb large. I can send this file if need be.

[2017-06-16 19:13] MattHJensen commented on #1437
Could you paste here:

a) the code that you used to generate `taxref_df` from the puf.csv file from this week.
b) the other arguments (`year_n`, `start_year`, `user_mods`)

`run_nth_year_tax_calc_model(year_n, start_year, taxrec_df, user_mods, return_json=True):`

[2017-06-16 19:49] brittainhard commented on #1437
As far as the DataFrame used, it was generated from running a task off of the webapp. I have a copy of that data saved in a pickle file. As for what `puf.csv` file I was using at the time I really can't tell. I'm doing all of this on a local deployment.

The other arguments are

[code]

[2017-06-16 19:54] MattHJensen commented on #1437
@brittainhard, the new puf.csv file is a requirement for taxcalc 0.9.0. Could you see if you can replicate the error with that? It looks like taxpuf 1.2.0 contains the new puf.

[2017-06-16 19:55] brittainhard commented on #1437
Sure thing

[2017-06-16 20:17] jdebacker commented on #1437
@brittainhard I don't have specific ideas since I've not run stuff in the way you are.  I did run into a similar error when trying to run B-Tax without setting the environment to the Tax-Calculator environment.  I believe it is a pandas version issue.

Also, I've noticed using pandas and pickle on several Python versions recently (2.7, 3.4, 3.6) that there are often issues with reading objects cre

[2017-06-16 20:30] brittainhard commented on #1437
Problem was my outdated `puf.csv.gz`. Working fine now.

[2017-06-16 20:30] #1437 closed

[2017-06-17 16:03] martinholmer commented on #1436
@jdebacker said in the issue #1436 conversation:

Thanks, @jdebacker, for the plausible suggestion.  However, I can't see any relationship between the six variables you mention and the amount in Schedule K-1 box 14, which is titled `Self-employment earnings (loss)`.  I've looked a quite a few filing units and don't see any connection.

Below are three very simple filing units where there is no wag

[2017-06-17 18:08] jdebacker commented on #1436
@martinholmer Thanks for digging into the data to confirm this.  I can't explain the discrepancies, but some things to consider:
1) S-Corp business income does not trigger any SECA liability.
2) Passive income from partnerships is excluded (at least in the case of it flowing to a limited partner, not 100% sure what the rule is for general partners - see link above and [here](https://www.irs.gov/in

[2017-06-17 19:27] martinholmer commented on #1436
@jdebacker said:

The 2009 SOI PUF variables `e30400` and `e30500` are **not** line 1a of Schedule SE.  Here is how they are defined in the SOI documentation:
[code]

@jdebacker continued:

Well that would be easy, but Line 1a doesn't seem to be a variable in the 2009 SOI PUF dataset.

I think the only approach left is to estimate (a lower bound) for Schedule K-1 box 14 (which we know is included

[2017-06-19 18:20] MattHJensen commented on #1417
@andersonfrailey @martinholmer @hdoupe @econ02

taxcalc 0.9.0 is now on the test app. (http://ospc-taxes7.herokuapp.com/taxbrain/). If you have an opportunity, could you check to see if your enhancements since 0.8.3 are working properly on TaxBrain?

[2017-06-19 18:22] MattHJensen commented on #1417
Currently getting an error on simulations. I will give you an update when it is worth trying to test again. Sorry for the false start.

[2017-06-20 19:19] hdoupe opened #1439 "Treatment of weights in Records object constructor, Part 1"
I'm opening this issue in response to PR #1429.

In the case where a subsample of the PUF file is passed to a `Records` object, I'm a bit confused as to why we scale the weights by the full sample size divided by the subsample size.  It would make more sense to me to scale the weights by the the sum of the weights in the full sample divided by the sum of the weights in the subsample.

[code]

I fe

[2017-06-20 22:06] martinholmer commented on #1439
Thanks for opening an issue on this matter. I'll be back from Canada next week and I'll study this.

[2017-06-20 23:14] feenberg commented on #1439
On Tue, 20 Jun 2017, Henry Doupe wrote:

Same in expected value terms, but more accurate.

dan

[2017-06-21 17:14] hdoupe commented on #1439
@feenberg Thanks for the reply.  That makes sense, but more accurate in what way?

[2017-06-26 20:56] yuying27 commented on #315
I look through the post [here](https://github.com/open-source-economics/Tax-Calculator/blob/master/read-the-docs/proposed_features/DistributingCorpIncTax.rst). Rather than dividing 2.2 and 1.2. I think we should consider a different weighted average for above formula. Each components for normal or supernormal should multiply its aggregated value over aggregated normal or supernormal returns. This

[2017-06-27 01:37] martinholmer commented on #315
@yuying27 said in issue #315:

I don't understand what you mean by `2.2` and `1.2`.  Can you explain what you mean?

[2017-06-27 11:56] martinholmer commented on #1439
@hdoupe said:

I think the point @feenberg is making is that when picking an **unweighted** sample, scaling up the  sample weights in these two ways produces the same expected value of the sum of the scaled-up sample weights.  But that using the scale-up factor you suggest (the ratio of the weights) produces a sum of the scaled-up weights that has a lower variance than using a scale-up factor that

[2017-06-27 12:07] martinholmer opened #1440 "Treatment of weights in Records object constructor, Part 2"
Pull request #844, which was merged on August 10, 2016, included the following code in the Records class constructor:
[code]
The calculation of `frac` has already been discussed in issue #1439.

An additional problem with the above code is that it ignores the fact that the weights vary from year to year, and therefore, applying one value of `frac` to weights in all the years creates unnecessary va

[2017-06-27 13:21] yuying27 commented on #315
In the 3rd and 4th paragraph, Messick mentions the value is further divided into 1.2 (for supernormal) and 2.2 (for normal). My understanding of the 1.2 is a sum of 0.6 and 0.6, while 2.2 is a sum of 0.4, 0.4, 0.4 and 1.

[2017-06-27 13:57] martinholmer commented on #315
@yuying27 said:

Oh, you mean:

OK.

[2017-06-27 14:06] yuying27 commented on #315
@mmessick

Exactly, I updated my words to make it clearer.

[2017-06-27 14:16] hdoupe commented on #1439
@martinholmer Let me make sure that I have this right.  We are trying to choose an estimator for the factor that will be used to scale up the weights.  For an unweighted sample, we expect this factor to be `1/subfrac`.  While both the ratio of the weights and the ratio of the sample sizes are the same in expected value, the ratio of the sample sizes has a lower variance.  Thus, it is a better choi

[2017-06-27 14:22] martinholmer commented on #1439
@hdoupe said in issue #1439:

This is the way I understand these matters.  So, yes, I think you "have this right."

Next question is whether you think pull request #1441 is sensible.

[2017-06-27 14:33] hdoupe commented on #1439
@martinholmer Ok, thanks for helping me understand this.

[2017-06-27 19:42] #1439 closed

[2017-06-27 23:43] martinholmer commented on #1440
Issue #1440 has been resolved by the merge of pull request #1441.

[2017-06-27 23:43] #1440 closed

[2017-06-27 23:59] martinholmer commented on #632
@Amy-Xu said on March 4, 2016, in Tax-Calculator issue #632:

As I said at the time, this is a good find.  And now, over a year later, these two variables are being used to construct two new variables in the `puf.csv` file and those variables are being used to compute more accurately the self-employment (payroll) tax.  And we are also following your suggestion to use `e30400` and `e30500` to split

[2017-06-27 23:59] #632 closed

[2017-06-28 19:14] martinholmer commented on #1374
I've looked into Tax-Calculator issue #1374, which says:

The construction in dropq code of a TaxBrain "diagnostic" table (which is called in Tax-Calculator a "distribution" table) is fairly involved.  The data structures that are created by the dropq code have been carefully designed to meet the needs of TaxBrain developers, which is exactly as it should be.

My conclusion is that the TaxBrain de

[2017-06-28 20:04] feenberg commented on #1374
On Wed, 28 Jun 2017, Martin Holmer wrote:

The important thing is that we drop 3 meaningful records from each row
returned to the user. So if we tab by expanded income we drop 3 records
from each expanded income class, not each AGI class. Otherwise I think the
logic should be exactly the same.

dan

[2017-06-29 13:57] martinholmer opened #1443 "Enhancement request for Calculator.read_json_param_files function"
@brittainhard said in the conversation surrounding [webapp-public pull request 556](https://github.com/OpenSourcePolicyCenter/webapp-public/pull/556):

First, passing a string variable that contains the contents of a JSON parameter file (rather than the name of that JSON parameter file) makes sense, but I'm not sure if you want the JSON string to be standard or to allow comments.  Can you clarify?

[2017-06-29 14:47] brittainhard commented on #1443
@martinholmer for some context, to use `read_json_param_files` I have to save text data as a temporary file, and then pass the filename, so that the function can read and open the filename. If I were able to pass the raw JSON text, I would no longer have to deal with temporary files. The python dictionary would give me the option to pass de-serialized JSON, but this is not as important as being ab

[2017-06-29 16:01] martinholmer commented on #1443
@brittainhard said:

Thanks for the clarification.  I'll begin work on allowing "raw JSON text" as a function argument.
I'm assuming that by "raw" you mean including any of the //-comments that were in the disk file.

[2017-06-29 17:45] martinholmer commented on #1443
Merge of pull request #1445 resolves issue #1443.

[2017-06-29 17:45] #1443 closed

[2017-06-29 18:29] martinholmer commented on #1374
Dan @feenberg said with respect to issue #1374:

As far as I can tell, TaxBrain never shows distributional tables with AGI bins; it shows only distributional tables with expanded-income bins.  And the dropq code does remove three records from each expanded-income bin.  So, I think your concerns are being met.

@MattHJensen @PeterDSteinberg @brittainhard

[2017-06-30 14:50] rickecon opened #1448 "Tax cut vs. tax increase dynamic visualization"
@DoraSzazs will begin work on a dynamic visualization using `Bokeh` that would generate in the `TaxBrain` user's browser window based on three columns of the distributional output by income group of a TaxBrain run (Tax units with tax cut, Tax units with tax increase, Average tax change).

<img width="935" alt="screen shot 2017-06-30 at 9 47 35 am" src="https://user-images.githubusercontent.com/431

[2017-06-30 15:44] MattHJensen opened #1449 "positive personal refundable credit raises revenue"
A TaxBrain user just notified me that increasing the personal refundable credit raises revenue rather than lowers it.

https://www.ospc.org/taxbrain/edit/14829/?start_year=2017

[2017-07-05 18:53] martinholmer commented on #1449
Merge of pull request #1450 resolves bug report in issue #1449.

[2017-07-05 18:53] #1449 closed

[2017-07-06 00:05] martinholmer commented on #1436
Issue #1436 has been resolved by the merge of pull request #1438.

[2017-07-06 00:14] #1436 closed

[2017-07-06 13:03] martinholmer opened #1455 "Forthcoming release 0.9.2"
In major pull requests, please add a commit that edits the 0.9.2 section of the [release history](https://github.com/open-source-economics/Tax-Calculator/blob/master/RELEASES.md).

The last commit in 0.9.1 was  6f04e1d, which was the merge of #1438 on July 5, 2017.

[2017-07-06 17:04] martinholmer commented on #1434
Tax-Calculator release 0.9.1 was issued on July 6, 2017.

[2017-07-06 17:04] #1434 closed

[2017-07-10 15:35] MattHJensen opened #1461 "pass through income shifting"
A TaxBrain user, John Olson, wrote to me via email:

(John kindly set up a GH account so that he can participate in any discussion of this issue: @olsonjs.)

[2017-07-10 15:36] MattHJensen commented on #1461
For reference, here is TPC's description of how they modeled the Trump campaign proposal, which they interpreted as specifying a top rate on pass through income of 15% [[source doc](http://www.taxpolicycenter.org/sites/default/files/alfresco/publication-pdfs/2000924-an-analysis-of-donald-trumps-revised-tax-plan.pdf)]:

[2017-07-11 14:04] martinholmer commented on #1461
The [TPC 18-Oct-2016 analysis of the Trump tax plan](http://www.taxpolicycenter.org/sites/default/files/alfresco/publication-pdfs/2000924-an-analysis-of-donald-trumps-revised-tax-plan.pdf) includes this text at the top of page 2:

About that last sentence: is there a reason the `Trump2017.json` reform file does not include this feature?  Or does `Trump2017.json` include this reform provision, but

[2017-07-11 14:17] codykallen commented on #1461
@martinholmer asked

Trump2017.json does not include this feature because the Trump 2017 tax proposal lacks that degree of detail. As an example, the one-page proposal the administration released earlier this year simply states,

TPC's most recent discussion of the 2017 tax [proposal](http://www.taxpolicycenter.org/taxvox/trying-understand-details-president-trumps-tax-plan) states

Trump2017.json

[2017-07-11 14:34] martinholmer commented on #1461
@codykallen, Thanks for the background information on the `Trump2017.json` reform.

You also said:

I'm still working on pull request #1464 to incorporate the idea that the new personal LLCs could, if no regulations prevented this, pay some compensation as wages (in order to get some income taxed in the lowest regular brackets below 15%) and the rest of compensation as pass-through income (that is

[2017-07-11 15:10] codykallen commented on #1461
@martinholmer, it would be useful to also impose dollar or percent caps on the amount of pass-through income. In PR #1464, @olsonjs said

The Trump proposal (and the Ryan-Brady proposal) don't include specific definitions of what an employee is. However, Ways & Means at least appreciates the difficulties of enforcement. There are various potential rules under consideration to distinguish wage and

[2017-07-11 17:41] martinholmer opened #1468 "Example of test error when using numpy 1.13.1"
Below I show how updating from numpy 1.12.1 to numpy 1.13.1 causes an error in the decorator code.  It does seem to be all about the code in `decorators.py` because when I turn off the decorator logic the error goes away.  I don't know whether the decorator code needs to be changed or whether there is a bug in the new numpy 1.13.1 package or in another package (like numba) that relies on the new n

[2017-07-11 18:59] martinholmer commented on #1461
@codykallen said:

 Perhaps the most useful (and programmable) is the allocation of a fixed share of pass-through income to labor and a fixed share to capital, with the labor share taxed as ordinary wage income and the capital share taxed at the preferential rate.

@codykallen,  Thanks for this information about the legislative thinking.
Do you know the range of values they're talking about for th

[2017-07-11 19:03] codykallen commented on #1461
From what I've heard, the most plausible labor-capital split would be 70/30. But if you want to build in that type of split, you could input any mandated labor share between 0 and 1.

[2017-07-11 19:28] olsonjs commented on #1461
This report from the BLS about estimating labor share may be useful, specifically the sections about proprietor's labor compensation: https://www.bls.gov/opub/mlr/2017/article/estimating-the-us-labor-share.htm

The Tax Foundation also talks a little about labor compensation here: https://taxfoundation.org/walkthrough-gross-domestic-income/

[2017-07-11 19:45] martinholmer commented on #1461
Thanks to both @codykallen and @olsonjs for the helpful information and discussion in issue #1461.

[2017-07-11 20:05] martinholmer commented on #1461
@codykallen said:

Yes, I will build in the flexibility of the full [0,1] range for the labor share.

But what would the labor share be applied to in Tax-Calculator?
Would it be the share of `e02000` or
the share of `e26270` or the share of
the new `k1bx14_p` and `k1bx14_s` variables?

If you need to refresh your memory about how these variables are defined, search the [user documentation](http://

[2017-07-11 20:17] codykallen commented on #1461
@martinholmer asked:

That's hard to say. My best guess is that it would be applied to the sum of labor income (`e00200`) and all pass-through income, presumably `e00900 + e26270`. We may need to make some distinctions for primary and secondary filers, such as applying the split to `e00200p + e00900p + e26270` and `e00200s + e00900s` separately. I'm not sure how useful `k1bx14_p` and `k1bx14_s` wi

[2017-07-11 22:16] martinholmer commented on #1461
@codykallen said:

Again, thanks for your thoughtful observations.  I guess this gets messy very quickly.

[2017-07-12 11:14] #1468 closed

[2017-07-12 23:50] PeterDSteinberg opened #1474 "Consider doing `conda build` then `conda install --use-local` in Travis CI"
We had a conda packaging related meeting today where we discussed that it could be helpful to have Travis CI build conda packages for Tax-Calculator instead of just installing from source.  That way we test out that the pkg can be built with the dependencies of the recipe.

[This line of Travis CI](https://github.com/open-source-economics/Tax-Calculator/blob/master/.travis.yml#L23) would change to

[2017-07-13 12:23] martinholmer commented on #1474
@PeterDSteinberg said:

Actually, I don't remember any discussion of Travis CI during yesterday's session.

You haven't explained what improvement the above code change would provide.  Right now developers working on Tax-Calculator can build a taxcalc package with the code as it is (even if it is not committed or if it is not in a tagged release) locally and install that local package at any time

[2017-07-13 15:38] DoraSzasz commented on #1448
@rickecon

I am thinking to push this plot here: https://github.com/open-source-economics/plots/tree/master/contrib, into a new folder, "tax_change". Do you agree? In this case we may want to create this issue under: open-source-economics/plots.

[2017-07-13 15:46] DoraSzasz commented on #1448
The first draft looks like this:
![screen shot 2017-07-13 at 10 38 58 am](https://user-images.githubusercontent.com/5504833/28174635-a4404cee-67b7-11e7-9e53-e1f955cd9903.png)

I still have to add the slider for the year. What years should I include? Do we have data for these years? I will also have to work on the design (fonts, grids, colors, tools). Any suggestion is welcomed. @MattHJensen @britt

[2017-07-13 18:02] ecbrown5 opened #1478 "ospc.org issues"
The "About" page on ospc.org needs to include Cost of Capital Calculator with logo under "Our Products."

Also on the "About" page, all three of the social media links (Twitter, Facebook,LinkedIn) are inactive.

The "Apps" link on the bottom of the home page is also inactive.

Thank you for your help!

[2017-07-14 12:50] rickecon commented on #1448
@DoraSzasz , that is a great first draft.

1. I think the label on the x-axis of the main plot, instead of "Intervals", should be "Income brackets ($ thousands)".
2. I think we should have data point markers (circles or diamonds) in the top plot for average tax change.
3. Change the vertical labels on the main plot to be "Tax units with tax increase" and "Tax units with tax cut". It would be nice

[2017-07-14 15:30] MattHJensen commented on #1478
@ecbrown5, could you please move this issue to www.github.com/opensourcepolicycenter/webapp-public. Closing here.

[2017-07-14 15:30] #1478 closed

[2017-07-14 15:42] MattHJensen opened #1480 "compatible_data field(s) in current_law_policy.json"
Now that the cps.csv file is much further along, I am opening an issue to renew discussion of adding a compatible_data field in current_law_policy.json.

In #1074 I suggested:

Based on a conversation with @martinholmer, I now believe that we would want to make an explicit rule about what "compatible" means, as there will be gray areas. One possible rule would be, "does this parameter affect resul

[2017-07-14 16:17] martinholmer commented on #1275
@MattHJensen said on April 3, 2017, about Tax-Calculator issue #1275:

This approach is now explicit in the new Release Process described in [webapp-public issue 560](https://github.com/OpenSourcePolicyCenter/webapp-public/issues/560#issue-235310981).

Also, Tax-Calculator release numbering has adopted [semantic versioning](http://semver.org/) to signal when the public API changes.  And there is n

[2017-07-14 16:17] #1275 closed

[2017-07-14 19:22] MattHJensen commented on #1480
I am happy to take a first stab in this direction if others are agreeable to the idea.

[2017-07-14 19:40] martinholmer commented on #1480
@MattHJensen said about issue #1480:

Don't you think it makes sense to begin this work only after we have settled on the contents of the new CPS file?

[2017-07-14 19:50] MattHJensen commented on #1480
I am thinking about implementing a PR to demonstrate how this would look applied to `puf.csv` alone. A test and simple changes to current_law_policy.json.

Likely I won't get to it until after I return on Aug 18.

[2017-07-14 19:53] martinholmer commented on #1480
@MattHJensen said:

OK, that makes sense.  And who knows, maybe we'll have made some progress on the CPS file by the time you return to the office.

[2017-07-14 22:26] feenberg commented on #1480
On Fri, 14 Jul 2017, Matt Jensen wrote:

I agree that the benefits are significant, but that doing this manually
introduces a likely source of error. Done mechanically, does it need to be
such a great computational expense? For each parameter we would need to
calculate revenue with the parameter changed from the default to the
maximum and minimum permitted, stopping at the first record showing a
c

[2017-07-15 17:26] martinholmer commented on #1480
@MattHJensen said:

To be more consistent with the other JSON fields in the `current_law_policy.json` file, the value of the "compatible_data" key should probably be a list (not a comma separated string).  So, for a policy parameter that has an effect of tax results only when using `puf.csv`, we would have:
[code]
and for a parameter that has an effect only when using `cps.csv.gz`, we would have:

[2017-07-18 20:04] martinholmer commented on #1480
The ideas described in issue #1480 have been favorably received, so I'm changing the label from Question to Enhancement.  I'm also taking @MattHJensen at his word and assigning the enhancement task to him.

[2017-07-18 21:53] MattHJensen opened #1485 "EITC phase-in rate, "_EITC_rt""
A TaxBrain user is wanting to set an EITC rate (`eitc_rt`) over 100 percent.

The EITC rate description states that the range of the parameter is between 0 and 100 percent.

To experiment, I ran two reforms, one with the rate set to 100 percent for all filing statuses and one with the rates at 150 percent, and I got identical results for both.

All EITC rates at 100 percent.
http://www.ospc.org/ta

[2017-07-18 22:26] martinholmer commented on #1485
The current description of the `_EITC_rt` policy parameter dates back to the merge of pull request #327 on August 12, 2015.  Here are the changes made then with respect to `_EITC_rt`:
[code]
There have been no changes in this `_EITC_rt` entry since then.

I'm going to do several things:
(1) investigate whether or not the `notes` information is enforced any place in Tax-Calculator;
(2) improve the

[2017-07-18 23:13] martinholmer commented on #1485
@MattHJensen,

There is no place in Tax-Calculator that constrains the value of `_EITC_rt`.  It is simply passed unchanged to the `EITCamount` function as its first `phasein_rate` parameter:
[code]

That conclusion, which is based on code inspection, is confirmed by using the Tax-Calculator CLI to simulate the two reforms you analyzed with TaxBrain: an across-the-board 100% phase-in rate and an ac

[2017-07-19 17:22] martinholmer commented on #1480
@martinholmer said in issue #1480:

After experience adding an "availability" field to the `records_variables.json` file, I think this was a poor suggestion.  So, I'm going to remove all traces of my poorly thought-out suggestion.

@MattHJensen

[2017-07-19 20:55] martinholmer commented on #1485
The descriptions of several EITC policy parameters (including `_EITC_rt`) have been clarified in the `current_law_policy.json` file in merged pull request #1486.  That pull request also eliminated the incorrect note for the `_EITC_rt` parameter.

@MattHJensen, Do you want to keep this issue open?

[2017-07-19 21:07] martinholmer commented on #1461
Now that pull request #1464 has been merged into the master branch, it seems sensible to close this issue #1461, which deals with earnings-shifting behavioral responses under the `Trump2017.json` reform.

I want to thank all of your for the helpful discussion of these matters in this issue.  The discussion here made the work in pull request #1464 much better than it would have been without this di

[2017-07-19 21:07] #1461 closed

[2017-07-20 14:14] hdoupe commented on #1485
Would it make sense to have lower and upper bound parameters in the `current_law_policy.json` file for policy variables that should be constrained?  Then when new values are loaded in, we could check whether they fall in the allowed range.

@MattHJensen @martinholmer

[2017-07-20 14:30] martinholmer commented on #1485
@hdoupe asked in issue #1485

Yes, it would make sense.  That is why some of the policy parameters have a "validations" field in the `current_law_policy.json` file.  For example, consider the following entry:
[code]
When those "validations" fields were first added there was a discussion about how many of them to have and which applications should enforcement the constraints.  That discussion concl

[2017-07-20 14:53] feenberg commented on #1485
On Thu, 20 Jul 2017, Henry Doupe wrote:

While at first thought it might seem that tax rates should be limited by 0
and 100%, negative tax rates are often useful, and I can imagine that more
than 100% might have a use also. Thresholds of infinity are often useful,
negative thresholds already exist (capital losses). So I think we should
be careful before assuming limited ranges.

dan

[2017-07-20 17:48] MattHJensen opened #1487 "Add pass through shifting method to the behavior module?"
I am wondering whether others think it would make sense and be valuable to parameterize the pass through shifting capabilities that @martinholmer developed in https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/reforms/earnings_shifting.py by incorporating those capabilities or similar in `behavior.py` and `behavior.json.`

This would allow us to incorporate @olsonjs's sugg

[2017-07-20 17:53] MattHJensen commented on #1485
@hdoupe, as you are thinking about the correspondence between tax-calculator results pre and post drop q for the sake of webapp-public testing, could you investigate whether it is reasonable to think that dropq could be causing the discrepancy between tax-calculator and taxbrain results in this particular situation? In particular, it would be nice to have some verification that it is just coincide

[2017-07-20 18:07] hdoupe commented on #1485
@martinholmer @feenberg Thank you for your insight.  That makes sense.

@MattHJensen said

Yes, I agree.  I'll give this some thought.

[2017-07-21 21:23] andersonfrailey opened #1489 "Read Egg Question"
Could someone explain how the `read_egg_csv` and `read_egg_json` functions in `utils.py` work? I've been reading over the documentation for pkg_resources but I still haven't been able to figure out how it all works. Thanks in advance.

[2017-07-26 13:35] martinholmer commented on #1489
@andersonfrailey asked:

As you've probably figured out, Tax-Calculator reads in several CSV and JSON files both when executing from source code and when executing from a conda package.  Those files are in the source code tree and are placed in the package (as an "egg", or at least this is my possibly incorrect understanding of how a Python/conda expert would put it) using information in the `tax-

[2017-07-26 17:49] martinholmer opened #1492 "Forthcoming release 0.10.0"
In major pull requests, please add a commit that edits the 0.10.0 section of the [release history](https://github.com/open-source-economics/Tax-Calculator/blob/master/RELEASES.md).

The last commit in 0.9.2 was 16dcccd, which was the merge of #1490 on July 26, 2017.

[2017-07-26 17:50] martinholmer commented on #1455
0.9.2 was released on July 26, 2017.

[2017-07-26 17:50] #1455 closed

[2017-07-27 14:53] andersonfrailey commented on #1489
@martinholmer, thanks for the detailed response. I will dig into the `pkg_resources` methods a bit and see if I can get the simpler code to run.

[2017-07-28 12:23] martinholmer commented on #1489
@andersonfrailey said:

Thanks.  Your experimentation will help all of us understand better the read_egg_* logic.

[2017-07-28 14:31] talumbau commented on #1489
Hi @andersonfrailey, here's some good background info for your research:

https://github.com/OpenSourcePolicyCenter/webapp-public/issues/501

In particular, I recall that this Stack Overflow post was a helpful pointer in determining how to solve the problem of reading data files from an installed package.

http://stackoverflow.com/questions/6028000/python-how-to-read-a-static-file-from-inside-a-pa

[2017-07-28 15:48] hdoupe commented on #1485
@MattHJensen said

The results from taxbrain for each reform are almost exactly the same.  The celery log shows that when `_EITC_rt` is set to 1.5 by the user on the taxbrain interface, it is rounded down to 1.  However, if `_EITC_rt` is set to 1 by the user on the taxbrain interface, then taxbrain passes it to taxcalc as `1.0`.

Celery log for `_EITC_rt` set to 1:
[code]
and `_EITC_rt` set to 1.5

[2017-07-28 18:03] martinholmer commented on #1485
@hdoupe,  Excellent analysis of the question posted in Tax-Calculator issue #1485.

Given your findings we can now see the strange TaxBrain results that prompted the question are caused by a TaxBrain bug.  There is no reason to be limiting the value of this parameter to be at most one, so I'm assuming this TaxBrain behavior is accidental.  Perhaps you should open a webapp-public issue (with a Bug

[2017-08-12 15:32] talumbau opened #1507 "Consider using division operator from future module"
Regarding the small differences between Python 2 and Python 3, the only thing that occurs to me is that there may be one or two operations occurring somewhere where the `/` operator is doing truncating integer division for Python 2 and float division for Python 3. It would be an interesting experiment to put `from __future__ import division` in all source files and see if the Py2 vs Py3 discrepanc

[2017-08-17 19:36] martinholmer opened #1515 "How best to include the effects of corporate income taxes?"
**Focus**
This issue has been opened to serve as a place to discuss how best to include the effects on individuals of changes in aggregate corporate income tax revenue.

**Background**
This topic has been discussed in a series of earlier issues and pull requests:
- closed issue #223 first introduced this topic (Apr 2015)
- closed pull request #286 was the first suggested implementation (Jun 2015)

[2017-08-17 19:38] martinholmer commented on #315
This discussion is continued in issue #1515, and so, this two-year-old issue is being closed.

[2017-08-17 19:38] #315 closed

[2017-08-18 00:32] martinholmer commented on #229
@MattHJensen raised issue #229 in April 2015 and there has been no discussion since then.
Three of the seven boxes have been checked leaving four of the original goals unchecked.

There have been many  advances in the range of reforms able to be characterized in Tax-Calculator in the two years since this issue was raised.

What, if anything, needs to be done with respect to this issue?

[2017-08-18 00:35] martinholmer commented on #627
@Amy-Xu said in November 2016 about issue #627:

@MattHJensen, Are items 6-8 in issue #627 still on the project to-do list? If any are still active, should they have their own (more specific) issue?

[2017-08-18 00:39] martinholmer commented on #1050
Given the June 2017 comment on issue #1050 by @martinholmer, it seems as if #1050 should be closed.  If there is a demand for normative welfare analysis when there is a behavioral or growth response to a policy reform, then a new issue can be raised to discuss how to do that.

[2017-08-18 00:39] #1050 closed

[2017-08-18 00:47] martinholmer commented on #1370
There has been no discussion of the points listed in issue #1370 since the issue was first raised three months ago.  This suggests there is not much demand for the additional installation options listed in #1370.  So, this issue is being closed.  If developers would like any of these extra features, they can raise a new issue describing what the desired new installation option is and why it would

[2017-08-18 00:47] #1370 closed

[2017-08-18 00:54] martinholmer commented on #1485
Tax-Calculator issue #1485 has been resolved in the sense that the reported problem is caused by a TaxBrain bug.  That bug has been diagnosed in [TaxBrain issue 596](https://github.com/OpenSourcePolicyCenter/webapp-public/issues/596) and the plan to fix that bug has been outlined in [TaxBrain issue 619](https://github.com/OpenSourcePolicyCenter/webapp-public/issues/619).  Given this situation, the

[2017-08-18 00:54] #1485 closed

[2017-08-18 00:59] martinholmer commented on #1489
@andersonfrailey,  What's your view of the status of issue #1489?

Perhaps your question was not answered in an authoritative manner.  I already admitted your question was beyond my Python knowledge base.

But given there has been no comments added to #1489 for three weeks, do you think there are reasons to keep this issue open?

[2017-08-18 01:03] martinholmer commented on #1507
One experiment along the lines suggest in issue #1507 was conducted as part of the work involved in preparing merged pull request #1508.  Adding the `from __future__ import division` statement to several files did not change any `test_cpscsv.py` results under Python 2.7.

[2017-08-18 13:21] martinholmer commented on #1474
@PeterDSteinberg said when raising issue #1474 on July 12th:

After receiving no further clarification from you about the goal of these suggested changes, it occurred to me that the point of your suggestion is as follows:

Local testing and testing on GitHub use the Tax-Calculator package dependencies specified in the `environment.yml` file, while in production the taxcalc uses the package require

[2017-08-18 14:24] andersonfrailey commented on #1489
@martinholmer I've gotten enough information from this to look further into my question on my own. Closing.

[2017-08-18 14:24] #1489 closed

[2017-08-20 10:35] MattHJensen commented on #1515
Here is a review paper that I wrote with Aparna Mathur a few years ago on this topic.

http://www.aei.org/wp-content/uploads/2011/06/Tax-Notes-Mathur-Jensen-June-2011.pdf

[2017-08-21 14:46] MattHJensen commented on #229
I just checked updated this issue by checking Option 53 and Lee-Rubio. The other items are still outstanding, and most of them are blocked by data requirements. But I do think they should remain goals for Tax-Calculator.

- Switches for turning deductions into credits will require https://github.com/open-source-economics/taxdata/issues/32.

- Flipping the refundability of credits requires case by

[2017-08-21 21:45] MattHJensen commented on #1515
Today there is an [article](https://www.wsj.com/articles/who-ultimately-pays-for-corporate-taxes-the-answer-may-color-the-republican-overhaul-1502184603) on this topic in the Wall Street Journal.

[2017-08-22 00:18] jdebacker commented on #1515
[Here's](https://www.cbpp.org/research/federal-tax/corporate-tax-cuts-skew-to-shareholders-and-ceos-not-workers-as-administration) a survey of the empirical literature by the CBPP.

[2017-08-22 04:26] talumbau opened #1522 "Decision to take standard deduction or itemized should be based on >= $0.01 difference"
In looking at the Python 2 vs Python 3 differences raises in #1506, I wanted to understand why it is necessary to put a special additional epsilon for Python 3 in the `test_agg` test. If one takes this out, the expected results differ from the actual results (in Python 3) for two quantities: itemized deductions and taxable income.

Looking at itemized deductions, it turns out that this calculation

[2017-08-22 12:53] martinholmer commented on #1522
@talumbau, Thanks for your in-depth analysis in #1522 of differences between Python 2.7 and Python 3.x floating-point calculations and the resulting problem mentioned in #1506.  Your suggestion is not unreasonable; we'll give it serious consideration.  Thanks again for the excellent detective work.

@MattHJensen @Amy-Xu @andersonfrailey @hdoupe @GoFroggyRun @codykallen

[2017-08-22 13:14] martinholmer commented on #1515
@jdebacker,  Thanks for providing in #1515 the link to the CBPP review of the literature.

[2017-08-22 17:21] martinholmer commented on #1507
@talumbau found the source of the Python 2.7 versus Python 3.x differences described in #1506.
The results of his investigation are in issue #1522.
So, the now obsolete issue #1507 is now being closed.

[2017-08-22 17:21] #1507 closed

[2017-08-22 22:16] martinholmer commented on #1522
@talumbau, After thinking more about your suggestion in issue #1522, I'm not so sure your idea will solve our problem.  If the floating-point arithmetic is slightly different in Python 2.7 and Python 3.x, then won't we run the risk of getting the "boundary problem" you discovered no matter where we put the dividing line?  Put a different way, if we get one filing unit that is on either side of `it

[2017-08-23 03:41] talumbau commented on #1522
Yes, I believe I understand your point. For a given tax unit, if itemized savings in Python 2 was 0.01 - epsilon and 0.01 in Python 3, the behavior should be the same for both versions (the tax unit should be counted as itemized). Therefore, the rule should probably be:

the tax unit takes the standard deduction, unless the tax owed through itemizing deductions *rounded to the nearest cent* is at

[2017-08-23 14:55] MattHJensen opened #1525 "Cap value of state and local deduction at 2% of AGI. Major difference from CBO."
A TaxBrain user (Ernie Tedeschi) said:

A good first step would be to replicate the TaxBrain results with Tax-Calculator to determine if there is a TaxBrain bug.

[2017-08-23 14:58] MattHJensen commented on #627
#6 is already satisfied by docs/index.html.
#7 is not applicable yet, but @GoFroggyRun knows that it is relevant for his work on puf.csv imputations, and @andersonfrailey knows that it is relevant for his work on building the cps.csv from scratch.
#8 is not applicable until we are publicizing the cps.csv file, and I believe it will be obvious if it is needed.

Closing this issue.

@martinholmer @A

[2017-08-23 14:58] #627 closed

[2017-08-23 17:15] martinholmer commented on #1525
@MattHJensen said:

The Tax-Calculator CLI `tc` produces the same results as TaxBrain:
[code]
The reason why the TaxBrain user is confused is that his TaxBrain reform is not the same as the CBO reform.  The CBO reform limits **itemized deductions** (not the tax benefit of itemized deductions) to 2% of AGI.  As far as I can see, Tax-Calculator and TaxBrain do not have a way of limiting itemized ded

[2017-08-23 17:33] martinholmer commented on #1522
@talumbau said:

But even this rule runs the risk of producing different results on Python 2.7 and Python 3.x.  The two different sets of floating-point calculations can produce different (rounded to the nearest cent) results.

I appreciate your intellectual curiosity and your detective work revealed the cause of the problem, which is slightly different floating-point results on Python 2.7 and Pyt

[2017-08-23 19:05] MattHJensen opened #1526 "Parameter for limiting the amount of itemized deductions to a percent of AGI."
Currently Tax-Calculator users can limit the **tax benefit** of itemized deductions to a percent of AGI. (_ID_BenefitSurtax_*)

CBO also offers a budget option for limiting the amount itemized deduction to a percent of AGI.

This issue is to add that capability to Tax-Calculator.

See https://github.com/open-source-economics/Tax-Calculator/issues/1525 for a relevant discussion.

[2017-08-23 19:06] MattHJensen commented on #1525
@martinholmer, many thanks for noticing this difference. I informed Tedeschi and opened #1526.

[2017-08-23 19:06] #1525 closed

[2017-08-24 13:13] martinholmer commented on #1474
It has been nearly a week since @martinholmer asked @PeterDSteinberg about whether his interpretation of the goal of #1474 was correct.  There has been no objections raised to his interpretation and a new test has been added in merged pull request #1516 that addresses Martin's interpretation of this issue.   Given that extra test and the lack of discussion, issue #1474 is being closed.

[2017-08-24 13:13] #1474 closed

[2017-08-24 16:50] martinholmer commented on #1515
Now that I have read the three papers (and one newspaper article) cited in issue #1515, I have a couple of comments about how best to model the effects of a change in corporate income tax (CIT) revenues.  Notice that the change in CIT revenues is an input parameter for this modeling because nobody is suggesting that we should build a CIT model that has corporations as filing units and the provisio

[2017-08-24 21:56] martinholmer commented on #1492
Are there any not-yet-merged enhancements that developers want included in version 0.9.3?

@MattHJensen @Amy-Xu @andersonfrailey @hdoupe

[2017-08-25 20:01] MattHJensen commented on #1515
I agree that modeling changes to the corporate income tax, including the process that might lead those changes to impact labor productivity and therefore wages, could be a useful project for OG-USA when that team has the bandwidth and if they are interested.

It also seems that dynamic models, generally, or econometric models -- are the best tools for estimating the impact on corporate income taxe

[2017-08-25 20:25] martinholmer commented on #1515
@MattHJensen said in the #1515 discussion of CIT modeling approaches:

OK, but this kind of CIT analysis is **not static** in any meaning of the term.  So, it seems to me that the CIT distribution logic should be one of Tax-Calculator's behavioral responses.  This would mean that all the parameters related to CIT analysis would be in `behavior.json` and all the code that implements the CIT analysi

[2017-08-25 21:27] martinholmer commented on #1515
@MattHJensen said in #1515:

Yes, they do now.  But my point was when they first "distributed CIT to individuals" none of them had dynamic general-equilibrium models.  So, the only way to go about this taks was to combine it with static tax analysis, which is not very logical.

@MattHJensen also said:

I don't see it that way; I see #1482 as logically flawed.  The change in CIT revenues assumed in

[2017-08-25 23:56] MattHJensen commented on #1526
I began work on a PR to close this issue, but I ran into a conceptual ambiguity. In particular, I am unsure of how to handle a limit to the amount of a *subset* of itemized deductions.

When a user wants to limit the _benefit_ from itemized deduction X and itemized deduction Y to a percent of AGI, we calculate taxes with and with out X and Y to calculate the benefit from those two deductions and t

[2017-08-28 11:38] martinholmer commented on #1526
@MattHJensen said in issue #1526:

This make a lot of sense to me.  I can't imagine any other "rule" that would make more sense.

[2017-08-28 15:49] MattHJensen commented on #1492
@martinholmer, there is nothing further that I hope to include in 0.10.0.  (I aim to include #1526 in 0.10.1 rather than 0.10.0.)

[2017-08-30 03:23] martinholmer opened #1535 "Next release after 0.10.2"
In major pull requests, please add a commit that edits the 0.11.0 section of the release history in [RELEASES.md](https://github.com/open-source-economics/Tax-Calculator/blob/master/RELEASES.md#release-0110-on-2017--).

The last commit in 0.10.0 was 5993ab6, which was the merge of #1533 on August 28, 2017.
There was a bug fix that produced 0.10.1 on 2017-09-08.
There was a bug fix that produced 0.

[2017-08-30 03:24] martinholmer commented on #1492
Tax-Calculator version 0.10.0 was released on August 28, 2017.

[2017-08-30 03:24] #1492 closed

[2017-09-01 17:06] martinholmer opened #1540 "Which expanded_income to use in TaxBrain/dropq difference table bins?"
In many reforms, `expanded_income` is unchanged from the current-law baseline.  But in situations where there is a difference, a question arises about how to classify filing units in `expanded_income` bins.  Should we use the baseline `expanded_income` or should we use the reform `expanded_income`?

@MattHJensen @feenberg @Amy-Xu @andersonfrailey @hdoupe @GoFroggyRun @brittainhard @talumbau

[2017-09-01 21:51] Amy-Xu commented on #1540
It seems to me that we should use baseline expanded_income? That was the case with AGI when it's used as a bin classifier -- no matter how AGI is changed in the reform, always use the baseline AGI.

[2017-09-02 00:04] martinholmer commented on #1540
@Amy-Xu said:

OK, but I'm unsure what you're referring to when you talks about AGI being "used as a bin classifier".
Where in Tax-Calculator do we use AGI as a bin classifier?

[2017-09-02 00:17] feenberg commented on #1540
Sorry, a thinko. I meant the baseline expanded income if that is what is
used.

dan

On Fri, 1 Sep 2017, Martin Holmer wrote:

[2017-09-02 02:25] martinholmer commented on #1540
Seems as if @Amy-Xu and @feenberg favor using baseline expanded income or baseline AGI (if that is the income measure) to classify filing units in bins in difference tables.  Anybody else want to state a view?

[2017-09-05 11:37] MattHJensen commented on #1540
I am in agreement w @Amy-Xu and @feenberg that we should use the baseline income measure for tabbing distribution tables. Otherwise a progressive reform that also moves people up the income-measure distribution might look regressive.

[2017-09-05 13:06] MattHJensen commented on #1515
@martinholmer said:

I agree. I had not thought about the need to capture the interaction between the CIT and the income tax. @yuying27, what do you think?

[2017-09-06 18:34] martinholmer commented on #1522
There has been no discussion of issue #1522 for two weeks.
I'm going to close #1522 for the reasons discussed earlier in #1522.
We know there are floating-point differences between Python 2.7 and Python 3.x and the unit tests take that into account.  I don't think there is any way to avoid these differences via a "rounding" strategy.

[2017-09-06 18:34] #1522 closed

[2017-09-06 18:36] martinholmer commented on #1540
Thanks to everyone who responded to my question in issue #1540.
The answers were consistent and that answer has been incorporated into pull request #1537.

[2017-09-06 18:36] #1540 closed

[2017-09-07 19:14] #1526 closed

[2017-09-08 09:18] MattHJensen commented on #403
Closing this based on the argument that it involves a research project and is not essential for the tax-calculator project. It would still be nice to see a researcher undertake it sometime in the future, but it doesn't need an open issue in Tax-Calculator.

[2017-09-08 09:18] #403 closed

[2017-09-08 09:20] MattHJensen commented on #167
Our users are starting to have opinions about our distribution tables, so I am closing this until we have a user request for something different than what we are currently doing.

[2017-09-08 09:20] #167 closed

[2017-09-08 09:26] MattHJensen commented on #1369
Given the lack of clarity from user who requested this change, I am closing the issue until we have a better defined proposal. Otherwise we are likely to model something that isn't valuable to our users.

[2017-09-08 09:26] #1369 closed

[2017-09-08 09:28] MattHJensen commented on #295
Closing this issue until users demand the additional variables. At that point we can add them on a case by case basis.

[2017-09-08 09:28] #295 closed

[2017-09-08 09:36] MattHJensen commented on #400
I am removing the help wanted label as @andersonfrailey has expressed a desire to work on this issue.

[2017-09-09 08:11] yuying27 commented on #1515
Do you agree? Or am I missing something here?

I agree. I did not consider the interaction neither. I was mainly following the logic of #223 and did not think about dynamic or static problem.
Then it is necessary to do lots of modification of codes.

[2017-09-14 15:14] MattHJensen opened #1549 "Incorrect earnings (because of lack of info on pension contributions)"
A researcher at the University of Pennsylvania asked:

[2017-09-14 18:18] feenberg commented on #1549
On Thu, 14 Sep 2017, Matt Jensen wrote:

Both earnings and AGI are reported as 40K

Earnings is 50K and AGI is still 40K. At lower incomes this the EITC would
be calculated from earnings, and parity with the employed would be
maintained. At this income level, the SE lose relative to the employed.

I don't think could be done with the online calculator. In the source code
it would be a matter of mo

[2017-09-14 21:56] martinholmer commented on #1515
**Summary**

Summarizing the #1515 discussion of how best to include the effects of corporate income taxes (CIT) in Tax-Calculator, there seems to be consensus on a few central points:

- Both @MattHJensen and @yuying27 agree with the following point:

- However it is done, it would seem that estimating the CIT-induced changes in capital and labor income is not part of static tax analysis.  It inv

[2017-09-14 22:36] MattHJensen commented on #1515
@martinholmer, thanks very much for the extensive summary, and thanks again to @yuying27 for your excellent work on this project. @yuying27, if you have availability again later this fall or in the future, you are very welcome to continue your contributions to this project!

[2017-09-15 12:26] MattHJensen commented on #1549
Thanks @feenberg. I reported back to the user that he could use the [tc CLI](http://open-source-economics.github.io/Tax-Calculator/#cli) to accomplish this work and pointed him towards your suggestion to modify the data.

This cannot be done on TaxBrain right now.

Closing this issue. If further questions come up, I'll reopen it.

[2017-09-15 15:28] martinholmer commented on #1549
The question posed in issue #1549 focuses on analyzing tax liabilities for two individuals (one an employee and the other self-employed) with the same earnings and the same contribution to a tax-preferred retirement plan.  The employee makes a contribution to an employer-sponsored plan (like a 401k plan) and the self-employed individual makes a contribution to a traditional IRA.

Given my understa

[2017-09-15 15:47] martinholmer commented on #1549
Issue #1156 --- Tax-Calculator showing lower wages and salaries than expected --- discussed reasons for this, but did not consider the point raised in issue #1549: that Tax-Calculator wages and salaries are **net earnings** (that is, **gross earnings** minus **employee contributions** to employer-sponsored tax-preferred retirement plans).

Do the wages and salaries totals being used in the #1156 c

[2017-09-15 22:12] MattHJensen opened #1552 "Add preset for Ro Khanna and Sen. Sherrod Brown"
A user asked for help modeling the Ro Khanna and Sherrod Brown EITC expansion. Adding a preset seems like an easy medium for providing that help.

[Official description and link to legislative text](https://khanna.house.gov/media/press-releases/release-sen-sherrod-brown-and-rep-ro-khanna-introduce-landmark-legislation)

[TPC score](http://www.taxpolicycenter.org/taxvox/plan-radically-expand-earned

[2017-09-15 23:04] martinholmer commented on #1552
@MattHJensen said in #1552:

What exactly do you mean by a "preset"?
Does you mean a JSON reform file that represents this 2017 reform?
If so, I'll be happy to create one and add it to the taxcalc/reforms directory.

[2017-09-16 00:31] MattHJensen commented on #1552
Yes, that's what I mean.

Thank you very much!

[2017-09-20 15:03] andersonfrailey commented on #1549
@martinholmer, I'm looking at the CPS documentation and the wages and salaries variable, `wsal-val`, is described as "total wage and salary earnings."

The exact wording of the question is:

And then in the body of the text you see:

([page 9-3](http://www.nber.org/cps/cpsmar2015.pdf))

Given this, it appears to me that the CPS data contains gross earnings.

Unfortunately, I haven't seen any infor

[2017-09-21 00:05] MattHJensen opened #1557 "Simulating the earnings effect of a change in employer payroll tax"

[2017-09-21 13:02] martinholmer commented on #1552
Issue #1552 has been resolved by merge of pull request #1555.

[2017-09-21 13:02] #1552 closed

[2017-09-21 13:05] martinholmer commented on #1535
@MattHJensen,  What do you think about doing release 0.11.0 now?
I'll be happy to handle this, but wanted to get your thoughts before proceeding.

@Amy-Xu @andersonfrailey @hdoupe @GoFroggyRun

[2017-09-21 13:45] MattHJensen opened #1558 "Human readable parameter diff"
Many of our users work with Tax-Calculator through their research assistants.

Oftentimes the boss is quite knowledgeable about taxes, but the RA isn't.

This leads to mistakes in translation from boss to RA to model to RA to boss.

For example, the boss asks her RA to repeal the state and local tax deduction. The RA sets the state and local income and sales tax deduction haircut to one, not think

[2017-09-21 13:46] martinholmer commented on #1549
@andersonfrailey,  Thanks for your research into the earnings variables in the CPS data, which confirms that CPS earnings are what I call **gross earnings** in issue #1549.

[2017-09-21 14:01] martinholmer commented on #1558
@MattHJensen said in issue #1558:

Don't spend any time now on "how something like this would be implemented" just clarify your thinking about "what the user needs".

Everybody on the development team should contribute their ideas about what information should be in this document and how the document should be organized.  Also, views about whether this document should be ASCII text or HTML would b

[2017-09-21 14:29] andersonfrailey commented on #1558
At a minimum, I believe the document should have the parameter name, its description in the `current_law_policy.json` file, the default value, the new value, and the year that new value goes into effect.

As for the output file format, I'm in favor of a table with the above information sorted by parameter name or year of the reform.

I don't have a strong opinion on the output file type. My initia

[2017-09-21 15:15] MattHJensen commented on #1535
That sounds good to me.

Thank you!

[2017-09-21 15:18] martinholmer commented on #1558
Issue #1558 is mostly a TaxBrain issue because the `tc` CLI to Tax-Calculator already uses a commented text file with embedded JSON that specifies the reform's parameter changes.  And `tc` also accepts an assumption file that includes any behavior-response, consumption-response, growth-response, or growth-baseline changes that the user wants to make.  That file format also allows comments, so that

[2017-09-21 16:03] martinholmer commented on #1557
A TaxBrain user asked:

In answering this question, I'm going to follow the lead of the TaxBrain user who asked the question and ignore the Medicare (HI) payroll tax.

Here is what Tax-Calculator and TaxBrain do:

| AFTER | earnings | AGI         |  inctax | paytax |  alltax | expanded income |
| :---      | ---:         |   ---:        |       --: |     ---: |       ---: |

[2017-09-21 16:46] martinholmer commented on #1535
Release 0.11.0 was issued on 2017-09-21.

[2017-09-21 16:46] #1535 closed

[2017-09-21 16:59] martinholmer opened #1561 "Next release documentation"
In major pull requests, please add a commit that edits the 0.12.0 section of the release history in [RELEASES.md](https://github.com/open-source-economics/Tax-Calculator/blob/master/RELEASES.md#release-0120-on-2017--).

The last commit in 0.11.0 was c59d13e, which was the merge of #1559 on September 21, 2017.

[2017-09-22 15:47] MattHJensen commented on #1558
@martinholmer said:

This is not my diagnosis of the issue at hand, which is that _Tax-Calculator_ users do not have an easy way to generate a human-readable file that describes their reforms. Yes, they could prepare such a file themselves by copying and pasting the parameter documentation from current_law_policy.json into a reform file, but that is a significant amount of work and they don't do i

[2017-09-22 16:13] martinholmer opened #1562 "taxcalc/comparison/stats_summary.py script does not work"
The `taxcalc/comparison/variable_stats_summary.csv` file was last generated on May 4, 2017.

The `taxcalc/comparison/correlation.csv` file was last generated on April 20, 2017.

According to the [taxpuf repo](https://github.com/OpenSourcePolicyCenter/taxpuf/releases), the `puf.csv` file has changed twice since then: once on June 16 and again on July 5.

But the `taxcalc/comparison/stats_summary.py

[2017-09-22 16:25] martinholmer commented on #1549
It has been a week and nobody has corrected [my argument](https://github.com/open-source-economics/Tax-Calculator/issues/1549#issuecomment-329816059) that earnings in the PUF data are substantially understated for payroll tax calculation.  Is the lack of comment an implicit agreement?  Can anyone confirm that payroll taxes are levied on **gross earnings**?  By gross earnings, I mean earnings befor

[2017-09-22 16:30] martinholmer commented on #1558
@MattHJensen said:

Oh, so you're talking about people who are working with Tax-Calculator by developing custom Python scripts that specify reforms as a dictionary (rather than specify reforms in a JSON reform file)?  Is that the target audience for this enhancement?

[2017-09-22 17:01] MattHJensen commented on #1558
The users who I have seen encounter this problem are developing custom Python scripts that specify reforms as dictionaries, but I imagine users of JSON reform files would face the same problem. So the target audience is "anyone using Tax-Calculator locally to analyze reforms."

In some ways, TaxBrain users have it easier on this front because the edit parameters page includes, all in one place, ol

[2017-09-22 17:09] martinholmer commented on #1558
@MattHJensen said about issue #1558:

OK, this approach sounds promising.  Let me think about this in more detail.

@feenberg @Amy-Xu @andersonfrailey @hdoupe @GoFroggyRun @codykallen

[2017-09-22 17:10] hdoupe commented on #1558
@martinholmer said

I second this.  Giving the users the ability to spot bugs in the input processing logic would be very helpful.

[2017-09-22 18:55] Amy-Xu commented on #1562
@martinholmer I will look into this script shortly.

[2017-09-22 19:31] feenberg commented on #1558
On Fri, 22 Sep 2017, Martin Holmer wrote:

Let me repeat my suggestion:

From time to time I get revenue scores in the form of two-page memoes, the
first page describes the change in the law, the second has a distribution
chart with a footnote also describing the change. The two descriptions are
not always consistent and oftimes the description is quite vague so the
distribution table is not usefu

[2017-09-25 11:38] MattHJensen commented on #1549
@martinholmer, I plan to look into this closely today or tomorrow.

@andersonfrailey, thanks very much for looking into the CPS side of this. I'd be very interested in your view of the PUF side things as well.

[2017-09-25 12:10] martinholmer commented on #1549
@MattHJensen said in issue #1549:

One final thought before you plunge into this issue.  If my thinking is correct, when using PUF records (in `puf.csv`) we have correct earnings for income tax calculation and under-estimated earnings for payroll tax calculation.  On the other hand, if my thinking is correct, when using CPS records (in either`puf.csv` or `cps.csv`) we have over-estimated earnings

[2017-09-25 16:22] Amy-Xu opened #1565 "Example notebook glitch"
https://github.com/open-source-economics/Tax-Calculator/tree/master/read-the-docs/notebooks

The two notebooks cannot be loaded on github.

[2017-09-25 16:40] martinholmer commented on #1565
@Amy-Xu said in #1565:

Work just fine for me just now.  What happens on your computer?

[2017-09-25 17:20] Amy-Xu commented on #1565
@martinholmer Works well now. Sorry it was probably an internet issue.

[2017-09-25 17:20] #1565 closed

[2017-09-26 13:55] martinholmer commented on #1558
Issue #1558 has been resolved by pull requests #1564 and #1567.

[2017-09-26 13:55] #1558 closed

[2017-09-26 13:58] martinholmer commented on #1557
@MattHJensen,  What's the status of Tax-Calculator issue #1557?
Is there any reason to leave it open?

[2017-09-26 14:02] MattHJensen commented on #1557
I reported back the the requester and am waiting for a response. I am also still stewing on whether to suggest that we add some behavioral feedback to allow wages to change with the payroll tax. I'd like to leave it open a little longer.

[2017-09-26 14:56] MattHJensen commented on #1549
@martinholmer, my reading leads me to confirm your view of this issue regarding PUF variables: non-roth tax-deductible retirement contributions are missing from our payroll tax calculations.

I have not yet delved into the CPS documentation.

I don't have a firm view yet on how best to proceed, but I will offer a link to the Tax Policy Center's 2005 documentation that contains an extensive discuss

[2017-09-26 16:21] martinholmer commented on #1549
@MattHJensen,  Thanks for the TPC link in issue #1549.  I'll read that later in the week.

[2017-09-26 17:19] martinholmer commented on #1549
On page 32 of the TPC documentation, it says:

matched database and ages the record. The first-stage growth factors are applied to all the
appropriate fields and the Stage II-adjusted weight is read in from the database. Following this,
federal payroll taxes for Social Security and Medicare are calculated. After this, the steps and
order of calculations generally follows Form 1040. AGI is determin

[2017-09-26 17:23] MattHJensen commented on #1549
That's certainly what it implies. But your and my understanding of PUF earnings implies the opposite. That's why I was confused.

[2017-09-26 17:32] martinholmer commented on #1549
@MattHJensen said:

It seem likely that they have "fixed" the PUF earnings variable in their PUF-CPS input data file before any simulation begins.  Sort of like fixing the PUF earnings variables once in the taxdata repository instead of fixing them every time Tax-Calculator runs.  We do that sort of thing.

[2017-09-28 12:48] MattHJensen opened #1570 "Error with aged cps.csv file dump"
A Tax-Calculator user asks why he is getting an error.

[2017-09-28 12:51] MattHJensen commented on #1570
Closing.

[2017-09-28 12:51] #1570 closed

[2017-09-29 03:24] evtedeschi3 opened #1573 ""positional indexers are out-of-bounds" error on synthetic CPS file"
I've customized the cps.csv file to have updated data to 2017. The output is based on a reweighting of s006 in a non-policy dump to 2017. The file works fine when given a name different from "cps.csv" or "puf.csv",  however in those cases, TC CLI will not automatically extrapolate / age the data to future years. I would like to be able to take my custom csv and have TC extrapolate the variables to

[2017-09-29 12:22] evtedeschi3 commented on #1573
As an update: I compressed and moved my csv file to the package folder and ran the commands as "cps.csv". TC now says it's extrapolating but notes that I "loaded data for 2014" even though the entire file is set for 2017.

[2017-09-29 13:29] martinholmer commented on #1562
Issue #1562 has been resolved by pull request #1566.

[2017-09-29 13:29] #1562 closed

[2017-09-29 14:01] martinholmer commented on #1573
@evtedeschi3 said in issue #1573:

I'd like to help you be able to achieve your analytical goal, but I need to understand better what sort of analysis you want to conduct.  As best I can tell you're undertaking a pretty advanced analysis and `tc` is not helping you.  Perhaps there is another way to work with `tc` that will allow you to conduct your analysis or maybe `tc` needs to be enhanced, I ca

[2017-09-29 14:26] evtedeschi3 commented on #1573
Thanks for the help Martin. There's a simple question to start and then some context.

The simple question is: if the tc CLI encounters a "cps.csv" file with all 2017 (FLPDYR) data, does it actually extrapolate using its 2017 assumptions as a base even though the CLI returns that "You loaded data for 2014"? Or is it in fact treating the data as 2014 data and extrapolating from there?

Now for the

[2017-09-29 14:58] martinholmer commented on #1573
@evtedeschi3,  Thanks for your explanation.  There are many differences between the `puf.csv` sample/variables and the `cps.csv` sample/variables, so I'm not sure how successful it will be to just change the weights.  But I see what you're doing now.

There is no way to do this once in 2017 and the "extrapolate" to all subsequent years because `tc` does not have the extrapolation information neede

[2017-09-29 15:02] martinholmer commented on #1573
@evtedeschi3 asked:

Neither.  Entering `cps.csv` as the INPUT argument to `tc` automatically reads the 2014 `cps.csv` data (and associated weights and extrapolation factors) out of the `taxcalc` conda package.  So, it completely ignores any file you named `cps.csv`.

[2017-09-29 15:08] evtedeschi3 commented on #1573
**@martinholmer** said:

I went into the local taxcalc conda package folder, backed up the default cps.csv.gz, and replaced it with my custom file. Ran tc after backup & deletion but before I moved my custom file to make sure I was working with the right folder: got a file-not-found error so figured I had identified the right one.

[2017-09-29 15:13] martinholmer commented on #1573
@evtedeschi3 said:

Have you cloned the Tax-Calculator repository?
What do you mean by the "taxcalc conda package folder"?   What directory is that in the repository?

[2017-09-29 15:16] evtedeschi3 commented on #1573
**martinholmer** asked:

../anaconda/lib/python3.6/site-packages/taxcalc

[2017-09-29 15:36] hdoupe commented on #1573
@evtedeschi3 the `taxcalc` conda package is very convenient when you are using the package as is.  However, since you are making modifications to the package, you may find it easier to clone the Tax-Calculator github repository and work directly on that.  You can check out our [contributor guide](http://taxcalc.readthedocs.io/en/latest/contributor_guide.html) to help you get started.

[2017-09-29 15:37] evtedeschi3 commented on #1573
Thanks **@hdoupe **. Yes, when I arrive at a satisfactory solution that's exactly what I plan to do. Right now I'm just tinkering.

[2017-09-29 15:47] martinholmer commented on #1573
@evtedeschi3 said that after doing `conda install -c ospc taxcalc`, he

When I install the taxcalc package and go to that directory, I see (in part):
[code]
Notice that the weights for each `cps.csv` sample individual for each year are in the `cps_weights.csv.gz` file, **not** in the `cps.csv.gz` file.

If you wanted to put your customized weights for 2017 and all the other subsequent years into t

[2017-09-29 16:00] evtedeschi3 commented on #1573
**@martinholmer** said:

Good information. Your warning is appreciated but a lot of this exercise for me is just comprehending the nitty gritty mechanics of how tc works.

I forgot to mention that I've been trying that in the background for a day now with different years. In fact what prompted my original question was the lack of indication from tc CLI that it was extrapolating to future years. I

[2017-09-29 16:14] martinholmer commented on #1573
@evtedeschi3 said:

OK.  So, now you understand that `tc` generally does not extrapolate (or "age") input data except in two special cases (when input is `puf.csv` or `cps.csv`).

I think we'd all be interested in hearing from you about how your high-level multiple-year weight-calibration work turns out.

[2017-09-29 16:21] martinholmer opened #1575 "Review of pending merges"

[2017-09-29 16:22] evtedeschi3 commented on #1573
**@martinholmer** said:

I'd certainly be happy to share my impressions. I'm cautiously pessimistic at this point as I think that even targeting five aggregates by income bin is solvable in too many ways to necessarily mimic the PUF in policy analysis, but will dig in.

Oh, and we're looking into purchasing a copy of the PUF anyway so this all may turn out to be a fun but ultimately moot exercise

[2017-09-29 16:23] martinholmer commented on #1575
@MattHJensen @feenberg @Amy-Xu @andersonfrailey @hdoupe @codykallen @jdebacker @rickecon
See Tax-Calculator issue #1575 with respect to pending pull requests and review of the changes.

[2017-09-29 16:31] martinholmer commented on #1573
@evtedeschi3 said:

In order for us to share our current `puf.csv` file, you would new to buy the 2009 IRS-SOI PUF file.
Sometime in the coming weeks or months, we might switch to a more recent PUF file.
@andersonfrailey can you say something about the timing and what the new PUF year would be?

[2017-09-29 20:17] martinholmer commented on #1575
If there are no questions or concerns about pull request #1576, then it will be merged into the master branch on Thursday, October 5th.

@MattHJensen @feenberg @Amy-Xu @andersonfrailey @hdoupe @codykallen @jdebacker @rickecon

[2017-09-29 20:24] martinholmer commented on #1573
@evtedeschi3 said (my emphasis):

Yes, it is not clear how exactly to adjust the weights.  Plus many of the reasons for different tax results have nothing to do with weights, but are related to missing income variables, top-coded income variables, and very few, if any, very rich people in the `cps.csv` file.

[2017-09-29 20:36] rickecon commented on #1573
A suggestion for re-weighting CPS variables to match income targets.

1. Choose `N` income targets you want to match.
2. Group the CPS observations to correspond (roughly, if not exactly) into `N` bins corresponding to the bins of the income targets you chose.
3. Estimate `N` CPS bin weights that make the CPS income averages match the `N` income targets as closely as possible (minimize a sum of sq

[2017-09-29 20:42] evtedeschi3 commented on #1573
Yes **@rickecon** that's the basic approach I've been using, although looping through just those steps doesn't converge. So I've added steps that target above- or below-mean filers for reweight depending on the over/under shoot at each step.

[2017-10-02 22:39] martinholmer commented on #1575
Any review of the pending merge(s) would be appreciated.
If there are no questions or concerns about pull request #1577, then
it will be merged into the master branch on Friday, October 6th.

@MattHJensen @feenberg @Amy-Xu @andersonfrailey @hdoupe @GoFroggyRun @codykallen @jdebacker @rickecon

[2017-10-04 22:08] #1575 closed

[2017-10-06 19:06] martinholmer commented on #1573
@evtedeschi3,  You are right that the CPS results using the Tax-Calculator CLI `tc` locally on your computer are not always a good match with the PUF results generated on the TaxBrain website.  You had mentioned the possibility of getting a PUF license from IRS-SOI so that you could get results on your computer that were closer that those generated by TaxBrain.

There is another way to get the sam

[2017-10-06 19:09] martinholmer commented on #1573
@evtedeschi3,  I'm going to close issue #1573 (that you raised about problems with the synthetic CPS file you created), but we hope you keep working with Tax-Calculator and TaxBrain.  If you have any questions, please raise a new issue.  And if you have any suggestions about improvements, please let us know about them.

[2017-10-06 19:09] #1573 closed

[2017-10-06 19:17] martinholmer commented on #1156
Should leave issue #1156 open as long as the closely-related issue #1549 is open.

[2017-10-09 18:07] travelmail26 opened #1580 "Mortgage interest tax deduction option?"
is it possible to create an option to limit order and the mortgage interest rate deduction? I didnt see it in the list of options and its a very popular idea right now.

[2017-10-09 20:05] martinholmer commented on #1580
@travelmail26 asked:

You can use [TaxBrain](http://www.ospc.org/taxbrain/) to specify a maximum amount for itemized total interest paid (most of which is mortgage interest) using these Interest Paid Ceiling boxes:

![screen shot 2017-10-09 at 3 53 49 pm](https://user-images.githubusercontent.com/12170745/31356194-3218283c-ad0b-11e7-8e43-b44e63410e1f.png)

Does this capability meet your needs?
If